@import "../styleguide/colours";

.page-header {
  margin: 1em 1em 3em 1em;
  padding: 0 0 2em 0;
  border-bottom: 5px solid $main-colour;

  @include media(desktop) {
    margin: 1em 2em 3em 2em;
  }

  .hgroup {
    padding: 0;

    h1 {
      @include bold-48;
      color: $text-colour;
      padding-top: 0.7rem;
      padding-bottom: 1.3rem;
    }

    h2.subtitle{
      margin: 0;
      color: $secondary-text-colour;
      @include core-24;
    }
  }
}
