<div class="notification-summary">
<h2 class="heading-medium no-top-margin">GOV.UK Elements has now been replaced by the GOV.UK Design System</h2>

<p>GOV.UK Elements is:<p>

<ul>
<li>no longer maintained</li>
<li>will only be updated for major bug fixes and security patches</li>
<li>does not meet the <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">Web Content Accessibility Guidelines (WCAG 2.1 level AA) accessibility standard</a></li>
</ul>

<p>This framework will remain available in case you’re currently using it. To help your service meet accessibility requirements, you should use the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>. You can <a href="https://frontend.design-system.service.gov.uk/migrating-from-legacy-products/"> migrate to the Design System from GOV.UK Elements</a>.</p>

</div>
