<div class="notification-summary">
  <h2 class="heading-medium no-top-margin">The GOV.UK Design System launched on 22 June 2018</h2>
  <p>The Government Digital Service (GDS) is retiring GOV.UK Elements following the launch of the GOV.UK Design System. GOV.UK Elements will remain available to you if you are currently using it but will no longer be maintained. GDS will only roll out major bug fixes and security patches.</p>
  <p>For new projects, you can get all of the information about GOV.UK styles, components and patterns in the <a href="https://www.gov.uk/design-system">GOV.UK Design System</a>.</p>
</div>
