<div class="notification-summary">
  <h2 class="heading-medium no-top-margin">The GOV.UK Design System is launching 22 June</h2>
  <p>The Design System will contain new and improved versions of everything you can currently find here.</p>
  <p>If you’re starting a new project and you’re able to wait until 22 June, we recommend using the Design System when it launches.</p>
  <p>GOV.UK elements will still be available in case you are already using it, but GDS will only be making serious bug fixes and security patches after this date.</p>
</div>
