<div class="header-proposition">
  <div class="content">
    <a href="/" id="proposition-name">Webové komponenty</a>
    <!-- <a role='button' href='#proposition-links' class='js-header-toggle menu' aria-controls='navigation' aria-label='Show or hide Top Level Navigation'>Menu</a>
    <nav id='proposition-menu'>
      <ul id='proposition-links' aria-label='Top Level Navigation'>
        <li><a href='url-to-page-2'>Základné informácie</a></li>
        <li><a href='url-to-page-1' class='active'>Formulár</a></li>
        <li><a href='url-to-page-2'>Prílohy</a></li>
        <li><a href='url-to-page-2'>Podpisy</a></li>
      </ul>
    </nav> -->
  </div>
</div>
