<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Webové komponenty</a>
      <!--<ul id="proposition-links">-->
        <!--<li><a href="https://www.gov.uk/service-manual/service-standard">Štandard digitálnej služby</a></li>-->
        <!--<li><a href="https://www.gov.uk/service-toolkit">-->
          <!--Servisný toolkit</a></li>-->
        <!--<li><a href="https://www.gov.uk/service-manual">Servisná príručka</a></li>-->
        <!--<li><a href="https://www.gov.uk/contact/govuk">Spätná väzba</a></li>-->
      <!--</ul> @TODO-->
    </nav>
  </div>
</div>
