<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="https://www.gov.uk/service-manual" id="proposition-name">Government Service Design Manual</a>
      <ul id="proposition-links">
        <li><a href="https://www.gov.uk/service-manual/digital-by-default">Digital by Default Service Standard</a></li>
        <li><a href="https://www.gov.uk/service-manual">Start using the manual</a></li>
        <li><a href="https://www.gov.uk/contact/govuk">Feedback</a></li>
      </ul>
    </nav>
  </div>
</div>
