#global-cookie-message {

  padding-top: 8px;
  padding-bottom: 8px;

  padding-left: 0;
  padding-right: 0;

  // Don't set margins or padding on any content inside inner block
  p {
    margin: 0;
  }

}
