#footer .footer-wrapper {
  @include outer-block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  @include media(tablet) {
    padding-top: 60px;
  }
}

#footer .footer-meta {
  @include inner-block;
}
