#footer {
  .footer-wrapper {
    @include inner-block;
    max-width: 960px;
    padding-top: 20px;
    @include media(tablet) {
      padding-top: 60px;
    }
    // Prevent footer resizing in IE8 and below
    @include ie-lte(8){
      width: 960px;
    }
  }
}
