.sass-cache
.DS_Store
.start.pid
node_modules
govuk_modules
lib/govuk_template.html

# Ignore compiled stylesheets
public/stylesheets/

# Ignore WIP form examples
views/examples/forms

# Ignore test files
dist/*.html

# Wraith
shots
shots_history
