.sass-cache
.DS_Store
.start.pid
node_modules
govuk_modules
lib/govuk_template.html
# Ignore generated snippets
app/views/snippets/encoded/*.html
# Ignore compiled stylesheets
public/stylesheets/

# Ignore test files
dist/*.html

# Wraith
shots
shots_history
