.sass-cache
.DS_Store
.start.pid
node_modules
# Ignore copied folders
public/*
# Ignore built package
dist/*
# Wraith
shots
shots_history
# Ignore folders which have been removed
lib/*
app/views/snippets/encoded/*
govuk_modules/*
