language: node_js
node_js:
 - "4.4.7"
before_install:
- npm install -g grunt-cli
install:
- npm install
script:
- npm test
notifications:
  email: false
before_deploy:
- test $TRAVIS_TEST_RESULT = 0
deploy:
  - provider: heroku
    api_key:
      secure: nQCOBk2EnuJ0yaC0cO2RabfLlF+3WiZ4MrLLBPt3l+fNQO69KcJZu59Npbt45f/ip6Dv8cEGxdzSqzNsPu/XB+fmyAZd1bml0u7JMKWNQeVLKddoM+A1ETFSyXHoM/Ra3Qw8+2XS/ZJNTAD7BGibSh8SvzYdg9fy9kCN77Sn9Ro=
    app: govuk-elements
    on: master
  - provider: heroku
    api_key:
      secure: nQCOBk2EnuJ0yaC0cO2RabfLlF+3WiZ4MrLLBPt3l+fNQO69KcJZu59Npbt45f/ip6Dv8cEGxdzSqzNsPu/XB+fmyAZd1bml0u7JMKWNQeVLKddoM+A1ETFSyXHoM/Ra3Qw8+2XS/ZJNTAD7BGibSh8SvzYdg9fy9kCN77Sn9Ro=
    app: govuk-elements-sass-release
    on:
      tags: true
      all_branches: true
  - provider: npm
    api_key:
      secure: VAHPK3W0YVWqx03j659FbKjvEwd+UIDfb1x55to9u+PzyVqQp1CXalsYuKQSavxqInaV3gzNJpbANo6SIXlpAUxZPChiTk0rJwUhz7u1fRY0Lshb+aDOMnXSfjSqiIGThNRpjYdxBiJsnrYP1T6unHuo2A1K8mXjwdFtxhadh+w=
    email: govuk-dev@digital.cabinet-office.gov.uk
    on:
      tags: true
      all_branches: true
sudo: false
