// Details
// ==========================================================================

details {
  display: block;
  clear: both;

  summary {
    display: inline-block;
    color: $govuk-blue;
    cursor: pointer;
    position: relative;
    margin-bottom: em(5);
    counter-reset: summary-closed;

    &:hover {
      color: $link-hover-colour;
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }

    &::before {
      content: counter(summary-closed, disclosure-closed) " ";
    }
  }

  &[open] > summary {
    counter-reset: summary-open;
  }

  &[open] > summary::before {
    content: counter(summary-open, disclosure-open) " ";
  }

  // Underline only summary text (not the arrow)
  .summary {
    text-decoration: underline;
  }

  // Match fallback arrow spacing with -webkit default
  .arrow {
    margin-right: .35em;
    font-style: normal;
  }

}
