@media only screen 
and (device-width : 375px) 
and (device-height : 812px)
and (orientation: landscape) 
and (-webkit-device-pixel-ratio : 3)  {
  
  header#global-header,
  #wrapper, .site-wrapper,
  footer#footer,
  #global-app-error {
    /* iOS 11 */
    padding-left: calc(constant(safe-area-inset-left) - 30px);
    padding-right: calc(constant(safe-area-inset-right) - 30px);
    
    /* iOS 11.2+ */
    padding-left: calc(env(safe-area-inset-left) - 30px);
    padding-right: calc(env(safe-area-inset-right) - 30px);
  }

  #global-header-bar {
    /* iOS 11 */
    margin-left: constant(safe-area-inset-left);
    margin-right: constant(safe-area-inset-right);
    
    /* iOS 11.2+ */
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }

}