// Topic subsections
// Fallback styles first, for when JS is disabled

// Here we're using BEM which uses __ to denote an element within a block
// scss-lint:disable SelectorFormat

.subsection {
  width: 100%;
  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: $gutter * 1.5;
  }

  &__title {
    @include bold-20;
    margin-bottom: 5px;
  }

  &__description {
    @include core-19;
    margin-bottom: $gutter-one-quarter;

    @include media(tablet) {
      margin-bottom: $gutter-half;
    }
  }

  &__list {
    @include core-19;
    padding-left: 0;
    list-style-type: none;
  }

  &__list-item {
    margin-bottom: 0.5em;
  }

  &__list-item a {
    text-decoration: none;
  }
}


 // When JavaScript is enabled, create accordion
.js-accordion-with-descriptions {

  // Wrapper for 'open all / close all' button
  .subsection-controls {
    display: none;

    @extend %contain-floats;

    button {
      float: right;

      @include core-16;
      cursor: pointer;
      background: none;
      border: none;
      color: $link-colour;
      padding: 0.5em 0;
    }
  }

  // Wrapper for subsections
  .subsection-wrapper {
    @extend %contain-floats;
    border-bottom: 1px solid $border-colour;
  }

  .subsection {
    margin-bottom: 0;

    @include media(tablet) {
      margin-bottom: 0;
    }

    &__header {
      position: relative;
      padding-top: 14px;
      padding-bottom: 12px;
      border-top: 1px solid $border-colour;

      // Change the background of the header on hover
      &:hover {
        cursor: pointer;
        background: $highlight-colour;
      }
    }

    &__title {
      button {
        color: $govuk-blue;
        cursor: pointer;

        @include bold-20;
        background: none;
        border: 0;
        padding-left: 0;
        text-align: left;
      }

      margin-bottom: 0;
      margin-right: $gutter-half;

      @include media(tablet) {
        margin-right: $gutter;
      }
    }

    &__description {
      margin-bottom: 0;
      margin-right: $gutter-half;

      @include media(tablet) {
        margin-bottom: 0;
        margin-right: $gutter;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 0;

      @include media (tablet) {
        right: 15px;
      }

      height: 16px;
      width: 16px;
      margin-top: -8px;

      // PNG fallback for SVG
      background-image: image-url('icons-plus-minus.png');
      // SVG sprite
      background: image-url("icons-plus-minus.svg"), linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      background-position: 0 -16px;
    }

    &--is-open {
      .subsection__icon {
        background-position: 0 0;
      }
    }

    &__content {
      padding-top: 5px;
      padding-bottom: $gutter-half;
    }

    &--is-open {
      .subsection__content {
        @include media(tablet) {
          padding-top: 10px;
          padding-bottom: $gutter;
        }
      }
    }

  }
}
