@import "main";

// ==========================================================================
// Service Design Manual styles
// ==========================================================================

@import "service-design-manual/helpers/page-header";
@import "service-design-manual/helpers/breadcrumbs";

// Adjust Service Design Manual header to align with content
#global-breadcrumb,
.page-header {
  margin-left: $gutter-half;
  margin-right: $gutter-half;

  @include media(tablet) {
    margin-left: $gutter;
    margin-right: $gutter;
  }
}
#global-breadcrumb li {
  margin-bottom: 0;
}


// ==========================================================================
// Elements page styles
// ==========================================================================

// These are example styles, used only for the Elements page example boxes

// Headings
// Used with heading-large = 36px
.heading-with-border {
  border-top: 1px solid $border-colour;
  padding-top: em(45, 36);
}

// Text
.tight {
  margin-bottom: 0;
}

// Lists
.list-bullet {
  margin-bottom: ($gutter*1.5);
}


// Example boxes
// ==========================================================================

.example {
  @include inner-block;
  @include contain-floats;
  position: relative;
  overflow: hidden;
  border: 1px solid $grey-2;
  margin-top: $gutter-half;
  margin-bottom: $gutter*1.5;

  padding-top: $gutter;
  padding-bottom: $gutter-half;

  @include media(tablet) {
    padding-top: $gutter*1.5;
    padding-bottom: $gutter;
  }
  &:before {
    content: "EXAMPLE";

    position: absolute;
    top: 0;
    left: 0;

    padding: em(4) em(15) em(4) em(15);

    @include core-14;
    background: $grey-2;
    color: white;
  }

  // Blue text for heading sizes
  .highlight {
    font-style: normal;
    color: $hm-government;
  }

}


// 1. Layout
// ==========================================================================

// Grid layout boxes
.example-grid p {
  width: 100%;
  background: url("../../public/images/examples/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 0;
  @include media(tablet) {
    min-height: 60px;
  }
  overflow: hidden;
  text-indent: -999em;
}


// 2. Typography
// ==========================================================================

// Inset text
.example {

  // Reduce top and bottom margins on content in example boxes
  .panel-indent {
    margin: 0;
  }
}


// 3. Colour
// ==========================================================================

// Colour swatches
.swatch {
  width: 60px;
  height: 60px;
  @include border-radius(100%);
  @include media(mobile) {
    clear: both;
    float: left;
    margin-right: $gutter-half;
    margin-bottom: $gutter-half;
  }
  @include media(tablet) {
    margin: 0 auto $gutter-half auto;
  }
}

@mixin color-swatches {
  @each $color in $palette {
    $color-name: nth($color, 1);
    $color-var: nth($color, 2);
    .swatch-#{$color-name} {
      background-color: $color-var;
    }
  }
}

// Generate swatch classes for each colour in palette list
@include color-swatches;

.swatch-alpha {
  background-color: $alpha-colour;
}

.swatch-beta {
  background-color: $beta-colour;
}

.swatch-error {
  background-color: $error-colour;
}

.swatch-focus {
  background-color: $yellow;
}

.swatch-button-colour {
  background-color: $button-colour;
}

.swatch-black {
  background-color: $black;
}

.swatch-grey-1 {
  background-color: $grey-1;
}

.swatch-grey-2 {
  background-color: $grey-2;
}

.swatch-grey-3 {
  background-color: $grey-3;
}

.swatch-grey-4 {
  background-color: $grey-4;
}

.swatch-white {
  background-color: $white;
  border: 1px solid $grey-3;
}

.swatch-text-colour {
  background-color: $text-colour;
}

.swatch-text-secondary {
  background-color: $secondary-text-colour;
}

.swatch-page-colour {
  background-color: $page-colour;
  border: 1px solid $grey-3;
}

.swatch-button-colour {
  background-color: $button-colour;
}

.swatch-link-colour {
 background-color: $link-colour;
}

.swatch-link-colour-visited {
 background-color: $link-visited-colour;
}

.swatch-link-colour-hover {
 background-color: $link-hover-colour;
}

.swatch-border-colour {
  background-color: $border-colour;
}

.swatch-panel-colour {
  background-color: $panel-colour;
}

.swatch-highlight-colour {
  background-color: $highlight-colour;
}

// Colour swatch layout
.swatch-wrapper {
  @include media(tablet) {
    float: left;
    width: 20%;
    text-align: center;
  }

  .heading-small {
    margin-bottom: em(10);
  }

  ul {
    padding-bottom: $gutter-half;
    @include media(mobile) {
      min-height: 50px;
      padding-top: 10px;
    }
  }
  li {
    @include core-16;
  }
  b {
  font-weight: bold;
  text-transform: uppercase;
  }
}


// 4. Images and icons
// ==========================================================================

.example-images img {
  max-width: 100%;
  vertical-align: top;
}

.example-icons .heading-medium {
  margin-top: 0;
}

.icon-list li {
  @include contain-floats;
  margin-bottom: 5px;
  position: relative;
  min-height: 50px;
}

.icon-list .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.icon-list .icon-text {
  position: absolute;
  left: 20%;
  top: 0;
  margin-top: 0;
}


// 5. Data
// ==========================================================================

.data .bold-xlarge,
.data .bold-xxlarge {
  line-height: 0.8;
}

.example .data p {
  margin-bottom: 0;
}


// 6. Forms
// ==========================================================================

// Remove form group spacing, within examples
.example .form-group {
  margin-bottom: 0;
}

// Show form group spacing, for examples only
.form-group-example .form-group {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter*1.5);
  }
}
.form-group-example .form-group-related {
  margin-bottom: 10px;
  @include media(tablet) {
    margin-bottom: 20px !important;
  }
}

// Add space under legend, for inline radio example
.example legend.form-label {
  margin-bottom: 20px;
}


// 7. Buttons
// ==========================================================================

.example-button .button {
  margin-bottom: 15px;  // increase spacing for this example
}

.example-button .heading-small {
  margin-top: 0;
}

.example-button .swatch-wrapper {
  width: 100%;
}

.example-button ul {
  padding-bottom: 0;
}


// 8. Errors and validation
// ==========================================================================


// 9. Tables
// ==========================================================================

