$is-ie: true;
$ie-version: 6;
$mobile-ie6: false;

// GOV.UK elements
@import "govuk-elements";

// Extra styles for GOV.UK elements
// (Example boxes, code snippets underneath examples, colour swatches, non-GOV.UK styles)
@import "elements-example-styles";
