// Lists
.list-bullet {
  margin-bottom: ($gutter*1.5);
}

.list-underline {
  border-top: 1px solid #bfc1c3;
}

.list-underline li {
  border-bottom: 1px solid #bfc1c3;
  padding: 2px 0 3px 0;
}

.list-underline a {
  text-decoration: none;
}

// List variants

.list-contents li {
  @include core-16;
}