// Use for paragraphs before lists
.lead-in {
  margin-bottom: 0;
}

.no-top-margin {
  margin-top: 0;
}

// Remove top margin from headings in the "Creating buttons" example
.example-button .heading-small {
  margin-top: 0;
}

// Add spacing headings
.divider {
  margin-top: 4em;
}

// Page contents
.heading-contents {
  margin-top: 3em;
}


// Make these modifiers for a data component
.data .bold-xlarge,
.data .bold-xxlarge {
  line-height: 0.8;
}

.example .data p {
  margin-bottom: 0;
}

// Make swatch wrapper full width for "Creating buttons" example
.example-button .swatch-wrapper {
  width: 100%;
}

// Move this into base.scss
.example-images img {
  max-width: 100%;
  vertical-align: top;
}

