<table>
  <thead>
    <tr>
      <th scope="col">Month you apply</th>
      <th class="numeric" scope="col">Rate for vehicles</th>
      <th class="numeric" scope="col">Rate for bicycles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">January</th>
      <td class="numeric">£165.00</td>
      <td class="numeric">£85.00</td>
    </tr>
    <tr>
      <th scope="row">February</th>
      <td class="numeric">£165.00</td>
      <td class="numeric">£85.00</td>
    </tr>
    <tr>
      <th scope="row">March</th>
      <td class="numeric">£151.25</td>
      <td class="numeric">£77.90</td>
    </tr>
    <tr>
      <th scope="row">April</th>
      <td class="numeric">£136.10</td>
      <td class="numeric">£70.10</td>
    </tr>
  </tbody>
</table>
