<table>
  <thead>
    <tr>
      <th scope="col">Mesiac</th>
      <th class="numeric" scope="col">Poplatok za vozidlo</th>
      <th class="numeric" scope="col">Poplatok za bicykel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Január</th>
      <td class="numeric">165,00 EUR</td>
      <td class="numeric">85,00 EUR</td>
    </tr>
    <tr>
      <th scope="row">Február</th>
      <td class="numeric">165,00 EUR</td>
      <td class="numeric">85,00 EUR</td>
    </tr>
    <tr>
      <th scope="row">Marec</th>
      <td class="numeric">151,25 EUR</td>
      <td class="numeric">77,90 EUR</td>
    </tr>
    <tr>
      <th scope="row">Apríl</th>
      <td class="numeric">136,0 EUR</td>
      <td class="numeric">70,10 EUR</td>
    </tr>
  </tbody>
</table>
