<table>
  <thead>
    <tr>
      <th scope="col">Mesiac žiadosti</th>
      <th class="numeric" scope="col">Poplatok za vozidlo</th>
      <th class="numeric" scope="col">Poplatok za bicykel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Január</th>
      <td class="numeric">€165.00</td>
      <td class="numeric">€85.00</td>
    </tr>
    <tr>
      <th scope="row">Február</th>
      <td class="numeric">€165.00</td>
      <td class="numeric">€85.00</td>
    </tr>
    <tr>
      <th scope="row">Marec</th>
      <td class="numeric">€151.25</td>
      <td class="numeric">€77.90</td>
    </tr>
    <tr>
      <th scope="row">Apríl</th>
      <td class="numeric">€136.10</td>
      <td class="numeric">€70.10</td>
    </tr>
  </tbody>
</table>
