<div class="form-section">
  <h2 class="heading-medium">
              Example: input text with form-control classes
  </h2>

  <div class="form-group">
    <label class="form-label" for="form-control-1-8">
      Input with class form-control-1-8 (12.5% width)
    </label>
    <input class="form-control form-control-1-8" id="form-control-1-8" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="form-control-1-4">
      Input with class form-control-1-4 (25% width)
    </label>
    <input class="form-control form-control-1-4" id="form-control-1-4" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="form-control-1-3">
      Input with class form-control-1-3 (33% width)
    </label>
    <input class="form-control form-control-1-3" id="form-control-1-3" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="form-control-1-2">
      Input with class form-control-1-2 (50% width - default form-control size)
    </label>
    <input class="form-control form-control-1-2" id="form-control-1-2" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="form-label">
      Input with class form-control-2-3 (66% width)
    </label>
    <input class="form-control form-control-2-3" id="form-control-2-3" type="text">
  </div>

  <div class="form-group">
    <label class="form-label" for="form-control-3-4">
      Input with class form-control-3-4 (75% width)
    </label>
    <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
  </div>
</div>
