<h3 class="heading-medium">Which types of waste do you transport regularly?</h3>
<p>Select all that apply</p>

<form>
  <fieldset>

    <legend class="visually-hidden">Which types of waste do you transport regularly?</legend>

    <label class="block-label selection-button-checkbox" for="waste-type-1">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      Waste from animal carcasses
    </label>
    <label class="block-label selection-button-checkbox" for="waste-type-2">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      Waste from mines or quarries
    </label>
    <label class="block-label selection-button-checkbox" for="waste-type-3">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      Farm or agricultural waste
    </label>

  </fieldset>
</form>
