<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="heading-medium">
          Máte už vytvorený osobný účet?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Áno">
        <label for="radio-inline-1">Áno</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Nie">
        <label for="radio-inline-2">Nie</label>
      </div>

    </fieldset>
  </div>
</form>
