<h1 class="heading-medium" id="example-conditional-errors">
  Váš plat
</h1>

<form>
  <div class="form-group form-group-error">

    <fieldset>

      <legend>
        <span class="form-label-bold">Ako často dostávate výplatu?</span>
        <span class="error-message">Vyberte odpoveď</span>
      </legend>

      <div class="multiple-choice" data-target="paid-weekly">
        <input type="radio" name="radio-income-group" value="Yes" id="example-paid-weekly">
        <label for="example-paid-weekly">Týždenne</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="paid-weekly">
        <label class="form-label" for="example-paid-weekly-pay">Aký je váš čistý týždenný príjem (po odpočítaní dane a odvodov)?</label>
        <input class="form-control" name="example-paid-weekly-pay" type="text" id="example-paid-weekly-pay">
      </div>

      <div class="multiple-choice" data-target="paid-fortnightly">
        <input type="radio" name="radio-income-group" value="Yes" id="example-paid-fortnightly">
        <label for="example-paid-fortnightly">Každý druhý týždeň</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="paid-fortnightly">
        <label class="form-label" for="example-paid-fortnightly-pay">Aký je váš čistý týždenný príjem (po odpočítaní dane a odvodov)?</label>
        <input class="form-control" name="example-paid-fortnightly-pay" type="text" id="example-paid-fortnightly-pay">
      </div>

      <div class="multiple-choice" data-target="paid-monthly">
        <input type="radio" name="radio-income-group" value="Yes" id="example-paid-monthly">
        <label for="example-paid-monthly">Mesačne</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="paid-monthly">
        <label class="form-label" for="example-paid-monthly-pay">Aký je váš čistý mesačný príjem (po odpočítaní dane a odvodov)?</label>
        <input class="form-control" name="example-paid-monthly-pay" type="text" id="example-paid-monthly-pay">
      </div>

    </fieldset>
  </div>
</form>

<h1 class="heading-medium" id="example-conditional-errors-2">
  Váš plat
</h1>

<form>
  <div class="form-group">

    <fieldset>

      <legend>
        <span class="form-label-bold">Ako často dostávate výplatu?</span>
      </legend>

      <div class="multiple-choice" data-target="paid-weekly-2">
        <input type="radio" name="radio-income-group-2" value="Yes" id="example-paid-weekly-2">
        <label for="example-paid-weekly-2">Týždenne</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="paid-weekly-2">
        <label class="form-label" for="example-paid-weekly-pay-2">Aký je váš čistý týždenný príjem (po odpočítaní dane a odvodov)?</label>
        <input class="form-control" name="example-paid-weekly-pay-2" type="text" id="example-paid-weekly-pay-2">
      </div>

      <div class="multiple-choice" data-target="paid-fortnightly-2">
        <input type="radio" name="radio-income-group-2" value="Yes" id="example-paid-fortnightly-2">
        <label for="example-paid-fortnightly-2">Každý druhý týždeň</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="paid-fortnightly-2">
        <label class="form-label" for="example-paid-fortnightly-pay-2">Aký je váš čistý týždenný príjem (po odpočítaní dane a odvodov)?</label>
        <input class="form-control" name="example-paid-fortnightly-pay-2" type="text" id="example-paid-fortnightly-pay-2">
      </div>

      <div class="multiple-choice" data-target="paid-monthly-2">
        <input type="radio" name="radio-income-group-2" value="Yes" id="example-paid-monthly-2" checked="checked">
        <label for="example-paid-monthly-2">Mesačne</label>
      </div>
      <div class="panel panel-border-narrow panel-with-error" id="paid-monthly-2">
        <div class="form-group form-group-error">
          <label class="form-label" for="example-paid-monthly-pay-2">
            Aký je váš čistý mesačný príjem (po odpočítaní dane a odvodov)?
            <span class="error-message">
              Miesto pre chybovú hlášku
            </span>
          </label>
          <input class="form-control" name="example-paid-monthly-pay-2" type="text" id="example-paid-monthly-pay-2">
        </div>
      </div>

    </fieldset>
  </div>
</form>

