<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
          Aká je vaša národnosť?
        </h1>
        <span class="body-text">Označte všetky možnosti, ktoré sú pre vás relevantné.</span>
      </legend>

      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="checkbox" value="Slovak">
        <label for="nationalities-british">slovenská</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="checkbox" value="Czech">
        <label for="nationalities-irish">česká</label>
      </div>
      <div class="multiple-choice" data-target="example-different-country">
        <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
        <label for="nationalities-other">občan inej národnosti</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="example-different-country">
        <label class="form-label" for="nationalities-other-country">Názov krajiny</label>
        <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
      </div>

    </fieldset>
  </div>
</form>
