<h1 class="heading-medium">
  Do you already have a personal user account?
</h1>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Do you already have a personal user account?</legend>

      <label class="block-label selection-button-radio" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label selection-button-radio" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </div>
</form>
