<h1 class="heading-medium">Where do you live?</h1>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Where do you live?</legend>

      <label class="block-label selection-button-radio" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        Northern Ireland
      </label>
      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        Isle of Man or the Channel Islands
      </label>
      <p class="form-block">or</p>
      <label class="block-label selection-button-radio" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        I am a British citizen living abroad
      </label>

    </fieldset>
  </div>
</form>
