{% if error %}
<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

  <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
    Miesto pre správu, ktorá upozorňuje, že nastal problém
  </h2>

  <p>
    Popis s odkazom na otázku, v ktorej nastala chyba
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Popis s odkazom na otázku, v ktorej nastala chyba</a></li>
  </ul>

</div>
{% endif %}

<h1 class="heading-large">
  Skontrolujte si svoje osobné údaje
</h1>

<p class="lede">
  Pozrite sa na svoje meno, podpis a ďalšie podrobnosti.
</p>


<div class="form-group {% if error %} form-group-error{% endif %}">
  <fieldset>

    <legend {% if error %} id="example-personal-details"{% endif %}>

      <span class="form-label-bold">
        Sú vaše osobné údaje správne a aktuálne?
      </span>
      {% if error %}
        <span class="error-message">
          Tu sa zobrazí chybná hláška o osobných údajoch.
        </span>
      {% endif %}

    </legend>

    <div class="multiple-choice">
      <input id="personal_details_yes" type="radio" name="personalDetails" value="Yes">
      <label for="personal_details_yes">Áno, moje osobné údaje sú správne</label>
    </div>

    <div class="multiple-choice">
      <input id="personal_details_no" type="radio" name="personalDetails" value="No">
      <label for="personal_details_no">Nie, niektoré údaje sú nesprávne alebo sa zmenili</label>
    </div>

  </fieldset>
</div>

<input class="button" type="submit" value="Pokračovať">
