<div class="grid-row">
  <div class="column-two-thirds">

    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Miesto pre správu, ktorá upozorňuje, že nastal problém
      </h2>

      <p>
        Priestor pre popis k akým chybám došlo a ako ich opraviť
      </p>

      <ul class="error-summary-list">
        <li><a href="#example-full-name">Popis s odkazom na otázku, v ktorej nastala chyba</a></li>
        <li><a href="#example-ni-number">Popis s odkazom na otázku, v ktorej nastala chyba</a></li>
      </ul>

    </div>

    <h1 class="heading-large">
      Vaše osobné údaje
    </h1>

    <div class="form-group form-group-error">

      <label for="example-full-name" id="error-full-name">

        <span class="form-label-bold">Meno a priezvisko</span>
        <span class="form-hint">Tak ako ho máte uvedené v rodnom liste alebo pase</span>
        <span class="error-message">Priestor pre chybovú hlášku</span>

      </label>

      <input class="form-control form-control-error" id="example-full-name" type="text" name="fullName" value="">
    </div>

    <div class="form-group form-group-error">

      <label for="example-ni-number" id="error-ni-number">

        <span class="form-label-bold">Číslo preukazu poistenca</span>
        <span class="form-hint">
          Nájdete ho na prednej strane vášho preukazu poistenca.
          <br>
          napríklad, ‘QQ 12 34 56 C’.
        </span>
        <span class="error-message">
          Priestor pre chybovú hlášku
        </span>

      </label>

      <input class="form-control form-control-error" id="example-ni-number" type="text" name="niNo" value="">

    </div>

    <input class="button" type="submit" value="Pokračovať">

  </div>
</div>
