<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
          Ako vás máme kontaktovať?
        </h1>
      </legend>

      <div class="multiple-choice" data-target="contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        <label for="example-contact-by-email">E-mail</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
        <label class="form-label" for="contact-email">E mailová adresa</label>
        <input class="form-control" name="contact-email" type="text" id="contact-email">
      </div>

      <div class="multiple-choice" data-target="contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-phone">Mobil</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <label class="form-label" for="contact-phone">Telefónne číslo</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
      </div>

      <div class="multiple-choice" data-target="contact-by-text">
        <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-text">SMS</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
        <label class="form-label" for="contact-text-message">Telefónne číslo</label>
        <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
      </div>

    </fieldset>
  </div>
</form>
