<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">V ktorej časti Slovenska žijete?</h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Západné Slovensko">
        <label for="radio-1">Západné Slovensko</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="Stredné Slovensko">
        <label for="radio-2">Stredné Slovensko</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="radio-group" value="Východné Slovensko">
        <label for="radio-3">Východné Slovensko</label>
      </div>
      <p class="form-block">alebo</p>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="radio-group" value="Žijem mimo Slovenska">
        <label for="radio-3">Žijem mimo Slovenska</label>
      </div>

    </fieldset>
  </div>
</form>
