{% if error %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    {% if not fullName %}
    <li><a href="#example-full-name">Descriptive link to the question with an error</a></li>
    {% endif %}
    {% if not niNo %}
    <li><a href="#example-ni-number">Descriptive link to the question with an error</a></li>
    {% endif %}
  </ul>

</div>
{% endif %}

<h1 class="heading-large">
  Your personal details
</h1>

<div class="form-group {% if error %}{% if not fullName %} error{% endif %}{% endif %}">

  <label for="example-full-name" {% if error %}{% if not fullName %} id="error-full-name"{% endif %}{% endif %}>

    <span class="form-label-bold">Full name</span>
    <span class="form-hint">As shown on your birth certificate or passport</span>
    {% if error %}
      {% if not fullName %}
      <span class="error-message" id="error-message-full-name">Error message about full name goes here</span>
      {% endif %}
    {% endif %}

  </label>

  <input class="form-control" id="example-full-name" type="text" name="fullName" value="{{fullName}}" {% if error %}{% if not fullName %} aria-describedby="error-message-full-name"{% endif %}{% endif %}>
</div>

<div class="form-group {% if error %}{% if not niNo %} error{% endif %}{% endif %}">

  <label for="example-ni-number" {% if error %}{% if not niNo %} id="error-full-name"{% endif %}{% endif %}>

    <span class="form-label-bold">National Insurance number</span>
    <span class="form-hint">
      It’s on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, ‘QQ 12 34 56 C’.
    </span>
    {% if error %}
      {% if not niNo %}
      <span class="error-message" id="error-message-ni-number">
        Error message about National Insurance number goes here
      </span>
      {% endif %}
    {% endif %}
  </label>

  <input class="form-control" id="example-ni-number" type="text" name="niNo" value="{{niNo}}" {% if error %}{% if not niNo %} aria-describedby="error-message-ni-number"{% endif %}{% endif %}>

</div>

<input class="button" type="submit" value="Continue">
