<details>

  <summary><span class="summary">Pomoc s národnosťou</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      Ak si nie ste istí akú máte národnosť, skúste sa pozrieť na váš úradný dokument ako pas alebo občiansky preukaz.
    </p>

    <p>
      Potrebujeme vedieť vašu národnosť na to, aby sme mohli zistiť, v ktorých voľbách môžete voliť.
      Ak nemôžete poskytnúť vašu národnosť, budete musieť poslať kópiu vašich identifikačných dokumentov poštou.
    </p>

  </div>

</details>
