<ul class="list list-bullet">
  <li>Príklad guličkového zoznamu.</li>
  <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
  <li>Vestibulum id ligula porta felis euismod semper.</li>
  <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
</ul>

<ol class="list list-number">
  <li>Toto je číselný zoznam.</li>
  <li>Toto je druhý krok v číselnom zozname.</li>
  <li>Tretím krokom je uistiť sa, že každý element končí bodkou.</li>
</ol>

<ul class="list">
  <li><a href="#">Súvisiaci odkaz</a></li>
  <li><a href="#">Súvisiaci odkaz</a></li>
  <li><a href="#">Súvisiaci odkaz</a></li>
  <li><a href="#" class="bold-xsmall">Viac</a></li>
</ul>
