<ul class="list list-bullet">
  <li>here is a bulleted list</li>
  <li>this is another item in the list</li>
  <li>and another item with a bit more text</li>
</ul>

<ol class="list list-number">
  <li>Understand that this is a numbered list.</li>
  <li>Follow the second step in this numbered list.</li>
  <li>Make sure each item is a full sentence ending with a full stop.</li>
</ol>

<ul class="list">
  <li><a href="#">Related link</a></li>
  <li><a href="#">Another related link</a></li>
  <li><a href="#">And another link</a></li>
  <li><a href="#" class="bold-xsmall">More</a></li>
</ul>
