// Form validation
// ==========================================================================

// Update the error colour in the govuk frontend toolkit
$error-colour: #b10e1e;

// Using the classname .error as it's shorter than .validation and easier to type!
.error {

  // Ensure the .error class is applied to .form-group, otherwide box-sizing(border-box) will need to be used
  // @include box-sizing(border-box);
  margin-right: 15px;

  // Error messages should be red and bold
  .error-message {
    color: $error-colour;
    font-weight: bold;
  }

  // Form inputs should have a red border
  .form-control {
    border: 4px solid $error-colour;
  }

}

.error,
.error-summary {
  // Add a red border to the left of the field
  border-left: 5px solid $error-colour;
  padding-left: 10px;
  @include media(tablet) {
    padding-left: $gutter-half;
  }
}

.error-message {
  @include core-19;

  display: block;
  clear: both;
  margin-top: 0;
  margin-bottom: 0;
  // Add spacing below error message
  padding-bottom: 10px;
  @include media(tablet) {
    padding-bottom: 15px;
  }
}

// Summary of multiple error messages
.error-summary {

  // Use the GOV.UK outline focus style
  &:focus {
    outline: 3px solid $yellow;
  }

  // Error summary has a border on all sides
  border: 5px solid $error-colour;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding: 10px;
  @include media (tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter;
    padding: $gutter-half;
  }

  .error-summary-heading {
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .error-summary-list {
    padding-left: 0;
    li {
      @include media(tablet) {
        margin-bottom: 5px;
      }
    }
    a {
      color: $error-colour;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
