// Large hit area
// Radio buttons & checkboxes

// By default, block labels stack vertically
.block-label {

  display: block;
  float: none;
  clear: left;
  position: relative;

  padding: (7px $gutter-one-third 7px $gutter * 1.5);
  margin-bottom: $gutter-half;

  cursor: pointer; // Encourage clicking on block labels

  @include media(tablet) {
    float: left;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 37px;
    height: 37px;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements.
    @if ($is-ie == false) or ($ie-version == 9) {
      .js-enabled & {
        @include visually-hidden;
      }
    }
  }

  .js-enabled & {
    &.selection-button-radio::before {
      content: "";
      border: 2px solid $black;
      border-radius: 50%;
      background: $white;
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.selection-button-radio.selected::after {
      content: "";
      border: 2px solid $black;
      border-radius: 50%;
      background: $black;
      width: 19px;
      height: 19px;
      position: absolute;
      top: 7px;
      left: 7px;
    }

    &.selection-button-checkbox::before {
      content: "";
      border: 2px solid $black;
      background: $white;
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.selection-button-checkbox.selected::after {
      content: "";
      border: solid $black;
      border-width: 0 0 4px 4px;
      width: 15px;
      height: 9px;
      position: absolute;
      top: 9px;
      left: 9px;
      -webkit-transform: rotate(-45deg); // Safari 8 compatibility
      -ms-transform: rotate(-45deg); // IE9 compatibility
      transform: rotate(-45deg);
    }
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// To stack horizontally, use .inline on parent, to sit block labels next to each other
.inline .block-label {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $gutter-half;
  }
}

// Selected and focused states

// Allow a qualifying element for the selected state
// scss-lint:disable QualifyingElement

// Add focus to block labels inputs
.js-enabled label.focused::before {
  @include box-shadow(0 0 0 3px $focus-colour);
}

@include ie-lte(8) {
  .js-enabled label.focused {
    outline: 3px solid $focus-colour;
  }
}

// scss-lint:enable QualifyingElement

// Remove focus from radio/checkboxes
.js-enabled .focused input:focus {
  outline: none;
}
