// Large hit area 
// Radio buttons & checkboxes

.form-group .block-label {
  width: auto;
  @include inline-block;

  padding: (18px $gutter $gutter-half $gutter-half);
  margin-right: 5px;  

  background: $grey-3;
  border: 1px solid $grey-3;
}

// Only if JavaScript is enabled
// Remove focus styles from block radio and checkboxes

.block-label input:focus {
  outline: none;
}

// Instead, add focus styles to labels

.form .add-focus {
  outline: 3px solid $yellow;
}

// Add selected state to label of checked inputs/radios
.form .selected {
  background: $white;
  border-color: black;
}
