@import "../colours";

// Validation border and alignment

.invalid,
.validation-message,
.validation-summary {
  border-left: 4px solid $error-colour;
  margin-left: -($gutter-half);
  padding-left: 10px;
  @include media(tablet) {
    margin-left: -19px;
    padding-left: $gutter-half;
  }
}

.form-group.invalid {
  margin-bottom: 10px;
  @include media(tablet) {
    margin-bottom: 15px;
  }
  // padding-bottom: 10px;
  // @include media(tablet) {
  //   padding-bottom: 15px;
  // }
}

// Validation summary box

.validation-summary {
  border: 4px solid $error-colour;
  margin-bottom: $gutter;

  @include ie-lte(6){
    zoom: 1;
  }
}

.validation-summary ul {
  margin-top: 10px;
}

.validation-summary li,
.validation-summary p {
  @include core-16;
}

.validation-summary p {
  margin-top: $gutter-half;
  margin-bottom: 5px;
}

.validation-summary a {
  color: $error-colour;
  @include ie-lte(6) {
    color: $error-colour !important;
  }
}

.validation-summary .heading-small {
  margin-top: $gutter-half;
}

// Validation message

.validation-message {
  clear: both;
  display: block;
  @include core-16;
  border-left: 4px solid $error-colour;

  margin-bottom: 30px;

  padding-top: 10px;
  padding-bottom: 10px;

  @include media(tablet) {
    margin-bottom: 45px;
  }
}
.validation-message a {
  color: $error-colour;
  text-decoration: none;
  font-weight: bold;
}


