@import "../colours";

// Validation summary box
.validation-summary {
  @include bold-16;

  margin-bottom: em(30);
  padding: em(15) em(30);

  background: $error-colour;
  color: white;

  @include ie-lte(6){
    zoom: 1;
  }

  .heading-small {
    margin-top: em(15);
    margin-bottom: em(10);
  }

  p {
    margin-top: $gutter-half;
    margin-bottom: 5px;
  }

  a {
    color: white;
    @include ie-lte(6) {
      color: white !important;
    }
  }

}

// Show error styles for label and input pairs
.validation-error {
  clear: both;
  @include contain-floats;
  color: $error-colour;

  // Make any labels red and bold
  label {
    font-weight: bold;
    color: $error-colour;
  }

  // Sit error message on a new line
  .validation-message {
    @include core-16;
    display: block;
  }

  // Add a 3px red border to inputs
  input {
   border: 3px solid $error-colour;
  }

  // Set border colour to match focus
  input:focus {
    border-color: $yellow;
    outline-color: $yellow;
    outline-width: 2px;
  }

}
