{{<layout}}

{{$pageTitle}}GOV.UK elements{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  {{>service_manual_breadcrumb}}
  {{>service_manual_header}}

  <div class="text">

    <p class="lede">
      This guide explains how to make your service look consistent with the rest of GOV.UK.
    </p>

    <ol class="list-number">
      <li><a href="#guide-layout">Layout</a></li>
      <li><a href="#guide-typography">Typography</a></li>
      <li><a href="#guide-colour">Colour</a></li>
      <li><a href="#guide-icons-images">Icons and images</a></li>
      <li><a href="#guide-data">Data</a></li>
      <li><a href="#guide-forms">Forms</a></li>
      <li><a href="#guide-buttons">Buttons</a></li>
      <li><a href="#guide-errors">Errors and validation</a></li>
      <li><a href="#guide-alpha-beta">Alpha and beta banners</a></li>
    </ol>

    <h2 class="heading-medium">Looking for the styles?</h2>
    <p>
       The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/public/sass" rel="external">all the examples in this page can be found on GitHub</a>.
    </p>

    <h2 class="heading-medium">Looking for the HTML?</h2>
    <p>
      The HTML snippets can be found in the <a href="{{ site.baseurl}}/snippets/">GOV.UK elements snippets page</a>.
    </p>

  </div>

  <div id="guide-layout">

    <h2 class="heading-large heading-with-border">1. Layout</h2>
    <div class="text">
      <p>
        Use white space to create a visual hierarchy on the page. Design for small screens first using a single column layout.
      </p>
      <p>
        The default maximum page width is 1020px, but go wider if the content requires it.
      </p>
      <p>
        Optimise for different screen sizes, but don’t make assumptions about what devices people are using.
      </p>
    </div>

    <ul>
      <li><a href="{{ site.baseurl}}/examples/grid-layout/">See an example of GOV.UK grid layout</a></li>
    </ul>

    <h3 class="heading-medium" id="layout-spacing">Spacing</h3>
    <ul class="list-bullet text">
      <li>spacing between elements is usually 5px, 10px, 15px or multiples of 15px</li>
      <li>gutters are 15px for smaller screens and 30px for larger screens</li>
    </ul>

    <div class="example example-images">
      {{> layout_spacing }}
    </div>

    <h3 class="heading-medium" id="layout-grid-unit-proportions">Grid unit proportions</h3>
    <ul class="list-bullet text">
      <li>introduce columns as the content requires it – base column ratios on halves, thirds or quarters of the page width</li>
      <li>for screen breakpoints use media queries &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss">_conditionals.scss</a> file</li>
    </ul>

    <h4 class="heading-small">Halves</h4>
    <div class="example example-grid">
      {{> layout_grid_halves }}
    </div>

    <h4 class="heading-small">Thirds</h4>
    <div class="example example-grid">
      {{> layout_grid_thirds }}
    </div>
    <div class="example example-grid">
      {{> layout_grid_thirds_reversed }}
    </div>

    <h4 class="heading-small">Quarters</h4>
    <div class="example example-grid">
      {{> layout_grid_quarters }}
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2#:h=Layout" rel="external">Discuss layout on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-layout -->

  <div id="guide-typography">

    <h2 class="heading-large heading-with-border">2. Typography</h2>
    <p class="text">
       Use the GDS Transport Website font in Light and Bold. It's licensed for use on the GOV.UK domains only. For services publicly available on different domains, use an alternative typeface like Arial. You can find common font colours in the <a href="#guide-colour">colour palette</a>.
    </p>

    <ul>
      <li><a href="{{ site.baseurl}}/examples/typography/">See an example of GOV.UK typography</a></li>
      <li><a href="https://gds.blog.gov.uk/2012/07/05/a-few-notes-on-typography/">Read a blog post about developing the GOV.UK typeface</a></li>
    </ul>

    <h3 class="heading-medium" id="typography-headings">
      Headings
    </h3>

    <ul class="list-bullet text">
      <li>use GDS Transport Website Bold</li>
      <li>use sentence case for headings</li>
      <li>use headings consistently to create a clear hierarchy</li>
    </ul>

    <div class="example">
      {{> typography_headings }}
    </div>

    <h3 class="heading-medium" id="typography-lead-paragraph">
      Lead paragraph
    </h3>
    <p>
      There should only be one lead paragraph per page.
    </p>

    <div class="example">
      <div class="text">
        {{> typography_lead_paragraph }}
      </div>
    </div>

    <h3 class="heading-medium" id="typography-body-copy">
      Body copy
    </h3>

    <ul class="list-bullet text">
      <li>use GDS Transport Website Light</li>
      <li>avoid using bold and italics</li>
      <li>use 19px for body copy &ndash; 16px for smaller screens</li>
      <li>use smaller sizes only if there's a user need (eg 16px, 14px, 12px)</li>
      <li>make sure lines of text don't exceed 75 characters, as they become harder to read beyond that point</li>
      <li>for example, on this page &ndash; text blocks are two-thirds of the page width</li>
    </ul>

    <div class="example">
      <div class="text">
        {{> typography_paragraphs }}
      </div>
    </div>

    <h3 class="heading-medium" id="typography-links">Links</h3>
    <ul class="list-bullet text">
      <li>links within body copy should be blue and underlined</li>
      <li>links without surrounding text should not have a full stop at the end</li>
      <li>link colours can be found in the <a href="#guide-colour">colour palette</a></li>
    </ul>

    <div class="example">
      <div class="text">
        {{> typography_links }}
      </div>
    </div>

    <h3 class="heading-medium" id="typography-lists">Lists</h3>
    <p class="text">
      List items start with a lowercase letter and have no full stop at the end.
    </p>
    <div class="example">
      {{> typography_lists }}
    </div>

    <h3 class="heading-medium" id="typography-inset-text">Inset text</h3>
    <p class="text">
      Use bordered inset text to draw attention to important content on the page.
    </p>
    <p class="text">
      <a href="https://www.gov.uk/holiday-entitlement-rights">See an example of inset text on GOV.UK</a>
    </p>
    <div class="example">
      <div class="text">
        {{> typography_inset_text }}
      </div>
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2#:h=Typography" rel="external">Discuss typography on our Hackpad</a>
    </p>

    <h3 class="heading-medium" id="typography-hidden-text">Hidden text (progressive disclosure)</h3>
    <p class="text">
      Use this to make your page easier to scan,
      only showing contextual information when required.
    </p>
    <p class="text">
      Click on "Help with nationality" to see how this works.
    </p>
    <div class="example">
      {{> typography_progressive_disclosure }}
    </div>
    <p>
      <a href="https://designpatterns.hackpad.com/Progressive-disclosure-mi03xhbZQpu" rel="external">Discuss progressive disclosure on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-typography -->

  <div id="guide-colour">

    <h2 class="heading-large heading-with-border">3. Colour</h2>
    <p class="text">
      Always use the GOV.UK colour palette.
    </p>

    <h3 class="heading-medium" id="colour-contrast">Colour contrast</h3>
    <p class="text">
      The colour contrast ratio for text and interactive elements should be at least 4.5:1 <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html" rel="external">as recommended by the W3C</a>. Test your service to meet this standard.
    </p>

    <h3 class="heading-medium"  id="colour-sass-variables">Sass variables</h3>
    <p class="text">
      Use Sass variables in case colour values need to be updated &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss">colours.scss</a> file.
    </p>

    <div class="example">

      <div class="swatch-wrapper">
        <h4 class="heading-small">Text</h4>

        <div class="swatch swatch-text-colour"></div>
        <ul>
          <li><b>#0B0C0C</b></li>
          <li>$text-colour</li>
        </ul>

        <div class="swatch swatch-text-secondary"></div>
        <ul>
          <li><b>#6F777B</b></li>
          <li>$secondary-text-colour</li>
        </ul>

        <div class="swatch swatch-page-colour"></div>

        <ul>
          <li><b>#FFFFFF</b></li>
          <li>$page-colour</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Links</h4>

        <div class="swatch swatch-link-colour"></div>
        <ul>
          <li><b>#005ea5</b></li>
          <li>$link-colour</li>
        </ul>

        <div class="swatch swatch-link-colour-hover"></div>
        <ul>
          <li><b>#2e8aca</b></li>
          <li>$link-hover-colour</li>
        </ul>

        <div class="swatch swatch-link-colour-visited"></div>
        <ul>
          <li><b>#4c2c92</b></li>
          <li>$link-visited-colour</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Backgrounds</h4>

        <div class="swatch swatch-border-colour"></div>
        <ul>
          <li><b>#BFC1C3</b></li>
          <li>$border-colour</li>
        </ul>

        <div class="swatch swatch-panel-colour"></div>
        <ul>
          <li><b>#DEE0E2</b></li>
          <li>$panel-colour</li>
        </ul>

        <div class="swatch swatch-highlight-colour"></div>
        <ul>
          <li><b>#F8F8F8</b></li>
          <li>$highlight-colour</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Buttons</h4>

        <div class="swatch swatch-button-colour"></div>
        <ul>
          <li><b>#00823B</b></li>
          <li>$button-colour</li>
        </ul>

        <div class="swatch swatch-green"></div>
        <ul>
          <li><b>#006435</b></li>
          <li>$green (hover colour)</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Focus</h4>
        <div class="swatch swatch-yellow"></div>
        <ul>
          <li><b>#FFBF47</b></li>
          <li>$focus-colour</li>
        </ul>
      </div>
    </div>

    <h3 class="heading-medium" id="colour-status-colours">Status colours</h3>
    <div class="example">

      <div class="swatch-wrapper">

        <div class="swatch swatch-alpha"></div>
        <ul>
          <li><b>#d53880</b></li>
          <li>$alpha-colour</li>
        </ul>

      </div>
      <div class="swatch-wrapper">

        <div class="swatch swatch-beta"></div>
        <ul>
          <li><b>#f47738</b></li>
          <li>$beta-colour</li>
        </ul>

      </div>
      <div class="swatch-wrapper">

        <div class="swatch swatch-discovery"></div>
        <ul>
          <li><b>#912b88</b></li>
          <li>$discovery-colour</li>
        </ul>

      </div>
      <div class="swatch-wrapper">

        <div class="swatch swatch-live"></div>
        <ul>
          <li><b>#85994b</b></li>
          <li>$live-colour</li>
        </ul>

      </div>
      <div class="swatch-wrapper">

        <div class="swatch swatch-error"></div>
        <ul>
          <li><b>#af1324</b></li>
          <li>$error-colour</li>
        </ul>

      </div>

    </div>

    <h3 class="heading-medium" id="colour-greyscale-palette">Greyscale palette</h3>
    <div class="example">
      <div class="swatch-wrapper">
        <div class="swatch swatch-black"></div>
        <ul>
          <li><b>#0B0C0C</b></li>
          <li>$black</li>
        </ul>
      </div>
      <div class="swatch-wrapper">
        <div class="swatch swatch-grey-1"></div>
        <ul>
          <li><b>#6F777B</b></li>
          <li>$grey-1</li>
        </ul>
      </div>
      <div class="swatch-wrapper">
        <div class="swatch swatch-grey-2"></div>
        <ul>
          <li><b>#BFC1C3</b></li>
          <li>$grey-2</li>
        </ul>
      </div>
      <div class="swatch-wrapper">
        <div class="swatch swatch-grey-3"></div>
        <ul>
          <li><b>#DEE0E2</b></li>
          <li>$grey-3</li>
        </ul>
      </div>
      <div class="swatch-wrapper">
        <div class="swatch swatch-grey-4"></div>
        <ul>
          <li><b>#F8F8F8</b></li>
          <li>$grey-4</li>
        </ul>
      </div>
    </div>

    <h3 class="heading-medium" id="colour-extended-palette">Extended palette</h3>
    <ul class="list-bullet text">
      <li>used for graphs and supporting material</li>
      <li>for tints of the extended palette use 50% or 25%</li>
      <li>for departmental colours
       &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss">colours.scss file</a></li>
    </ul>
    <p>
      <a href="https://www.gov.uk/performance/carers-allowance">See an example of the extended colour palette on GOV.UK</a>
    </p>

    <div class="example">

      <div class="swatch-wrapper">
        <h4 class="heading-small">Purple</h4>

        <div class="swatch swatch-purple"></div>
        <ul>
          <li><b>#2e358b</b></li>
          <li>$purple</li>
        </ul>

        <h4 class="heading-small">Mauve</h4>

        <div class="swatch swatch-mauve"></div>
        <ul>
          <li><b>#6f72af</b></li>
          <li>$mauve</li>
        </ul>

        <h4 class="heading-small">Fuschia</h4>

        <div class="swatch swatch-fuschia"></div>
        <ul>
          <li><b>#912b88</b></li>
          <li>$fuschia</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Pink</h4>

        <div class="swatch swatch-pink"></div>
        <ul>
          <li><b>#d53880</b></li>
          <li>$pink</li>
        </ul>

        <h4 class="heading-small">Baby pink</h4>

        <div class="swatch swatch-baby-pink"></div>
        <ul>
          <li><b>#f499be</b></li>
          <li>$baby-pink</li>
        </ul>

        <h4 class="heading-small">Red</h4>

        <div class="swatch swatch-red"></div>
        <ul>
          <li><b>#b10e1e</b></li>
          <li>$red</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Mellow red</h4>

        <div class="swatch swatch-mellow-red"></div>
        <ul>
          <li><b>#df3034</b></li>
          <li>$mellow-red</li>
        </ul>

        <h4 class="heading-small">Orange</h4>

        <div class="swatch swatch-orange"></div>
        <ul>
          <li><b>#f47738</b></li>
          <li>$orange</li>
        </ul>

        <h4 class="heading-small">Brown</h4>

        <div class="swatch swatch-brown"></div>
        <ul>
          <li><b>#b58840</b></li>
          <li>$brown</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Yellow</h4>

        <div class="swatch swatch-yellow"></div>
        <ul>
          <li><b>#ffbf47</b></li>
          <li>$yellow</li>
        </ul>

        <h4 class="heading-small">Green</h4>

        <div class="swatch swatch-green"></div>
        <ul>
          <li><b>#006435</b></li>
          <li>$green</li>
        </ul>

        <h4 class="heading-small">Grass green</h4>

        <div class="swatch swatch-grass-green"></div>
        <ul>
          <li><b>#85994b</b></li>
          <li>$grass-green</li>
        </ul>
      </div>

      <div class="swatch-wrapper">
        <h4 class="heading-small">Turquoise</h4>

        <div class="swatch swatch-turquoise"></div>
        <ul>
          <li><b>#28a197</b></li>
          <li>$turquoise</li>
        </ul>

        <h4 class="heading-small">Light blue</h4>

        <div class="swatch swatch-light-blue"></div>
        <ul>
          <li><b>#2b8cc4</b></li>
          <li>$light-blue</li>
        </ul>
      </div>

    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/Colour-PDuGV42pJqx" rel="external">Discuss colour on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-colour -->

  <div id="guide-icons-images">

    <h2 class="heading-large heading-with-border">4. Icons and images</h2>
    <p class="text">
      Avoid unnecessary decoration - only use icons and images if there's a real user need.
    </p>
    <ul class="text">
      <li><a href="https://www.gov.uk/government/history">See an example of image usage on GOV.UK</a></li>
    </ul>

    <h3 class="heading-medium" id="icons">Icons</h3>
    <ul class="list-bullet text">
      <li>
        if icons are needed ensure they are clear, simple and accompanied by relevant text
      </li>
      <li>
        don’t hide functionality under icons
      </li>
    </ul>

    <p class="text">
      GOV.UK standard icons are provided, as well as organisation crests and media player icons &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/tree/master/images">images folder</a>.
    </p>

    <h3 class="heading-medium" id="images">Images</h3>
    <p>
      If images are needed they should be landscape, 3:2 aspect ratio.
    </p>

    <div class="example example-images">
      <div class="grid-row">
        <div class="column-half">
          <img src="/public/images/examples/3by2.jpg" alt="3:2">
        </div>
        <div class="column-half">
          <img src="/public/images/examples/pm.jpg" alt="">
        </div>
      </div>
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/Iconography-UoIkbsbqgll" rel="external">Discuss icons on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-icons-images -->

  <div id="guide-data">

    <h2 class="heading-large heading-with-border">5. Data</h2>
    <p class="text">
      Data is recommended as an alternative to using images.
    </p>

    <ul>
      <li><a href="https://www.gov.uk/service-manual/user-centered-design/data-visualisation.html">Read more about GOV.UK data visualisation</a></li>
      <li><a href="https://www.gov.uk/government/how-government-works#how-governement-is-run">See an example of data on GOV.UK</a></li>
      <li><a href="https://www.gov.uk/performance/tax-disc">See an example of data on the GOV.UK Performance Platform</a></li>
    </ul>

    <h3 class="heading-medium" id="data-visualisation">Data visualisation</h3>
    <p class="text">
      For screen readers, ensure the data value appears first so it makes sense when read aloud.
    </p>

    <div class="example">
      <div class="grid-row">
        <div class="column-half">

          <div class="data">
            <h2 class="bold-xxlarge">24</h2>
            <p class="bold-xsmall">Ministerial departments</p>
          </div>

        </div>
        <div class="column-half">

          <div class="data">
            <h2 class="bold-xxlarge">80px</h2>
            <p class="bold-xsmall">16px</p>
          </div>

        </div>
      </div>
    </div>

    <div class="example">
      <div class="grid-row">
        <div class="column-half">

          <div class="data">
            <h2 class="bold-xlarge">56/154</h2>
            <p class="bold-xsmall">on GOV.UK</p>
          </div>

        </div>
        <div class="column-half">

          <div class="data">
            <h2 class="bold-xlarge">48px</h2>
            <p class="bold-xsmall">16px</p>
          </div>

        </div>
      </div>
    </div>

    <h3 class="heading-medium" id="data-in-a-table">Data in a table</h3>
    <p class="text">
      Consider putting content into tables to make it easier to scan.
    </p>

    <ul class="text list-bullet">
      <li>when comparing rows of numbers, align numbers to the right in table cells</li>
      <li>use <a href="https://github.com/alphagov/govuk_frontend_toolkit#tabular-numbers">tabular numbers</a> to allow numbers of the same width to be more easily compared</li>
    </ul>

    <p class="text">
      <a href="https://www.gov.uk/performance/carers-allowance/volumetrics">See an example of numeric table usage on GOV.UK</a>
    </p>
    <div class="example">
      {{> data_table_numeric }}
    </div>

    <p>
      Not all content in tables should be right aligned.
    </p>
    <p class="text">
      <a href="https://www.gov.uk/pay-leave-for-parents/y/yes/2013-1-2/employee/employee/yes/yes/122.00-week/yes/yes/yes/122.00-week/yes">See an example of table usage on GOV.UK</a>
    </p>
    <div class="example">
      {{> data_table }}
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/Tables-AXM1FinduJR" rel="external">Discuss tables on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-data -->

  <div id="guide-forms">

    <h2 class="heading-large heading-with-border">6. Forms</h2>
    <p class="text">
      Keep forms as simple as possible &ndash; only ask what's needed to run your service.
    </p>

    <p><a href="{{ site.baseurl}}/examples/forms/">See an example of GOV.UK form layout</a></p>

    <h3 class="heading-medium" id="form-optional-fields">Optional and mandatory fields</h3>
    <ul class="text list-bullet">
      <li>only ask for the information you absolutely need</li>
      <li>if you do ask for optional information, mark the labels of optional fields with '(optional)'</li>
      <li>don't mark mandatory fields with asterisks</li>
    </ul>

    <h3 class="heading-medium" id="form-labels">Labels</h3>
    <ul class="text list-bullet">
      <li>all form fields should be given labels</li>
      <li>don't hide labels, unless the surrounding context makes them unnecessary</li>
      <li>labels should be aligned above their fields</li>
      <li>label text should be short, direct and in sentence case</li>
      <li>avoid colons at the end of labels</li>
      <li>labels should be associated with form fields using the <code>for</code> attribute</li>
    </ul>

    <p class="text">
      Click on the label "Full name" to bring focus to the form field.
    </p>
    <div class="example">
      {{> form_labels }}
    </div>

    <h3 class="heading-medium" id="form-fields">Form fields</h3>
    <div class="text">
      <p>
        Make field widths proportional to the input they take.
      </p>
      <p>
        Ensure that users can enter the information they need at smaller screen sizes.
      </p>
      <p>
        Snap form fields to 100% width at smaller screen sizes.
      </p>
      <p>
        <a href="https://designpatterns.hackpad.com/Text-boxes-imgij2JcsHO" rel="external">Discuss text boxes on our Hackpad</a>
      </p>
    </div>

    <h3 class="heading-medium" id="form-fieldsets">Fieldsets and legends</h3>
    <p class="text">
      Use fieldsets to group related form controls. The first element inside a fieldset must be a <code>legend</code> element which describes the group.
    </p>

    <h3 class="heading-medium" id="form-focus-states">Form focus states</h3>
    <p class="text">
      All elements use the yellow focus style as a highlight, as either a fill or 3px outline.
    </p>
    <p class="text">
      Click on the label "Full name" or inside the form field to show the focus state.
    </p>

    <div class="example">
      {{> form_focus }}
    </div>

    <h3 class="heading-medium" id="form-spacing">Spacing between form elements</h3>
    <p class="text">
      Ensure there is sufficient spacing between form elements.
    </p>

    <div class="example">
      {{> form_spacing }}
    </div>

    <h3 class="heading-medium"  id="form-hint-text">Hint text</h3>
    <ul class="list-bullet text">
      <li>don't use placeholder text in form fields, as this will disappear once content is entered into the form field</li>
      <li>use hint text for supporting contextual help, this will always be shown</li>
      <li>hint text should sit above a form field</li>
      <li>ensure hint text can be read correctly by screen readers</li>
    </ul>

    <div class="example">
      {{> form_hint_text }}
    </div>

    <h3 class="heading-medium" id="form-select-boxes">Drop-down lists</h3>
    <div class="text">
      <p>
        Avoid using drop-down lists (the HTML select element) - use radio buttons or checkboxes instead.
      </p>
      <p>
        <a href="https://www.youtube.com/watch?v=CUkMCQR4TpY" rel="external">Watch Alice Bartlett present the failings of select boxes to meet the needs of less technically capable users</a>.
      </p>
      <p>
        <a href="https://designpatterns.hackpad.com/Select-boxes-KzQ1IRd07HL" rel="external">Discuss select boxes on our Hackpad</a>
      </p>
    </div>

    <h3 class="heading-medium" id="form-radio-buttons">Radio buttons</h3>
    <ul class="list-bullet text">
      <li>use these to let users choose a single option from a list</li>
      <li>for more than two options, radio buttons should be stacked</li>
      <li>radio buttons with large hit areas are easier to select with a mouse or touch devices</li>
    </ul>

    <div class="example">
      <form>
        {{> form_radio_buttons_inline }}
      </form>
    </div>

    <div class="example">
      <form>
        {{> form_radio_buttons }}
      </form>
    </div>

    <h3 class="heading-medium" id="form-checkboxes">Checkboxes</h3>
    <ul class="list-bullet text">
      <li>use these to select either on/off toggles or multiple selections</li>
      <li>make it clear with words when users can select one or multiple options</li>
    </ul>

    <div class="example">
      <form>
        {{> form_checkboxes }}
      </form>
    </div>

    <div class="text">
      <p>Large hit areas aren't always appropriate.</p>
    </div>

    <div class="example">
      <form>
        {{> form_checkbox_native }}
      </form>
    </div>

    <div class="text">
      <p>
        Only pre-select options if there's a strong, user-centred reason to.
      </p>
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/Radio-buttons-and-checkboxes-8eBuLm9eRaz" rel="external">Discuss radio buttons and checkboxes on our Hackpad</a>
    </p>

    <h3 class="heading-medium" id="form-inset-form-elements">Inset form elements</h3>
    <div class="text">
      <p>
        Insets can be used within forms to emphasise supporting information.
      </p>
      <p>
        Click on "Yes" to see how this works.
      </p>
    </div>

    <div class="example">
      <form>
        {{> form_inset_radios }}
      </form>
    </div>

    <p>
      Click on "Citizen of a different country" to see how this works.
    </p>
    <div class="example">
      <form>
        {{> form_inset_checkboxes }}
      </form>
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2#:h=Forms" rel="external">Discuss forms on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-forms -->

  <div id="guide-buttons">

    <h2 class="heading-large heading-with-border">7. Buttons</h2>

    <p class="text">
      Use buttons to move though a transaction, aim to use only one button per page.
    </p>

    <h3 class="heading-medium" id="buttons-button-text">Button text</h3>
    <p class="text">
      Button text should be short and describe the action the button performs.
    </p>

    <div class="example">
      {{> buttons_button }}
    </div>

    <p class="text">
      Launch your service with a Start now button.
    </p>

    <div class="example">
      {{> buttons_button_start_now }}
    </div>

    <p class="text">
      Align the primary action button to the left edge of your form, in the user's line of sight.
    </p>

    <div class="example example-button">

      <form action="/" method="post" class="form">
        <div class="form-group">
          <label for="form-email-address-1" class="form-label">Email address</label>
          <input type="text" class="form-control" id="form-email-address-1">
        </div>
        <div class="form-group">
          <button class="button">Save and continue</button>
          <p><a href="#">Back</a></p>
        </div>
      </form>

    </div>

    <h3 class="heading-medium" id="buttons-creating-buttons">Creating buttons</h3>
    <p class="text">
      Use the GOV.UK Sass button mixin &ndash; find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_buttons.scss">buttons.scss</a> file
    </p>

    <div class="example example-button">
      <div class="grid-row">
        <div class="column-third">

          <button class="button">Save and continue</button>

        </div>
        <div class="column-third">

          <div class="swatch-wrapper">
            <h4 class="heading-small">Button</h4>
            <div class="swatch swatch-button-colour"></div>
            <ul>
              <li><b>#00823B</b></li>
              <li>$button-colour</li>
            </ul>
          </div>

        </div>
        <div class="column-third">

          <div class="swatch-wrapper">
            <h4 class="heading-small">Focus</h4>
            <div class="swatch swatch-yellow"></div>
            <ul>
              <li><b>#FFBF47</b></li>
              <li>$focus-colour</li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <h3 class="heading-medium" id="buttons-disabled-buttons">Disabled buttons</h3>
    <p>
      Disabled buttons should be set at 50% opacity.
    </p>
    <div class="example">
      <button class="button" disabled="disabled">Primary button</button>
    </div>

    <p>
      <a href="https://designpatterns.hackpad.com/Navigation-buttons-continue-next-previous-zoP1sKiW3y4" rel="external">Discuss buttons on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-buttons -->

  <div id="guide-errors">

    <h2 class="heading-large heading-with-border">8. Errors and validation</h2>

    <h3 class="heading-medium">Minimise the number of errors on a page</h3>

    <p class="text">
      Recovering from errors can be hard for users, especially if a page contains multiple errors.
      Avoid this by splitting long forms across multiple pages, with each page asking a single question.
    </p>

    <h3 class="heading-medium">
      Summarise errors at the top of the page
    </h3>

    <p class="text lead-in">
      You must:
    </p>

    <ul class="text list-bullet">
      <li>show an error summary at the top of the page</li>
      <li>include a heading to alert the user to the error</li>
      <li>link to each of the problematic questions</li>
    </ul>

    <div class="example example-error">
      {{> form_error_radio_show_errors }}
    </div>

    <h4 class="text heading-small panel-indent">
      The error summary must appear at the top of the page, so it is visible when the page is refreshed and is immediately read out by assistive technology.
    </h4>

    <div class="text">

      <h3 class="heading-medium">Highlight errors in forms</h3>

      <p class="lead-in">
        For each error:
      </p>

      <ul class="list-bullet">
        <li>write a message that helps the user to understand why the error occurred and what to do about it</li>
        <li>put the message in the <code>&lt;label&gt;</code> or <code>&lt;legend&gt;</code> for the question,
        after the question text, in red</li>
        <li>use a red border to visually connect the message and the question it belongs to</li>
        <li>if the error relates to specific text fields within the question, give these a red border as well</li>
      </ul>

    </div>

    <p class="text">
      For red, use the <code>$error-colour</code> Sass variable &ndash; find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss">colours.scss</a> file
    </p>

    <div class="example example-error">
      {{> form_error_multiple_show_errors }}
    </div>

    <p class="text">
      If users are regularly making multiple errors on a page this indicates that your page has either too many questions, or that the question needs to be rewritten in plain English.
    </p>

    <p class="text">
      Simplify the page by rewriting and where possible, removing questions or splitting questions across multiple pages.
    </p>

    <h3 class="heading-medium" id="error-message-examples">Implementation examples</h3>

    <ul class="list-bullet text">
      <li>
        <a href="{{ site.baseurl}}/examples/form-validation-single-question-radio">
          Example with one question, a group of radio buttons
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/examples/form-validation-multiple-questions">
          Example with multiple questions
        </a>
      </li>
    </ul>

    <p>
      <a href="https://designpatterns.hackpad.com/Error-messaging-and-validation-HiGXPZ7XiG0" rel="external">Discuss errors on our Hackpad</a>
    </p>

  </div>
  <!-- / #guide-errors -->

  <div id="guide-alpha-beta">

    <h2 class="heading-large heading-with-border">9. Alpha and beta banners</h2>
    <p class="text">
      You have to use an alpha banner if your thing is in alpha, and a beta banner if it’s in beta.
    </p>

    <h3 class="heading-medium" id="guide-alpha-beta-subdomain">Things on the service.gov.uk subdomain</h3>
    <p class="text">
      If your service is in beta or alpha, you must show the relevant banner in the header.
      It should sit directly underneath the black GOV.UK header and colour bar.
    </p>

    <div class="example">
      {{> phase_banner_alpha }}
    </div>

    <div class="example">
      {{> phase_banner_beta }}
    </div>

    <h3 class="heading-medium" id="guide-alpha-beta-govuk">Things on GOV.UK</h3>
    <p class="text">
      If your GOV.UK content is in beta or alpha, show the relevant banner below the page title, but above the body content. You can see what they should look like in <a href="https://designnotes.blog.gov.uk/2014/03/26/betas-on-gov-uk/">this blog post</a>.
    </p>

    <h3 class="heading-medium" id="alpha-beta-creating-banners">Creating alpha and beta banners</h3>
    <p class="text">
      Use the GOV.UK Sass phase banner mixin &ndash; find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_alpha-beta.scss">alpha-beta.scss</a> file
    </p>

  </div>
  <!-- / #guide-alpha-beta -->

</main><!-- / #content -->
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/layout}}
