{{<layout}}

{{$pageTitle}}GOV.UK elements{{/pageTitle}}

{{$content}}

<main id="wrapper" role="main">
  <div id="content">

    {{>service_manual_breadcrumb}}
    {{>service_manual_header}}

    <div class="inner-block">

      <div class="text">

        <p class="lead">
          This guide explains how to make your service look consistent with the rest of GOV.UK.
        </p>

        <ol class="list-number">
          <li><a href="#guide-layout">Layout</a></li>
          <li><a href="#guide-typography">Typography</a></li>
          <li><a href="#guide-colour">Colour</a></li>
          <li><a href="#guide-images-icons">Images and icons</a></li>
          <li><a href="#guide-data">Data</a></li>
          <li><a href="#guide-forms">Forms</a></li>
          <li><a href="#guide-buttons">Buttons</a></li>
          <li><a href="#guide-errors">Errors and validation</a></li>
          <li><a href="#guide-tables">Tables</a></li>
        </ol>

        <p>
          Looking for the styles? The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/public/sass">all the examples in this page, can be found on GitHub</a>.
        </p>

      </div>

      <div id="guide-layout">

        <h2 class="heading-36 heading-with-border">1. Layout</h2>
        <ul class="list-bullet text">
          <li>use white space to create a visual hierarchy on the page</li>
          <li>design for small screens first, using a single column layout</li>
          <li>introduce columns as the content requires it</li>
          <li>base column ratios on halves, thirds or quarters of the page width</li>
          <li>spacing between elements is usually 5px, 10px, 15px or multiples of 15px</li>
          <li>gutters are 15px for smaller screens and 30px for larger screens</li>
          <li>lines of text should be no longer than 75 characters</li>
          <li>set breakpoints for small, medium and large screens using media queries</li>
          <li>optimise your layout for different screen sizes, but don’t make assumptions about what devices people are using (things change)</li>
          <li>the media queries for these breakpoints can be found in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss">_conditionals.scss</a> file</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>Here's an example of <a href="{{ site.baseurl}}/examples/grid-layout/">grid layout</a></li>
        </ul>

        <h3 class="heading-24">Grid unit proportions</h3>
        <h4 class="heading-19">Two columns</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-2-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <h4 class="heading-19">Three equal columns</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <h4 class="heading-19">Four equal columns</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-layout -->

      <div id="guide-typography">

        <h2 class="heading-36 heading-with-border">2. Typography</h2>
        <ul class="list-bullet text">
          <li>use the GDS Transport Website font in Light and Bold, it is licenced for use on the GOV.UK domains only. Services publicly available on different domains need to use an alternative typeface like Arial
          </li>
          <li>create clear hierarchy using headings so content is easy to scan</li>
          <li>use headings in a uniform way across your service</li>
          <li>body copy should be the main focus of the page</li>
          <li>use 19px GDS Transport Website Light for body copy and caption text. Copy width should be 75 characters for legibility</li>
          <li>common font colours, can be found in the <a href="#guide-colour">colour palette</a></li>
          <li>avoid using bold text inline and italics</li>
          <li>for specialist/internal user content smaller text sizes can be used (14px, 12px, 10px), always ensure that there is a real user need</li>
          <li>use bordered inset text to draw attention to important content on the page</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>Read more about <a href="https://www.gov.uk/service-manual/user-centered-design/resources/typography.html">GOV.UK Typography</a></li>
          <li>Here's an example of <a href="{{ site.baseurl}}/examples/typography/">typography</a></li>
        </ul>

        <h3 class="heading-24">
          Headings <br>
          <span class="text-secondary">GDS Transport Website Bold</span>
        </h3>
        <div class="example">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <h1 class="heading-48">A 48px heading</h1>
              <h2 class="heading-36">A 36px heading</h2>
              <h3 class="heading-24">A 24px heading</h3>
              <h4 class="heading-19">A 19px heading</h4>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">

              <h1 class="heading-48">Heading <em class="highlight">Bold 48px</em></h1>
              <h2 class="heading-36">Heading <em class="highlight">Bold 36px</em></h2>
              <h3 class="heading-24">Heading <em class="highlight">Bold 24px</em></h3>
              <h4 class="heading-19">Heading <em class="highlight">Bold 19px</em></h4>

            </div>
          </div>
        </div>

        <h3 class="heading-24">
          Body copy <br>
          <span class="text-secondary">GDS Transport Website Light</span>
        </h3>
        <div class="example">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <p class="lead">A 24px lead paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p class="copy-19">A 19px body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p class="copy-16">A 16px supporting text paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. </p>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">

              <p class="lead">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 24px</em></p>
              <p class="copy-19">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 19px</em></p>
              <p class="copy-16">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 16px</em></p>

            </div>
          </div>
        </div>

        <h3 class="heading-24">Links and interaction states</h3>
        <div class="example">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <p class="copy-19"><a href="">A 19px body copy link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p class="copy-19"><a href="#" rel="external">A 19px external link. </a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">

              <p class="copy-19"><a href="">A 19px body copy link. </a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p class="copy-19"><a href="#" rel="external">A 19px external link. </a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

            </div>
          </div>
        </div>

        <h3 class="heading-24">Lists</h3>
        <div class="example">
          <div class="inner-block">

            <ul class="list-bullet">
              <li>here is a bulleted list</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
            </ul>

            <ol class="list-number">
              <li>here is a numbered list</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
            </ol>

          </div>
        </div>

        <h3 class="heading-24">Inset text</h3>
        <div class="example">
          <div class="inner-block">

            <div class="text panel-indent">
              <p>
                It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
              </p>
            </div>

          </div>
        </div>

      </div>
      <!-- / #guide-typography -->

      <div id="guide-colour">

        <h2 class="heading-36 heading-with-border">3. Colour</h2>
        <ul class="list-bullet text">
          <li>text should be set in black with secondary text in grey</li>
          <li>links should be set in blue and buttons or dialog boxes should have text in white</li>
          <li>text and functional elements need to be easily differentiated. When colour is desaturated we work toward an AA colour ratio standard of 4.5:1</li>
          <li>use Sass variables in case colour values need to be updated, the variables are defined in <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss">colours.scss</a> in the GOV.UK front end toolkit.</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>Read more about the <a href="https://www.gov.uk/service-manual/user-centered-design/resources/colour-palettes.html">GOV.UK colour palette</a></li>
          <li>Read more about <a href="https://www.gov.uk/service-manual/user-centered-design/accessibility.html">accessibility</a></li>
        </ul>

        <h3 class="heading-24">Colour<br>
        <span class="text-secondary">HEX values and Sass variable names</span></h3>
        <div class="example">
          <div class="inner-block">

            <h3 class="heading-24">Text and background colours</h3>
            <div class="swatch-wrapper">
              <h4 class="heading-19">Text</h4>

              <div class="swatch swatch-text-colour"></div>
              <ul>
                <li><b>#0B0C0C</b></li>
                <li>$text-colour</li>
              </ul>

              <div class="swatch swatch-text-secondary"></div>
              <ul>
                <li><b>#6F777B</b></li>
                <li>$secondary-text-colour</li>
              </ul>

              <div class="swatch swatch-page-colour"></div>

              <ul>
                <li><b>#FFFFFF</b></li>
                <li>$page-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Links</h4>

              <div class="swatch swatch-link-colour"></div>
              <ul>
                <li><b>#005ea5</b></li>
                <li>$link-colour</li>
              </ul>

              <div class="swatch swatch-link-colour-visited"></div>
              <ul>
                <li><b>#005ea5</b></li>
                <li>$link-visited</li>
              </ul>

              <div class="swatch swatch-link-colour-hover"></div>
              <ul>
                <li><b>#2e8aca</b></li>
                <li>$link-hover-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Backgrounds</h4>

              <div class="swatch swatch-border-colour"></div>
              <ul>
                <li><b>#BFC1C3</b></li>
                <li>$border-colour</li>
              </ul>

              <div class="swatch swatch-panel-colour"></div>
              <ul>
                <li><b>#DEE0E2</b></li>
                <li>$panel-colour</li>
              </ul>

              <div class="swatch swatch-highlight-colour"></div>
              <ul>
                <li><b>#F8F8F8</b></li>
                <li>$highlight-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Grey to white</h4>

              <div class="swatch swatch-black"></div>
              <ul>
                <li><b>#0B0C0C</b></li>
                <li>$black</li>
              </ul>

              <div class="swatch swatch-grey-1"></div>
              <ul>
                <li><b>#BFC1C3</b></li>
                <li>$grey-1</li>
              </ul>

              <div class="swatch swatch-grey-2"></div>
              <ul>
                <li><b>#BFC1C3</b></li>
                <li>$grey-2</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19 invisible">Grey to white</h4>

              <div class="swatch swatch-grey-3"></div>
              <ul>
                <li><b>#DEE0E2</b></li>
                <li>$grey-3</li>
              </ul>

              <div class="swatch swatch-grey-4"></div>

              <ul>
                <li><b>#F8F8F8</b></li>
                <li>$grey-4</li>
              </ul>

              <div class="swatch swatch-white"></div>
              <ul>
                <li><b>#FFFFFF</b></li>
                <li>$white</li>
              </ul>
            </div>

            <h3 class="heading-24">Commonly used colours</h3>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Alpha</h4>

              <div class="swatch swatch-alpha"></div>
              <ul>
                <li><b>#d53880</b></li>
                <li>$alpha-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Beta</h4>

              <div class="swatch swatch-beta"></div>
              <ul>
                <li><b>#f47738</b></li>
                <li>$beta-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Error outline</h4>

              <div class="swatch swatch-error"></div>
              <ul>
                <li><b>#df3034</b></li>
                <li>$error</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Error background</h4>

              <div class="swatch swatch-error-background"></div>
              <ul>
                <li><b>#fef7f7</b></li>
                <li>$error-background</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Focus</h4>

              <div class="swatch swatch-focus"></div>
              <ul>
                <li><b>#FFBF47</b></li>
                <li>$yellow</li>
              </ul>
            </div>

            <h3 class="heading-24">Colour palette</h3>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Purple</h4>

              <div class="swatch swatch-purple"></div>
              <ul>
                <li><b>#2e358b</b></li>
                <li>$purple</li>
              </ul>

              <h4 class="heading-19">Mauve</h4>

              <div class="swatch swatch-mauve"></div>
              <ul>
                <li><b>#6f72af</b></li>
                <li>$mauve</li>
              </ul>

              <h4 class="heading-19">Fuschia</h4>

              <div class="swatch swatch-fuschia"></div>
              <ul>
                <li><b>#912b88</b></li>
                <li>$fuschia</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Pink</h4>

              <div class="swatch swatch-pink"></div>
              <ul>
                <li><b>#d53880</b></li>
                <li>$pink</li>
              </ul>

              <h4 class="heading-19">Baby pink</h4>

              <div class="swatch swatch-baby-pink"></div>
              <ul>
                <li><b>#f499be</b></li>
                <li>$baby-pink</li>
              </ul>

              <h4 class="heading-19">Red</h4>

              <div class="swatch swatch-red"></div>
              <ul>
                <li><b>#b10e1e</b></li>
                <li>$red</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Mellow red</h4>

              <div class="swatch swatch-mellow-red"></div>
              <ul>
                <li><b>#df3034</b></li>
                <li>$mellow-red</li>
              </ul>

              <h4 class="heading-19">Orange</h4>

              <div class="swatch swatch-orange"></div>
              <ul>
                <li><b>#f47738</b></li>
                <li>$orange</li>
              </ul>

              <h4 class="heading-19">Brown</h4>

              <div class="swatch swatch-brown"></div>
              <ul>
                <li><b>#b58840</b></li>
                <li>$brown</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Yellow</h4>

              <div class="swatch swatch-yellow"></div>
              <ul>
                <li><b>#ffbf47</b></li>
                <li>$yellow</li>
              </ul>

              <h4 class="heading-19">Green</h4>

              <div class="swatch swatch-green"></div>
              <ul>
                <li><b>#006435</b></li>
                <li>$green</li>
              </ul>

              <h4 class="heading-19">Grass green</h4>

              <div class="swatch swatch-grass-green"></div>
              <ul>
                <li><b>#85994b</b></li>
                <li>$grass-green</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Turquoise</h4>

              <div class="swatch swatch-turquoise"></div>
              <ul>
                <li><b>#28a197</b></li>
                <li>$turquoise</li>
              </ul>

              <h4 class="heading-19">Light blue</h4>

              <div class="swatch swatch-light-blue"></div>
              <ul>
                <li><b>#2b8cc4</b></li>
                <li>$light-blue</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
      <!-- / #guide-colour -->

      <div id="guide-images-icons">

        <h2 class="heading-36 heading-with-border">4. Images and icons</h2>
        <ul class="list-bullet text">
          <li>avoid unnecessary decoration, only use images and icons if there is a there is a real user need</li>
          <li>if images are needed they should be landscape, 3:2 aspect ratio</li>
          <li>if icons are needed ensure they are clear, simple and help to convey information more clearly than text alone could. Don’t hide functionality under icons</li>
          <li>ensure icons meet contrast ratio requirements</li>
        </ul>

        <h3 class="heading-24">Image aspect ratio</h3>
        <div class="example example-images">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/3by2.jpg" alt="3:2">
              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/pm.jpg" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-images-icons -->

      <div id="guide-data">

        <h2 class="heading-36 heading-with-border">5. Data</h2>
        <ul class="list-bullet text">
          <li>data is recommended as an alternative to using photography</li>
          <li>for screen readers, ensure the data value appears first so it makes sense when read aloud</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>
            <a href="https://www.gov.uk/service-manual/user-centered-design/data-visualisation.html">Read more about GOV.UK data visualisation</a>
          </li>
        </ul>

        <h3 class="heading-24">Large data</h3>
        <div class="example">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <div class="data">
                <h2 class="data-80">24</h2>
                <p>Ministerial departments</p>
              </div>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">

              <div class="data">
                <h2 class="data-80">80px</h2>
                <p>16px</p>
              </div>

            </div>
          </div>
        </div>

        <h3 class="heading-24">Small data</h3>
        <div class="example">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <div class="data">
                <h2 class="data-48">56/154</h2>
                <p>on GOV.UK</p>
              </div>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">

              <div class="data">
                <h2 class="data-48">48px</h2>
                <p>16px</p>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-data -->

      <div id="guide-forms">

        <h2 class="heading-36 heading-with-border">6. Forms</h2>
        <ul class="list-bullet text">
          <li>keep forms as simple as possible, only ask what is needed to run your service</li>

          <li>use hint text for supporting contextual help, don’t use placeholder text in fields</li>
          <li>hint text should sit above a form field</li>

          <li>for more than two options, radio buttons or checkboxes should appear stacked</li>
          <li>avoid using dropdowns, instead we recommend; radio buttons, using predictive fields (good for long lists like countries) and checkboxes</li>

          <li>indents are used within forms to highlight supporting information</li>
          <li>all elements use the Sass variable <code>$yellow</code>, Hex <code>#FFBF47</code> as a focus colour, often this is used as a fill or an outline of 3px</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>See an example of <a href="{{ site.baseurl}}/examples/forms/">form layout</a></li>
        </ul>

        <h3 class="heading-24">Form inputs and labels</h3>
        <p>
          Labels should be aligned above their controls.
        </p>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <div class="form-group">
                  <label for="full-name-1" class="form-label">Full name</label>
                  <input type="text" class="form-control" id="full-name-1">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Spacing between form elements</h3>
        <p class="text">
          A form wrapper, <code>.form-group</code> can be used to enclose a form label and input pair. This will create 45px bottom spacing between form rows.
        </p>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <div class="form-group">
                  <label class="form-label" for="full-name-2">Full name</label>
                  <p class="form-hint">As shown on your birth certificate or passport</p>
                  <input type="text" class="form-control" id="full-name-2">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Hint text and example text</h3>
        <p>
          Form hints should appear above the form control
        </p>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <div class="form-group">
                  <label class="form-label" for="full-name-3">Full name</label>
                  <p class="form-hint">As shown on your birth certificate or passport</p>
                  <input type="text" class="form-control" id="full-name-3">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <p>
          Form examples should also appear above the form control
        </p>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <div class="form-group">
                  <label class="form-label" for="other-names">Any other last names</label>
                  <p class="form-hint">For example your maiden name</p>
                  <input type="text" class="form-control" id="other-names">
                </div>

              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Radio buttons</h3>
        <p>
          Radio buttons let users choose a single option from a list.
        </p>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <label for="radio-opt-1" class="form-radio">
                  <input id="radio-opt-1" type="radio" name="radio" value="1">
                  Radio option 1
                </label>

                <label for="radio-opt-2" class="form-radio">
                  <input id="radio-opt-2" type="radio" name="radio" value="2">
                  Radio option 2
                </label>

                <label for="radio-opt-3" class="form-radio">
                  <input id="radio-opt-3" type="radio" name="radio" value="3">
                  Radio option 3
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <p class="text">
          Radio buttons and checkboxes with large hit areas are easier to select with a mouse and also for touch devices.
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <div class="form-group">
                  <label for="radio-1" class="block-label">
                    <input id="radio-1" type="radio" name="radio-group" value="1">
                    Northern Ireland
                  </label>

                  <label for="radio-2" class="block-label">
                    <input id="radio-2" type="radio" name="radio-group" value="2">
                    Isle of Man or the Channel Islands
                  </label>
                </div>

                <div class="form-group">
                  <p>or</p>
                  <label for="radio-3" class="block-label">
                    <input id="radio-3" type="radio" name="radio-group" value="2">
                    I am a British citizen living abroad
                  </label>
                </div>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset class="inline">

                <label for="radio-inline-1" class="block-label">
                  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                  Yes
                </label>

                <label for="radio-inline-2" class="block-label">
                  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                  No
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Checkboxes</h3>
        <p>
          Checkboxes let users select either on/off toggles or multiple selections.
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <div class="form-group">
                  <label for="telephone-number" class="form-label">Enter your telephone number</label>
                  <input type="text" class="form-control" id="telephone-number">

                  <label for="checkbox-telephone-number" class="form-checkbox">
                    <input id="checkbox-telephone-number" type="checkbox" value="checkbox-telephone-number">
                    I need to be contacted using a text phone
                  </label>
                </div>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <label for="checkbox-1" class="block-label">
                  <input id="checkbox-1" type="checkbox" value="1">
                  Checkbox option 1
                </label>
                <label for="checkbox-2" class="block-label">
                  <input id="checkbox-2" type="checkbox" value="2">
                  Checkbox option 2
                </label>
                <label for="checkbox-3" class="block-label">
                  <input id="checkbox-3" type="checkbox" value="2">
                  Checkbox option 3
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset class="inline">

                <label for="checkbox-inline-1" class="block-label">
                  <input id="checkbox-inline-1" type="checkbox" value="1">
                  Checkbox option 1
                </label>
                <label for="checkbox-inline-2" class="block-label">
                  <input id="checkbox-inline-2" type="checkbox" value="2">
                  Checkbox option 2
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Indented form content</h3>
        <p class="text">
          Indents are used to draw attention to supporting information
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">

              <p>Do you know their national insurance number?</p>
              <fieldset class="inline">
                <label for="radio-indent-1" class="block-label" data-target="example-ni-number">
                  <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                  Yes
                </label>
                <label for="radio-indent-2" class="block-label">
                  <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                  No
                </label>
              </fieldset>

              <div class="panel-indent toggle-content" id="example-ni-number">
                <label for="national-insurance" class="form-label">National insurance number</label>
                <input type="text" class="form-control" id="national-insurance">
              </div>

            </form>

          </div>
        </div>

        <!-- TODO: Add progressive disclosure -->

      </div>
      <!-- / #guide-forms -->

      <div id="guide-buttons">

        <h2 class="heading-36 heading-with-border">7. Buttons</h2>
        <ul class="list-bullet text">
          <li>use buttons to move though a transaction. Don't use them to represent choices, instead use radio buttons, checkboxes or links</li>
          <li>start buttons use the colour Hex <code>#00823B</code></li>
          <li>primary buttons use the Sass variable green, <code>$green</code> Hex <code>#006435</code></li>
          <li>buttons can be created using the button mixin defined in the <a href="https://github.com/alphagov/govuk_frontend_toolkit#buttons">GOV.UK front end toolkit</a>
          </li>
          <li>all elements use the Sass variable <code>$yellow</code>, Hex <code>#FFBF47</code> as a focus colour, often this is used as a fill or an outline of 3px</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul class="text">
          <li><a href="https://www.gov.uk/service-manual/user-centered-design/resources/buttons.html">Read more about buttons</a></li>
        </ul>

        <h3 class="heading-24">Start button</h3>
        <div class="example">
          <div class="inner-block">
            <div class="get-started">
              <a href="https://bluebadge.direct.gov.uk/directgovapply.html" rel="external" class="button" target="_blank">Start now</a>
              <span class="destination"> on the Blue Badge eligibility tool</span>
            </div>
          </div>
        </div>

        <h3 class="heading-24">Primary button</h3>
        <div class="example">
          <div class="inner-block">
            <button class="button">Primary button</button>
          </div>
        </div>

        <h3 class="heading-24">Disabled primary button</h3>
        <div class="example">
          <div class="inner-block">
            <button class="button disabled">Primary button</button>
          </div>
        </div>

        <h3 class="heading-24">Secondary button</h3>
        <div class="example">
          <div class="inner-block">
            <button class="button-link">Secondary button</button>
            <a class="button-link" href="{{ site.baseurl}}/example/form.html">Link</a>
          </div>
        </div>

      </div>
      <!-- / #guide-buttons -->

      <div id="guide-errors">

        <h2 class="heading-36 heading-with-border">8. Errors and validation</h2>
        <ul class="list-bullet text">
          <li>summarise validation errors in a box at the top of your page, with jump links</li>
          <li>the red background and border on the box visually connects the errors to the messages in the form</li>
          <li>apply the same background and border colour to the area of the form where an error has occurred</li>
          <li>error copy should be specific to the question and validation should identify all errors</li>
          <li>errors should not cause pre-filled fields to clear</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li><a href="https://www.gov.uk/service-manual/resources/registration-form.html">Read more about form validation</a></li>
          <li>See an example of <a href="https://www.gov.uk/contact/foi">form validation on GOV.UK</a></li>
        </ul>

        <h3 class="heading-24">Form validation errors</h3>
        <div class="example">
          <div class="inner-block">

            <div class="validation-summary">
              <h3 class="heading-19">There was a problem submitting the form</h3>
              <p>Please try the following:</p>
              <ul>
                <li><a href="#error-your-name">Enter your name</a></li>
                <li><a href="#error-your-email">Enter your email address</a></li>
              </ul>
            </div>

            <form action="" class="form">
              <fieldset>

                <div class="validation">
                  <p class="validation-message" id="error-your-name">Enter your name</p>
                  <div class="form-group">
                    <label for="your-name-1" class="form-label">Your name</label>
                    <input type="text" class="form-control" id="your-name-1">
                  </div>
                </div>
                <div class="validation">
                  <div class="form-group">
                    <p class="validation-message" id="error-your-email">Enter your email address</p>
                    <label for="your-email-1" class="form-label">Your email</label>
                    <input type="text" class="form-control" id="your-email-1">
                  </div>
                </div>
              </fieldset>
            </form>

          </div>
        </div>

      </div>
      <!-- / #guide-errors -->

      <div id="guide-tables">

        <h2 class="heading-36 heading-with-border">9. Tables</h2>
        <ul class="list-bullet text">
          <li>consider putting content into tables to make it easier to scan</li>
        </ul>

        <p class="tight">
          Find out more:
        </p>
        <ul>
          <li>See an example of <a href="https://www.gov.uk/vehicle-tax-rate-tables">table usage on GOV.UK</a></li>
        </ul>

        <h3 class="heading-24">Data in a table</h3>
        <div class="example">
          <div class="inner-block">

            <table>
              <thead>
                <tr>
                  <th>Trade description</th>
                  <th>Name of source</th>
                  <th>Place of exploitation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Not yet on sale</td>
                  <td>Amerston borehole</td>
                  <td>Amerston Hall Farm, Elwick</td>
                </tr>
                <tr class="stripe">
                  <td>Schweppes Abbey Well</td>
                  <td>Schweppes Abbey Well</td>
                  <td>Abbey Well, Morpeth, Northumberland</td>
                </tr>
                <tr>
                  <td>Aqua Pura</td>
                  <td>Aqua Pura</td>
                  <td>Low Plains, Armathwaite, Cumbria</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <!-- / #guide-tables -->

    </div><!-- / .inner-block -->

   </div><!-- / #content -->
</main><!-- / #wrapper -->

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/layout}}
