{{<layout}}

{{$pageTitle}}GOV.UK elements{{/pageTitle}}

{{$content}}

<main id="wrapper" role="main">
  <div id="content">

    {{>service_manual_breadcrumb}}
    {{>service_manual_header}}

    <div class="inner-block">

      <div class="text">

        <p class="lead">
          This guide explains how to make your service look consistent with the rest of GOV.UK.
        </p>

        <ol class="list-number">
          <li><a href="#guide-layout">Layout</a></li>
          <li><a href="#guide-typography">Typography</a></li>
          <li><a href="#guide-colour">Colour</a></li>
          <li><a href="#guide-images-icons">Images and icons</a></li>
          <li><a href="#guide-data">Data</a></li>
          <li><a href="#guide-forms">Forms</a></li>
          <li><a href="#guide-buttons">Buttons</a></li>
          <li><a href="#guide-errors">Errors and validation</a></li>
          <li><a href="#guide-tables">Tables</a></li>
        </ol>

        <p>
          Looking for the styles? The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/public/sass">all the examples in this page, can be found on GitHub</a>.
        </p>

      </div>

      <div id="guide-layout">

        <h2 class="heading-36 heading-with-border">1. Layout</h2>
        <div class="text">
          <p>
            When creating your layouts use white space to create a visual hierarchy on the page, aim to design for small screens first, using a single column layout. Consider how you can optimise your layout for different screen sizes, but don’t make assumptions about what devices people are using (things change.)
          </p>
        </div>

        <ul>
          <li><a href="{{ site.baseurl}}/examples/grid-layout/">See an example of GOV.UK grid layout</a></li>
        </ul>

        <h3 class="heading-24">Spacing</h3>
        <ul class="list-bullet text">
          <li>Spacing between elements is usually 5px, 10px, 15px or multiples of 15px.</li>
          <li>Gutters are 15px for smaller screens and 30px for larger screens.</li>
        </ul>

        <div class="example example-images">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/15px-gutter-example.png" alt="15px gutter example">
              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/30px-gutter-example.png" alt="30px gutter example">
              </div>
            </div>
          </div>
        </div>

        <h3 class="heading-24">Grid unit proportions</h3>
        <ul class="list-bullet text">
          <li>Base column ratios on halves, thirds or quarters of the page width.</li>
          <li>Set breakpoints for small, medium and large screens using media queries.</li>
          <li>The media queries for these breakpoints can be found in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss">_conditionals.scss</a> file.</li>

          <li>Introduce columns as the content requires it.</li>
        </ul>

        <h4 class="heading-19">Halves</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <h4 class="heading-19">Thirds</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-2-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-3">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <h4 class="heading-19">Quarters</h4>
        <div class="example example-grid">
          <div class="grid-wrapper">
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
            <div class="grid grid-1-4">
              <div class="inner-block">
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-layout -->

      <div id="guide-typography">

        <h2 class="heading-36 heading-with-border">2. Typography</h2>
        <p class="text">
           Use the GDS Transport Website font in Light and Bold, it is licensed for use on the GOV.UK domains only. Services publicly available on different domains need to use an alternative typeface like Arial. Common font colours can be found in the <a href="#guide-colour">colour palette</a>.
        </p>

        <ul>
          <li><a href="{{ site.baseurl}}/examples/typography/">See an example of GOV.UK Typography</a></li>
          <li><a href="https://gds.blog.gov.uk/2012/07/05/a-few-notes-on-typography/">Read a blog post about GOV.UK Typography</a></li>
        </ul>

        <h3 class="heading-24">
          Headings <br>
          <span class="text-secondary">GDS Transport Website Bold</span>
        </h3>
        <p>
          Use headings consistently to create a clear hierarchy.
        </p>

        <div class="example">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">

                <h1 class="heading-48">A 48px heading</h1>
                <h2 class="heading-36">A 36px heading</h2>
                <h3 class="heading-24">A 24px heading</h3>
                <h4 class="heading-19">A 19px heading</h4>

              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">

                <h1 class="heading-48">Heading <em class="highlight">Bold 48px</em></h1>
                <h2 class="heading-36">Heading <em class="highlight">Bold 36px</em></h2>
                <h3 class="heading-24">Heading <em class="highlight">Bold 24px</em></h3>
                <h4 class="heading-19">Heading <em class="highlight">Bold 19px</em></h4>

              </div>
            </div>
          </div>
        </div>

        <h3 class="heading-24">
          Body copy <br>
          <span class="text-secondary">GDS Transport Website Light</span>
        </h3>
        <ul class="list-bullet text">
          <li>19px body copy should be the main focus of the page.</li>
          <li>Copy width should be a maximum 75 characters for legibility.</li>
          <li>Avoid using bold text inline and italics.</li>
          <li>For specialist/internal user content smaller text sizes can be used (14px, 12px, 10px), always ensure that there is a real user need.</li>
        </ul>
        <div class="example">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">

                <p class="lead">A 24px lead paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="copy-19">A 19px body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="copy-16">A 16px supporting text paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. </p>

              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">

                <p class="lead">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 24px</em></p>
                <p class="copy-19">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 19px</em></p>
                <p class="copy-16">Paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. <em class="highlight">Normal 16px</em></p>

              </div>
            </div>
          </div>
        </div>

        <h3 class="heading-24">Links and interaction states</h3>
        <div class="example">
          <div class="inner-block">

            <p class="copy-19">
              <a href="">A 19px body copy link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            <p class="copy-19">
              <a href="#" rel="external">A 19px body copy external link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>

          </div>
        </div>

        <h3 class="heading-24">Lists</h3>
        <div class="example">
          <div class="inner-block">

            <ul class="list-bullet">
              <li>Here is a bulleted list.</li>
              <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
            </ul>

            <ol class="list-number">
              <li>Here is a numbered list.</li>
              <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
            </ol>

          </div>
        </div>

        <h3 class="heading-24">Inset text</h3>
        <p class="text">
          Use bordered inset text to draw attention to important content on the page.
        </p>
        <div class="example">
          <div class="inner-block">

            <div class="text panel-indent">
              <p>
                It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
              </p>
            </div>

          </div>
        </div>

        <h3 class="heading-24">Hidden text</h3>
        <p class="text">
          Use progressive disclosure to make your page easier to scan,
          only showing contextual information when required.
        </p>
        <div class="example">
          <div class="inner-block">

            <details>
              <summary>How to get this?</summary>
              <p>The prisoner you’re visiting will be able to give you their prisoner number.</p>
            </details>

          </div>
        </div>

      </div>
      <!-- / #guide-typography -->

      <div id="guide-colour">

        <h2 class="heading-36 heading-with-border">3. Colour</h2>
        <p class="text">

        </p>

        <h3 class="heading-24">Colour and accessibility</h3>
        <p class="text">
          When using colour on text and functional elements (like buttons) make sure difference between the foreground and background has a high enough in contrast to be seen by those with visual impairments. We aim to meet the AA colour contrast standard ratio of 4.5:1 <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">prescribed by W3C</a>, to do this we recommend testing using colour contrast tools.
        </p>

        <h3 class="heading-24">Text, background and button colours</h3>
        <ul class="list-bullet text">
          <li>Use Sass variables below in case colour values need to be updated, the variables are defined in <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss">colours.scss</a> of the GOV.UK front end toolkit.</li>
          <li>Text should be set in black <code>$text-colour</code> with secondary text in grey <code>$text-secondary</code>.</li>
          <li>Links should be set in blue <code>$link-colour</code> and buttons or dialog boxes should have text in white.</li>
        </ul>

        <div class="example">
          <div class="inner-block">

            <div class="swatch-wrapper">
              <h4 class="heading-19">Text</h4>

              <div class="swatch swatch-text-colour"></div>
              <ul>
                <li><b>#0B0C0C</b></li>
                <li>$text-colour</li>
              </ul>

              <div class="swatch swatch-text-secondary"></div>
              <ul>
                <li><b>#6F777B</b></li>
                <li>$secondary-text-colour</li>
              </ul>

              <div class="swatch swatch-page-colour"></div>

              <ul>
                <li><b>#FFFFFF</b></li>
                <li>$page-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Links</h4>

              <div class="swatch swatch-link-colour"></div>
              <ul>
                <li><b>#005ea5</b></li>
                <li>$link-colour</li>
              </ul>

              <div class="swatch swatch-link-colour-visited"></div>
              <ul>
                <li><b>#005ea5</b></li>
                <li>$link-visited</li>
              </ul>

              <div class="swatch swatch-link-colour-hover"></div>
              <ul>
                <li><b>#2e8aca</b></li>
                <li>$link-hover-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Backgrounds</h4>

              <div class="swatch swatch-border-colour"></div>
              <ul>
                <li><b>#BFC1C3</b></li>
                <li>$border-colour</li>
              </ul>

              <div class="swatch swatch-panel-colour"></div>
              <ul>
                <li><b>#DEE0E2</b></li>
                <li>$panel-colour</li>
              </ul>

              <div class="swatch swatch-highlight-colour"></div>
              <ul>
                <li><b>#F8F8F8</b></li>
                <li>$highlight-colour</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Buttons</h4>

              <div class="swatch swatch-button-colour"></div>
              <ul>
                <li><b>#00823B</b></li>
                <li>$button-colour</li>
              </ul>

              <div class="swatch swatch-green"></div>
              <ul>
                <li><b>#006435</b></li>
                <li>$green (hover colour)</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Focus</h4>
              <div class="swatch swatch-yellow"></div>
              <ul>
                <li><b>#FFBF47</b></li>
                <li>$yellow</li>
              </ul>
            </div>

          </div>
        </div>

        <h3 class="heading-24">Status colours</h3>
        <div class="example">
          <div class="inner-block">

            <div class="swatch-wrapper">

              <h4 class="heading-19">Phases</h4>

              <div class="swatch swatch-alpha"></div>
              <ul>
                <li><b>#d53880</b></li>
                <li>$alpha-colour</li>
              </ul>

              <div class="swatch swatch-beta"></div>
              <ul>
                <li><b>#f47738</b></li>
                <li>$beta-colour</li>
              </ul>

            </div>

            <div class="swatch-wrapper">

              <h4 class="heading-19">Errors</h4>

              <div class="swatch swatch-error"></div>
              <ul>
                <li><b>#df3034</b></li>
                <li>$error-colour</li>
              </ul>

              <div class="swatch swatch-error-background"></div>
              <ul>
                <li><b>#fef7f7</b></li>
                <li>$error-background</li>
              </ul>

            </div>

          </div>
        </div>

        <h3 class="heading-24">Greyscale palette</h3>
        <div class="example">
          <div class="inner-block">

            <div class="swatch-wrapper">
              <div class="swatch swatch-black"></div>
              <ul>
                <li><b>#0B0C0C</b></li>
                <li>$black</li>
              </ul>
            </div>
            <div class="swatch-wrapper">
              <div class="swatch swatch-grey-1"></div>
              <ul>
                <li><b>#6F777B</b></li>
                <li>$grey-1</li>
              </ul>
            </div>
            <div class="swatch-wrapper">
              <div class="swatch swatch-grey-2"></div>
              <ul>
                <li><b>#BFC1C3</b></li>
                <li>$grey-2</li>
              </ul>
            </div>
            <div class="swatch-wrapper">
              <div class="swatch swatch-grey-3"></div>
              <ul>
                <li><b>#DEE0E2</b></li>
                <li>$grey-3</li>
              </ul>
            </div>
            <div class="swatch-wrapper">
              <div class="swatch swatch-grey-4"></div>
              <ul>
                <li><b>#F8F8F8</b></li>
                <li>$grey-4</li>
              </ul>
            </div>
          </div>
        </div>

        <h3 class="heading-24">Extended palette</h3>
        <ul class="list-bullet text">
          <li>For tints of the extended palette use 50% or 25%.</li>
          <li>Used for graphs and supporting material.</li>
        </ul>
        <p>
          <a href="https://www.gov.uk/performance/carers-allowance">See an example of the extended colour palette on GOV.UK</a>
        </p>

        <div class="example">
          <div class="inner-block">

            <div class="swatch-wrapper">
              <h4 class="heading-19">Purple</h4>

              <div class="swatch swatch-purple"></div>
              <ul>
                <li><b>#2e358b</b></li>
                <li>$purple</li>
              </ul>

              <h4 class="heading-19">Mauve</h4>

              <div class="swatch swatch-mauve"></div>
              <ul>
                <li><b>#6f72af</b></li>
                <li>$mauve</li>
              </ul>

              <h4 class="heading-19">Fuschia</h4>

              <div class="swatch swatch-fuschia"></div>
              <ul>
                <li><b>#912b88</b></li>
                <li>$fuschia</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Pink</h4>

              <div class="swatch swatch-pink"></div>
              <ul>
                <li><b>#d53880</b></li>
                <li>$pink</li>
              </ul>

              <h4 class="heading-19">Baby pink</h4>

              <div class="swatch swatch-baby-pink"></div>
              <ul>
                <li><b>#f499be</b></li>
                <li>$baby-pink</li>
              </ul>

              <h4 class="heading-19">Red</h4>

              <div class="swatch swatch-red"></div>
              <ul>
                <li><b>#b10e1e</b></li>
                <li>$red</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Mellow red</h4>

              <div class="swatch swatch-mellow-red"></div>
              <ul>
                <li><b>#df3034</b></li>
                <li>$mellow-red</li>
              </ul>

              <h4 class="heading-19">Orange</h4>

              <div class="swatch swatch-orange"></div>
              <ul>
                <li><b>#f47738</b></li>
                <li>$orange</li>
              </ul>

              <h4 class="heading-19">Brown</h4>

              <div class="swatch swatch-brown"></div>
              <ul>
                <li><b>#b58840</b></li>
                <li>$brown</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Yellow</h4>

              <div class="swatch swatch-yellow"></div>
              <ul>
                <li><b>#ffbf47</b></li>
                <li>$yellow</li>
              </ul>

              <h4 class="heading-19">Green</h4>

              <div class="swatch swatch-green"></div>
              <ul>
                <li><b>#006435</b></li>
                <li>$green</li>
              </ul>

              <h4 class="heading-19">Grass green</h4>

              <div class="swatch swatch-grass-green"></div>
              <ul>
                <li><b>#85994b</b></li>
                <li>$grass-green</li>
              </ul>
            </div>

            <div class="swatch-wrapper">
              <h4 class="heading-19">Turquoise</h4>

              <div class="swatch swatch-turquoise"></div>
              <ul>
                <li><b>#28a197</b></li>
                <li>$turquoise</li>
              </ul>

              <h4 class="heading-19">Light blue</h4>

              <div class="swatch swatch-light-blue"></div>
              <ul>
                <li><b>#2b8cc4</b></li>
                <li>$light-blue</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
      <!-- / #guide-colour -->

      <div id="guide-images-icons">

        <h2 class="heading-36 heading-with-border">4. Images and icons</h2>
        <p class="text">
          Avoid unnecessary decoration, only use images and icons if there is a there is a real user need.
        </p>
        <ul class="text">
          <li><a href="https://www.gov.uk/government/history">See an example of image usage on GOV.UK</a></li>
        </ul>

        <h3 class="heading-24">Icons</h3>
        <ul class="list-bullet text">
          <li>If icons are needed ensure they are clear, simple and help to convey information more clearly than text alone could.
          Don’t hide functionality under icons.
          </li>
          <li>Ensure icons meet contrast ratio requirements.</li>
        </ul>

        <h3 class="heading-24">Image aspect ratio</h3>
        <p>
          If images are needed they should be landscape, 3:2 aspect ratio.
        </p>

        <div class="example example-images">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/3by2.jpg" alt="3:2">
              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">
                <img src="/public/images/examples/pm.jpg" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-images-icons -->

      <div id="guide-data">

        <h2 class="heading-36 heading-with-border">5. Data</h2>
        <p class="text">
          Data is recommended as an alternative to using photography. For screen readers, ensure the data value appears first so it makes sense when read aloud.
        </p>

        <ul>
          <li><a href="https://www.gov.uk/service-manual/user-centered-design/data-visualisation.html">Read more about GOV.UK data visualisation</a></li>
          <li><a href="https://www.gov.uk/government/how-government-works">See an example of data on GOV.UK</a></li>
        </ul>

        <h3 class="heading-24">Large data</h3>
        <div class="example">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">

                <div class="data">
                  <h2 class="data-80">24</h2>
                  <p>Ministerial departments</p>
                </div>

              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">

                <div class="data">
                  <h2 class="data-80">80px</h2>
                  <p>16px</p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <h3 class="heading-24">Small data</h3>
        <div class="example">
          <div class="grid-wrapper">
            <div class="grid grid-1-2">
              <div class="inner-block">

                <div class="data">
                  <h2 class="data-48">56/154</h2>
                  <p>on GOV.UK</p>
                </div>

              </div>
            </div>
            <div class="grid grid-1-2">
              <div class="inner-block">

                <div class="data">
                  <h2 class="data-48">48px</h2>
                  <p>16px</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- / #guide-data -->

      <div id="guide-forms">

        <h2 class="heading-36 heading-with-border">6. Forms</h2>
        <p class="text">
          Keep forms as simple as possible, only ask what is needed to run your service. All elements use the yellow focus style as a highlight, as either a fill or 3px outline. The focus colour is Sass variable <code>$yellow</code>, Hex <code>#FFBF47</code>.
        </p>

        <p><a href="{{ site.baseurl}}/examples/forms/">See an example of GOV.UK form layout</a></p>

        <h3 class="heading-24">Dropdowns</h3>
        <p class="text">
          Avoid using dropdowns, instead we recommend; radio buttons, using predictive fields (good for long lists like countries) and checkboxes.
        </p>

        <h3 class="heading-24">Form inputs and labels</h3>
        <p class="text">
          Labels should be aligned above their controls.
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <div class="form-group">
                  <label for="full-name-1" class="form-label">Full name</label>
                  <input type="text" class="form-control" id="full-name-1">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Spacing between form elements</h3>
        <p class="text">
          Ensure there is sufficient spacing between form elements. <br>
          Use <code>.form-group</code> to group label and input pairs and create 45px bottom spacing.
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form form-group-example">
              <fieldset>
                <div class="form-group">
                  <label class="form-label" for="first-name-2">First name</label>
                  <p class="form-hint">As shown on your birth certificate or passport</p>
                  <input type="text" class="form-control" id="first-name-2">
                </div>
                <div class="form-group">
                  <label class="form-label" for="last-name-2">Last name</label>
                  <input type="text" class="form-control" id="last-name-2">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Hint text and example text</h3>
        <ul class="list-bullet text">
          <li>Use hint text for supporting contextual help.</li>
          <li>Don’t use placeholder text in fields.</li>
          <li>Hint text should sit above a form field.</li>
        </ul>
        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <div class="form-group">
                  <label class="form-label" for="ni-number-1">National Insurance number</label>
                  <p class="form-hint">It'll be on your last payslip. For example JH 219 00A.</p>
                  <input type="text" class="form-control" id="ni-number-1">
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Radio buttons</h3>
        <ul class="list-bullet text">
          <li>Radio buttons let users choose a single option from a list.</li>
          <li>For two options, these can sit side-by-side.</li>
          <li>For more than two options, radio buttons or checkboxes should be stacked.</li>
          <li>Radio buttons with large hit areas are easier to select with a mouse and also for touch devices.</li>
        </ul>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset class="inline">

                <label for="radio-inline-1" class="block-label">
                  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                  Yes
                </label>

                <label for="radio-inline-2" class="block-label">
                  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                  No
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <div class="form-group">

                  <label for="radio-1" class="block-label">
                    <input id="radio-1" type="radio" name="radio-group" value="1">
                    Northern Ireland
                  </label>

                  <label for="radio-2" class="block-label">
                    <input id="radio-2" type="radio" name="radio-group" value="2">
                    Isle of Man or the Channel Islands
                  </label>

                  <p class="form-block">or</p>

                  <label for="radio-3" class="block-label">
                    <input id="radio-3" type="radio" name="radio-group" value="2">
                    I am a British citizen living abroad
                  </label>

                </div>

              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Checkboxes</h3>
        <ul class="list-bullet text">
          <li>Checkboxes let users select either on/off toggles or multiple selections.</li>
          <li>Checkboxes with large hit areas are easier to select with a mouse and also for touch devices.</li>
        </ul>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>

                <div class="form-group">
                  <label for="telephone-number" class="form-label">Enter your telephone number</label>
                  <input type="text" class="form-control" id="telephone-number">

                  <label for="checkbox-telephone-number" class="form-checkbox">
                    <input id="checkbox-telephone-number" type="checkbox" value="checkbox-telephone-number">
                    I need to be contacted using a text phone
                  </label>
                </div>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset class="inline">

                <label for="checkbox-inline-1" class="block-label">
                  <input id="checkbox-inline-1" type="checkbox" value="1">
                  Checkbox option 1
                </label>
                <label for="checkbox-inline-2" class="block-label">
                  <input id="checkbox-inline-2" type="checkbox" value="2">
                  Checkbox option 2
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">
              <fieldset>
                <h3 class="heading-24">Which types of waste do you transport regularly?</h3>
                <p>Select all that apply</p>
                <label for="checkbox-1" class="block-label">
                  <input id="checkbox-1" type="checkbox" value="1">
                  Waste from animal carcasses
                </label>
                <label for="checkbox-2" class="block-label">
                  <input id="checkbox-2" type="checkbox" value="2">
                  Waste from mines or quarries
                </label>
                <label for="checkbox-3" class="block-label">
                  <input id="checkbox-3" type="checkbox" value="2">
                  Farm or agricultural waste
                </label>

              </fieldset>
            </form>

          </div>
        </div>

        <h3 class="heading-24">Inset content within forms</h3>
        <ul class="list-bullet text">
          <li>Insets can be used within forms to highlight supporting information. </li>
          <li>Use bordered inset text to draw attention to important content on the page.</li>
        </ul>

        <p class="text">
          Click "Yes" in the example below to see how this works.
        </p>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">

              <p>Do you know their national insurance number?</p>
              <fieldset class="inline">
                <label for="radio-indent-1" class="block-label" data-target="example-ni-number">
                  <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                  Yes
                </label>
                <label for="radio-indent-2" class="block-label">
                  <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                  No
                </label>
              </fieldset>

              <div class="panel-indent toggle-content" id="example-ni-number">
                <label for="national-insurance" class="form-label">National insurance number</label>
                <input type="text" class="form-control" id="national-insurance">
              </div>

            </form>

          </div>
        </div>

        <!-- TODO: Add progressive disclosure -->

      </div>
      <!-- / #guide-forms -->

      <div id="guide-buttons">

        <h2 class="heading-36 heading-with-border">7. Buttons</h2>
        <p class="text">
          Use buttons to move though a transaction.
          Don't use them to represent choices, instead use radio buttons, checkboxes or links.
        </p>

        <h3 class="heading-24">Button colours</h3>
        <ul class="list-bullet text">
          <li>Buttons use the use the Sass variable, <code>$button-colour</code>, Hex <code>#00823B</code>.</li>
          <li>Buttons can be created, by passing the above colour variable to the button mixin defined in the <a href="https://github.com/alphagov/govuk_frontend_toolkit#buttons">GOV.UK front end toolkit.</a>
          <li>All buttons use the Sass variable <code>$yellow</code>, Hex <code>#FFBF47</code> as a focus colour, often this is used as a fill or an outline of 3px.</li>
        </ul>

        <h3 class="heading-24">Start now button</h3>
        <div class="example">
          <div class="inner-block">
            <div class="get-started">
              <a href="#" class="button">Start now</a>
              <!-- <span class="destination"> on the Blue Badge eligibility tool</span> -->
            </div>
          </div>
        </div>

        <h3 class="heading-24">Primary button</h3>
        <div class="example">
          <div class="inner-block">
            <button class="button">Primary button</button>
          </div>
        </div>

        <h3 class="heading-24">Disabled button</h3>
        <p>
          Disabled buttons should be set at 50% opacity.
        </p>
        <div class="example">
          <div class="inner-block">
            <button class="button disabled" disabled="disabled">Primary button</button>
          </div>
        </div>

        <h3 class="heading-24">Secondary button</h3>
        <p class="text">
          Secondary buttons should look like links.
          There should only ever be one primary button on a page to make it clear how to proceed.
        </p>
        <div class="example">
          <div class="inner-block">
            <button class="button-link">Secondary button</button>
          </div>
        </div>

      </div>
      <!-- / #guide-buttons -->

      <div id="guide-errors">

        <h2 class="heading-36 heading-with-border">8. Errors and validation</h2>
        <p class="text">
           Have a summary box with anchor links, which jump down to the relevant section of the form where the error is highlighted.
        </p>

        <p><a href="https://www.gov.uk/contact/foi">See an example of form validation on GOV.UK</a></p>

        <h3 class="heading-24">Form validation errors</h3>
        <ul class="list-bullet text">
          <li>Summarise validation errors in a box at the top of your page.</li>
          <li>Use a red background and border on the box to visually connect the errors and messages in the form. </li>
          <li>Apply the same colour to the area of the form where an error has occurred.</li>
          <li>Use jump links in the summary box, to reach the errors in the form.</li>
          <li>Error copy should be specific to the question and validation should identify all errors.</li>
          <li>Errors should not cause pre-filled fields to clear.</li>
        </ul>

        <div class="example">
          <div class="inner-block">

            <form action="" class="form">

              <div class="validation-summary" aria-labelledby="error-heading" role="alert">
                <h3 class="heading-19">There was a problem submitting the form</h3>
                <p>Please try the following:</p>
                <ul>
                  <li><a href="#error-your-name">Enter your name</a></li>
                  <li><a href="#error-your-email">Enter your email address</a></li>
                </ul>
              </div>

              <fieldset>

                <div class="validation-error">
                  <div class="form-group" id="error-your-name">
                    <label for="your-name-1" class="form-label">
                      Your name
                      <span class="validation-message">must be completed</span>
                    </label>
                    <input type="text" class="form-control" id="your-name-1">
                  </div>
                </div>

                <div class="validation-error">
                  <div class="form-group" id="error-your-email">
                    <label for="your-email-1" class="form-label">
                      Your email address
                      <span class="validation-message">must be completed</span>
                    </label>
                    <input type="text" class="form-control" id="your-email-1">
                  </div>
                </div>

              </fieldset>
            </form>

          </div>
        </div>

      </div>
      <!-- / #guide-errors -->

      <div id="guide-tables">

        <h2 class="heading-36 heading-with-border">9. Tables</h2>
        <p class="text">
          Consider putting content into tables to make it easier to scan.
        </p>
        <p><a href="https://www.gov.uk/vehicle-tax-rate-tables">See an example of table usage on GOV.UK</a></p>

        <h3 class="heading-24">Data in a table</h3>
        <div class="example">
          <div class="inner-block">

            <table>
              <thead>
                <tr>
                  <th>Trade description</th>
                  <th>Name of source</th>
                  <th>Place of exploitation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Not yet on sale</td>
                  <td>Amerston borehole</td>
                  <td>Amerston Hall Farm, Elwick</td>
                </tr>
                <tr class="stripe">
                  <td>Schweppes Abbey Well</td>
                  <td>Schweppes Abbey Well</td>
                  <td>Abbey Well, Morpeth, Northumberland</td>
                </tr>
                <tr>
                  <td>Aqua Pura</td>
                  <td>Aqua Pura</td>
                  <td>Low Plains, Armathwaite, Cumbria</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <!-- / #guide-tables -->

    </div><!-- / .inner-block -->

   </div><!-- / #content -->
</main><!-- / #wrapper -->

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/layout}}
