// Semantic colour names
$main-colour: $mellow-red;
$secondary-colour: $red;

$gsdm-nav-main: $mellow-red;
$gsdm-nav-secondary: $black;

$alpha-colour: $pink;
$discovery-colour: $fuschia;
$inception-colour: $pink-50;
$beta-colour: $orange;
$live-colour: $grass-green;
$operational-colour: $grass-green-50;
$retirement-colour: $grey-2;