/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
.text-secondary {
  color: #6f777b; }

.cf:after {
  content: "";
  display: block;
  clear: both; }

#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative; }

.page-header {
  margin: 1em 1em 3em 1em;
  padding: 0 0 2em 0;
  border-bottom: 5px solid #df3034; }
  @media (min-width: 769px) {
    .page-header {
      margin: 1em 2em 3em 2em; } }
  .page-header .hgroup {
    padding: 0; }
    .page-header .hgroup h1 {
      font-family: "nta", Arial, sans-serif;
      font-size: 48px;
      line-height: 1.04167;
      font-weight: 400;
      text-transform: none;
      font-weight: 700;
      color: #0b0c0c;
      padding-top: 0.7rem;
      padding-bottom: 1.3rem; }
      @media (max-width: 640px) {
        .page-header .hgroup h1 {
          font-size: 32px;
          line-height: 1.09375; } }
    .page-header .hgroup h2.subtitle {
      margin: 0;
      color: #6f777b;
      font-family: "nta", Arial, sans-serif;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none; }
      @media (max-width: 640px) {
        .page-header .hgroup h2.subtitle {
          font-size: 20px;
          line-height: 1.2; } }

.breadcrumb {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  background: white;
  padding: 1em 2em 0 2em; }
  .breadcrumb li {
    display: inline-block;
    margin: 0;
    padding: 0; }

#global-breadcrumb {
  padding: 0.75em 0;
  margin: 0 1em;
  z-index: 50;
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3; }
  @media (min-width: 769px) {
    #global-breadcrumb {
      margin: 0 2em; } }
  #global-breadcrumb nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    border: none; }
    #global-breadcrumb nav ol {
      margin: 0;
      padding-left: 0; }
      #global-breadcrumb nav ol li {
        font-family: "nta", Arial, sans-serif;
        font-size: 1.6rem;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        float: left;
        list-style: none;
        margin-left: 0;
        margin-right: 0.5em;
        padding-right: 1em; }
        @media (max-width: 640px) {
          #global-breadcrumb nav ol li {
            font-size: 1.4rem;
            line-height: 1.14286; } }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          #global-breadcrumb nav ol li {
            background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-2x-2ff66846b80b66edba8ce56d29daa935.png);
            background-size: 6px 11px; } }
        #global-breadcrumb nav ol li a {
          color: #0b0c0c; }
        #global-breadcrumb nav ol li strong {
          font-weight: normal; }
        #global-breadcrumb nav ol li:last-child {
          background-image: none;
          margin-right: 0; }

.page-header {
  margin-left: 30px;
  margin-right: 30px; }

code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    code {
      font-size: 14px;
      line-height: 1.14286; } }

.heading-36 {
  border-top: 1px solid #bfc1c3;
  padding-top: 45px; }

.example .heading-36 {
  border-top: none;
  padding-top: 0; }

.list-bullet {
  margin-bottom: 45px; }

.tight {
  margin-bottom: 0; }

.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px; }
  @media (min-width: 641px) {
    .example {
      padding: 30px 15px; } }
  .example .highlight {
    font-style: normal;
    color: #0076c0; }
  .example .button, .example .button-link {
    margin-bottom: 5px; }
  .example .form-group {
    margin-bottom: 0; }

.example-grid {
  background: white;
  padding: 15px 0 10px 0; }
  @media (min-width: 641px) {
    .example-grid {
      padding: 25px 0 20px 0; } }

.example-grid p {
  width: 100%;
  background: url("../../public/images/examples/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  text-indent: -99em; }
  @media (min-width: 641px) {
    .example-grid p {
      min-height: 60px; } }

.example-images {
  padding-left: 0;
  padding-right: 0; }

.example-images img {
  max-width: 100%;
  vertical-align: top; }

.find-out-more {
  margin-bottom: 60px;
  margin-top: 30px;
  padding-bottom: 15px; }
  .find-out-more .heading-24 {
    margin-top: 0;
    padding-top: 15px; }

.swatch-wrapper {
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .swatch-wrapper {
      float: left;
      width: 20%;
      text-align: center; } }

@media (max-width: 640px) {
  .swatch-wrapper .heading-19 {
    margin-bottom: 15px; } }

@media (max-width: 640px) {
  .swatch-wrapper ul {
    min-height: 50px;
    padding-top: 10px; } }

.swatch-wrapper li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .swatch-wrapper li {
      font-size: 14px;
      line-height: 1.14286; } }

.swatch-wrapper b {
  font-weight: bold;
  text-transform: uppercase; }

.swatch {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }
  @media (max-width: 640px) {
    .swatch {
      clear: both;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px; } }
  @media (min-width: 641px) {
    .swatch {
      margin: 0 auto 15px auto; } }

.swatch-purple {
  background-color: #2e358b; }

.swatch-purple-50 {
  background-color: #9799c4; }

.swatch-purple-25 {
  background-color: #d5d6e7; }

.swatch-mauve {
  background-color: #6f72af; }

.swatch-mauve-50 {
  background-color: #b7b9d7; }

.swatch-mauve-25 {
  background-color: #e2e2ef; }

.swatch-fuschia {
  background-color: #912b88; }

.swatch-fuschia-50 {
  background-color: #c994c3; }

.swatch-fuschia-25 {
  background-color: #e9d4e6; }

.swatch-pink {
  background-color: #d53880; }

.swatch-pink-50 {
  background-color: #eb9bbe; }

.swatch-pink-25 {
  background-color: #f6d7e5; }

.swatch-baby-pink {
  background-color: #f499be; }

.swatch-baby-pink-50 {
  background-color: #faccdf; }

.swatch-baby-pink-25 {
  background-color: #fdebf2; }

.swatch-red {
  background-color: #b10e1e; }

.swatch-red-50 {
  background-color: #d9888c; }

.swatch-red-25 {
  background-color: #efcfd1; }

.swatch-mellow-red {
  background-color: #df3034; }

.swatch-mellow-red-50 {
  background-color: #ef9998; }

.swatch-mellow-red-25 {
  background-color: #f9d6d6; }

.swatch-orange {
  background-color: #f47738; }

.swatch-orange-50 {
  background-color: #fabb96; }

.swatch-orange-25 {
  background-color: #fde4d4; }

.swatch-brown {
  background-color: #b58840; }

.swatch-brown-50 {
  background-color: #dac39c; }

.swatch-brown-25 {
  background-color: #f0e7d7; }

.swatch-yellow {
  background-color: #ffbf47; }

.swatch-yellow-50 {
  background-color: #ffdf94; }

.swatch-yellow-25 {
  background-color: #fff2d3; }

.swatch-green {
  background-color: #006435; }

.swatch-green-50 {
  background-color: #7fb299; }

.swatch-green-25 {
  background-color: #cce0d6; }

.swatch-grass-green {
  background-color: #85994b; }

.swatch-grass-green-50 {
  background-color: #c2cca3; }

.swatch-grass-green-25 {
  background-color: #e7ebda; }

.swatch-turquoise {
  background-color: #28a197; }

.swatch-turquoise-50 {
  background-color: #95d0cb; }

.swatch-turquoise-25 {
  background-color: #d5ecea; }

.swatch-light-blue {
  background-color: #2b8cc4; }

.swatch-light-blue-50 {
  background-color: #96c6e2; }

.swatch-light-blue-25 {
  background-color: #d5e8f3; }

.swatch-black {
  background-color: #0b0c0c; }

.swatch-grey-1 {
  background-color: #6f777b; }

.swatch-grey-2 {
  background-color: #bfc1c3; }

.swatch-grey-3 {
  background-color: #dee0e2; }

.swatch-grey-4 {
  background-color: #f8f8f8; }

.swatch-white {
  background-color: #fff;
  border: 1px solid #dee0e2; }

.swatch-text-colour {
  background-color: #0b0c0c; }

.swatch-text-secondary {
  background-color: #6f777b; }

.swatch-page-colour {
  background-color: #fff;
  border: 1px solid #dee0e2; }

.swatch-link-colour {
  background-color: #2e3191; }

.swatch-link-colour-visited {
  background-color: #2e3191; }

.swatch-link-colour-hover {
  background-color: #2e8aca; }

.swatch-border-colour {
  background-color: #bfc1c3; }

.swatch-panel-colour {
  background-color: #dee0e2; }

.swatch-highlight-colour {
  background-color: #f8f8f8; }

.example-back-link {
  display: inline-block;
  margin: 40px 0; }
