{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <p class="page-header__context">Úvod</p>
                    <h1 class="page-header__title">
                        10 princípov tvorby elektronických služieb podľa ID-SK
                    </h1>
                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h2 class="page-contents__title">Stránka obsahuje:</h2>
                    <ul class="page-contents__list">
                        <li><a href="#uzitocnost">1. Začnite potrebami používateľov (princíp užitočnosti)</a></li>
                        <li><a href="#otvorenost">2. Opätovne používajte a zdieľajte (princíp stability a otvorenosti)</a></li>
                        <li><a href="#realnost">3.  Inšpirujte sa realitou (princíp reálnosti)</a></li>
                        <li><a href="#jednoduchost">4. Náročná tvorba vedie k jednoduchým službám (princíp jednoduchosti)</a></li>
                        <li><a href="#agilita">5. Začnite v malom (princíp agility)</a></li>
                        <li><a href="#pristupnost">6. ID-SK je pre každého (princíp prístupnosti)</a></li>
                        <li><a href="#kontext">7. Rešpektovanie kontextu okolnosti použitia (princíp kontextu)</a></li>
                        <li><a href="#holistika">8. Vytvárajte elektronické služby, nie webové stránky (princíp holistického  pohľadu)</a></li>
                        <li><a href="#konzistentnost">9. Buďte konzistentní (princíp konzistentnosti)</a></li>
                        <li><a href="#otvorenost2">10. Tvorte otvorene, zvýšite tým kvalitu (princíp otvorenosti)</a></li>
                    </ul>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="uzitocnost">1. Začnite potrebami používateľov (princíp užitočnosti)</h2>
                        <p>Dizajn služby začína identifikáciou potrieb používateľov. Ak neviete, aké sú potreby používateľov, nepodarí sa vám vytvoriť správnu službu.</p>
                        <p>Nevychádzajte z&nbsp;domnienok. Používateľský prieskum, analýza dát a informácie priamo od&nbsp;používateľov vám pomôžu vybudovať zázemie, na&nbsp;ktorom môžete postaviť službu, ktorá bude spĺňať svoj účel a bude užitočná.</p>

                        <h2 id="otvorenost">2. Opätovne používajte a zdieľajte (princíp stability a otvorenosti)</h2>
                        <p>Platformy a registre je dôležité vytvárať tak, aby tvorili funkčný nemenný základ, ktorý je opätovne použiteľný. Poskytovanie a vzájomné zdieľanie zdrojov môže výrazne uľahčiť prácu ďalším tvorcom elektronických služieb.</p>

                        <h2 id="realnost">3.  Inšpirujte sa realitou (princíp reálnosti)</h2>
                        <p>Pri vytváraní elektronických služieb môžete vychádzať zo&nbsp;spôsobov používania existujúcich služieb v&nbsp;reálnom svete. Aby bola služba kvalitná, pokračujte v&nbsp;jej dizajnovaní aj po&nbsp;jej dokončení, a to na&nbsp;základe informácii od&nbsp;používateľov. Ideálnym spôsobom je pred&nbsp;zavedením finálnej verzie služby spustenie jej testovacej verzie. Testuje s&nbsp;používateľmi až dovtedy kým bude služba pripravená na&nbsp;jej reálne používanie. Základným nástrojom každej elektronickej služby je dátová analytika, ktorá by mala byť jednoducho čitateľná a neustále zapnutá.</p>

                        <h2 id="jednoduchost">4. Náročná tvorba vedie k&nbsp;jednoduchým službám (princíp jednoduchosti)</h2>
                        <p>Elektronizácia je príležitosťou na&nbsp;zjednodušenie služieb používateľom. Pri&nbsp;dizajne služieb vnímajte širší kontext, nielen existujúci postup. Investujte čas do&nbsp;opätovného prepracovania procesov a neuspokojte sa s&nbsp;názorom, ktorý zachováva existujúci stav.</p>

                        <h2 id="agilita">5. Začnite v&nbsp;malom (princíp agility)</h2>
                        <p>Sprístupnite používateľom svoju službu čo najskôr a získajte spätnú väzbu od&nbsp;koncových používateľov. Je lepšie rozvíjať službu postupne a po&nbsp;malých častiach, ako spúšťať veľké celky. Znížite tým riziká a získate cenné informácie, ktoré môžu ovplyvniť vaše ďalšie investície do&nbsp;rozvoja.</p>

                        <h2 id="pristupnost">6. ID-SK je pre&nbsp;každého (princíp prístupnosti)</h2>
                        <p>Prístupný dizajn je dobrý dizajn. Elektronické služby vytvorené podľa ID-SK by mali byť inkluzívne, zrozumiteľné a jednoducho čitateľné. Je potrebné si pripomínať, že elektronické služby sa vytvárajú s&nbsp;konkrétnym účelom, ako odpoveď na&nbsp;konkrétne potreby spoločnosti a na&nbsp;používanie pre&nbsp;konkrétnych ľudí. Medzi používateľmi sú aj takí, ktorí nepoužívajú informačné technológie každý deň. Ľudia ktorí najviac potrebujú naše služby sú často ľudia, ktorým sa zdá ich používanie najťažšie. Práve tieto osoby by mali tvoriť časť testovacej skupiny.</p>

                        <h2 id="kontext">7. Rešpektovanie kontextu okolnosti použitia (princíp kontextu)</h2>
                        <p>Pri&nbsp;tvorbe elektronických služieb je potrebné zohľadňovať okolnosti a kontext, v&nbsp;ktorom ľudia služby budú používať. Dizajn musí adresovať rozdielne potreby podľa času, miesta a zariadenia, v&nbsp;rámci ktorých sa bude služba primárne vykonávať.</p>

                        <h2 id="holistika">8. Vytvárajte elektronické služby, nie webové stránky (princíp holistického pohľadu)</h2>
                        <p>Pri tvorbe služby vnímajte ich multikanálový kontext. Netvoríte len webovú stránku, ale navrhujete zážitok používateľa naprieč rôznymi digitálnymi aj nedigitálnymi kanálmi. Zohľadnite zistenia zo&nbsp;zákazníckeho prieskumu aj v&nbsp;iných kanáloch, aby ste vytvorili kvalitnejšiu službu.</p>

                        <h2 id="konzistentnost">9. Buďte konzistentní (princíp konzistentnosti)</h2>
                        <p>Princíp konzistentnosti spočíva v&nbsp;používaní rovnakého jazyka, výrazov uvedených v&nbsp;slovníku a rovnakých dizajnových vzorov. Uplatňovaním tohto princípu sa pri&nbsp;tvorbe služieb zabezpečí jednak vizuálna jednotnosť a tiež uistenie používateľa, že skutočne stále používa službu verejnej správy. Navyše, keď budú všetky služby tvorené jedným spôsobom, používateľ nadobudne zručnosť v&nbsp;ich používaní. V&nbsp;takom prípade ich bude používať opakovane a tieto služby budú pre neho skutočne efektívnym spôsobom využívania potrebných služieb.</p>

                        <h2 id="otvorenost2">10. Tvorte otvorene, zvýšite tým kvalitu (princíp otvorenosti)</h2>
                        <p>Zdieľajte vaše návrhy, nápady, zámery, neúspechy a zdrojové kódy s&nbsp;komunitou. Otvorenosť podporuje kreativitu a zlepšuje kvalitu výstupov cez&nbsp;skorú spätnú väzbu. Keďže tvorba elektronických služieb je spravidla financovaná z verejných zdrojov, nie je dôvod výstupy skrývať.</p>

                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->

<script src="/public/javascripts/redirect.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">
</script>
<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

