{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <p class="page-header__context">Design</p>
                    <h1 class="page-header__title">
                        Designing government services: an introduction
                    </h1>
                </div>
            </div>

            <div class="column-third">

                <div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h2 class="page-contents__title">Page contents:</h2>
                    <ul class="page-contents__list">
                        <li><a href="#meeting-the-digital-service-standard">Meeting the Digital Service Standard</a></li>
                        <li><a href="#consider-the-whole-user-journey">Consider the whole user journey</a></li>
                        <li><a href="#identify-all-the-parts-of-your-service">Identify all the parts of your service</a></li>
                        <li><a href="#understand-your-users-tasks">Understand your users’ tasks</a></li>
                        <li><a href="#design-for-everyone">Design for everyone</a></li>
                        <li><a href="#further-reading">Further reading</a></li>
                    </ul>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">
                        <p>Services must be designed to meet their users needs. You must consider the whole user journey when you’re designing government services.</p>

                        <h2 id="meeting-the-digital-service-standard">Meeting the Digital Service Standard</h2>

                        <p>You must design services which meet the following points of the <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a>:</p>

                        <ul>
                            <li><a href="/service-manual/service-standard/understand-user-needs">point 1 - understand user needs</a></li>
                            <li><a href="/service-manual/service-standard/do-ongoing-user-research">point 2 - do ongoing user research</a></li>
                            <li><a href="/service-manual/service-standard/use-agile-methods">point 4 - use agile methods</a></li>
                            <li><a href="/service-manual/service-standard/iterate-and-improve-frequently">point 5 - iterate and improve frequently</a></li>
                            <li><a href="/service-manual/service-standard/create-a-service-thats-simple">point 12 - make sure users succeed first time</a></li>
                        </ul>

                        <p><a href="https://www.gov.uk/service-manual/service-assessments/check-if-you-need-a-service-assessment">Check if you need a service assessment</a> before you build your service.</p>

                        <h2 id="consider-the-whole-user-journey">Consider the whole user journey</h2>

                        <p>Users think of services in terms of what they want to do, for example learn to drive, start a business or become a childminder. This might mean they’ll deal with different government departments, agencies or third-party suppliers.</p>

                        <p>Looking at the whole user journey means building services that reflect the way users think about or use them.</p>

                        <p>When designing a service, make sure it:</p>

                        <ul>
                            <li>reflects what users want to do and is built on users’ experiences</li>
                            <li>has a beginning, middle and end - users’ needs change, for example finding out  if you’re eligible to become a childminder is different to gathering documents so you can apply</li>
                            <li>can be completed as needed - for example by phone, online and on paper</li>
                            <li>is accessible to everyone - for example anyone who’s in a wheelchair, blind, deaf, autistic, dyslexic or having memory problems because of stress</li>
                        </ul>

                        <p>Find out more about looking at the whole user journey in these blog posts:</p>

                        <ul>
                            <li><a rel="external" href="https://gds.blog.gov.uk/2016/04/18/what-we-mean-by-service-design/">What we mean by service design</a></li>
                            <li><a rel="external" href="https://designnotes.blog.gov.uk/2016/04/22/identifying-a-good-service/">Identifying a good service</a></li>
                        </ul>

                        <h2 id="identify-all-the-parts-of-your-service">Identify all the parts of your service</h2>

                        <p>Before you can build a new service or improve an existing service you need to understand how it works. This means thinking about your service:</p>

                        <ul>
                            <li>from end-to-end - including whether the tasks are provided directly by government or a third party, for example a supplier</li>
                            <li>from front to back - including what users see, internal processes and software, policy or legislation, and how the service is governed and financed</li>
                            <li>in every channel - including phone, post and face to face as well as digital</li>
                        </ul>

                        <p>To do this you should define all the tasks that help users meet a need at every stage.</p>

                        <h2 id="understand-your-users-tasks">Understand your users’ tasks</h2>

                        <p>You should look at everything a user has to do to achieve their goal.</p>

                        <p>Remember that services usually include digital, physical and offline parts, and that users often need to work with more than one part of government.</p>

                        <p>You should also look at when users might have to complete tasks in their journey. That might mean getting a licence from one department and forms from another.</p>

                        <p><a rel="external" href="https://designnotes.blog.gov.uk/2016/04/21/how-to-make-a-user-journey-map/">Learn more about mapping user journeys.</a></p>

                        <h3 id="research-your-users-tasks">Research your users’ tasks</h3>

                        <p>Your users’ tasks might include:</p>

                        <ul>
                            <li>checking eligibility before they apply</li>
                            <li>finding a thing, for example a form</li>
                            <li>reading regulations, policy or news</li>
                            <li>acting on an email, text or letter they get from a service</li>
                        </ul>

                        <p>Your users might have to complete tasks at different times, for example:</p>

                        <ul>
                            <li>before they start (including research)</li>
                            <li>during their journey (including getting photos or forms)</li>
                            <li>after they’ve finished (including updating their personal details online)</li>
                        </ul>

                        <p>Once you understand your users’ tasks you can:</p>

                        <ul>
                            <li>find out how well the tasks meet user needs</li>
                            <li>work out which tasks in the service need to fit together</li>
                            <li>rebuild tasks to create a seamless user-centred journey</li>
                        </ul>

                        <h2 id="design-for-everyone">Design for everyone</h2>

                        <p><a href="/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction">Your service must be accessible</a> to everyone who needs it.</p>

                        <p>You must also operate your service in line with your department’s Welsh language scheme, if there is one.</p>

                        <h2 id="further-reading">Further reading</h2>

                        <p>Read these guides to find out how to plan, build and run your service:</p>

                        <ul>
                            <li><a href="/service-manual/design/naming-your-service">Naming your service</a></li>
                            <li><a href="/service-manual/design/making-prototypes">Making prototypes</a></li>
                            <li><a href="/service-manual/design/using-adapting-and-creating-patterns">Using, adapting and creating patterns</a></li>
                        </ul>

                    </div>

                </div>

                <div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>

            </div>
        </div>

    </main>

    <div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

