<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th class="numeric" scope="col">Paper form</th>
      <th class="numeric" scope="col">Digital</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25 November to 1 December 2013</td>
      <td class="numeric">2,763</td>
      <td class="numeric">1,792</td>
    </tr>
    <tr>
      <td>2 to 8 December 2013</td>
      <td class="numeric">2,850</td>
      <td class="numeric">1,740</td>
    </tr>
    <tr>
     <td>9 to 15 December 2013</td>
      <td class="numeric">2,388</td>
      <td class="numeric">1,683</td>
    </tr>
  </tbody>
</table>
