<table>
  <thead>
    <tr>
      <th></th>
      <th scope="col">Business Plan</th>
      <th scope="col">Actual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vehicle volumes</td>
      <td>103,672,000</td>
      <td>97,424,000</td>
    </tr>
    <tr>
      <td>Driver volumes</td>
      <td>16,891,000</td>
      <td>15,197,000</td>
    </tr>
    <tr>
     <td>Electronic take-up target</td>
      <td>54%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Electronic take-up (actual)</td>
      <td>-</td>
      <td>50.3%</td>
    </tr>
  </tbody>
</table>
