<table>
  <thead>
    <tr>
      <th></th>
      <th class="text-right" scope="col">Business Plan</th>
      <th class="text-right" scope="col">Actual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vehicle volumes</td>
      <td class="text-right numerical">103,672,000</td>
      <td class="text-right numerical">97,424,000</td>
    </tr>
    <tr>
      <td>Driver volumes</td>
      <td class="text-right numerical">16,891,000</td>
      <td class="text-right numerical">15,197,000</td>
    </tr>
    <tr>
     <td>Electronic take-up target</td>
      <td class="text-right numerical">54%</td>
      <td class="text-right numerical">-</td>
    </tr>
    <tr>
      <td>Electronic take-up (actual)</td>
      <td class="text-right numerical">-</td>
      <td class="text-right numerical">50.3%</td>
    </tr>
  </tbody>
</table>
