<h1 class="heading-medium">
  These questions will help you choose a certified company
</h1>

<div class="form-group {{#error}}error{{/error}}">
  <fieldset class="inline">
    <legend class="form-label-bold">
      {{#error}}<span class="error-message">Please select if you are 19 or over</span>{{/error}}
      Are you 19 or over?
    </legend>
    <label class="block-label" for="age-yes">
      <input id="age-yes" name="age19YearsOrOver" value="true" type="radio">
        <span></span>Yes
    </label>
    <label class="block-label" for="age-no">
      <input id="age-no" name="age19YearsOrOver" value="false" type="radio">
        <span></span>No
    </label>
  </fieldset>
</div>

<input class="button" type="submit" value="Continue">
