<h1 class="heading-medium">
  Do you know their National Insurance number?
</h1>

<form>
  <fieldset class="inline">

    <legend class="visuallyhidden">Do you know their National Insurance number?</legend>

    <div class="form-group">

      <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
        Yes
      </label>

      <label class="block-label" for="radio-indent-2">
        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
        No
      </label>

      <div class="panel panel-border-narrow js-hidden" id="example-ni-no">
        <label class="form-label" for="national-insurance">National Insurance number</label>
        <input class="form-control" name="national-insurance" type="text" id="national-insurance">
      </div>

    </div>

  </fieldset>
</form>
