<div class="form-section">
  <h2 class="form-section-title">Claimant</h2>
  <div class="form-group">
    <label class="form-label" for="first-name">Title</label>
    <input class="form-control form-control-xsmall" type="text" id="first-name">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name">Full name</label>
    <input class="form-control" type="text" id="last-name">
  </div>
  <div class="inline-form-groups">
    <div class="form-group">
      <label class="form-label" for="last-name">Postcode</label>
      <input class="form-control form-control-xsmall" type="text" id="last-name">
    </div>
    <button class="button button-inline">Find address</button>
  </div>
</div>