<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">
        We'll only contact you when it's important.
        <span class="form-hint">
          Select one:
        </span>
      </span>
    </legend>
    <label class="block-label" for="radio-1">
      <span></span>
      <input id="radio-1" type="radio" name="radio-group" value="email">
      email
    </label>
    <label class="block-label" for="radio-2">
      <span></span>
      <input id="radio-2" type="radio" name="radio-group" value="text message">
      text message
    </label>
  </fieldset>
</div>
