<div class="form-group error">
  <fieldset>
    
    <legend class="heading-large">
      <span class="error-message" aria-hidden="true">Error message goes here</span>
      Where do you live?
    </legend>
    
    <label class="block-label" for="country_residence_england">
      <input id="country_residence_england" name="country" value="England" type="radio">
      <span></span> England
    </label>
    <label class="block-label" for="country_residence_scotland">
      <input id="country_residence_scotland" name="country" value="Scotland" type="radio">
      <span></span> Scotland
    </label>
    <label class="block-label" for="country_residence_wales">
      <input id="country_residence_wales" name="country" value="Wales" type="radio">
        <span></span> Wales
    </label>
    <label class="block-label" for="country_residence_northern_ireland">
      <input id="country_residence_northern_ireland" name="country" value="Northern Ireland" type="radio">
      <span></span> Northern Ireland
    </label>
    <p class="form-block">
      or
    </p>
    <label class="block-label" for="country_residence_abroad">
      <input id="country_residence_abroad" name="country" value="Abroad" type="radio">
      <span></span> British citizen living in another country (including the Channel Islands or Isle of Man)
    </label>
    
    <span class="error-message visuallyhidden">Error message goes here</span>
    
  </fieldset>
</div>

<input class="button" type="submit" value="Continue">