<div class="grid-wrapper">
  <div class="grid grid-3-4">
    <div class="inner-block">

      <form action="/" method="post" class="form">
        <div class="form-group">
          <label for="full-name-f2" class="form-label">Full name</label>
          <input type="text" class="form-control" id="full-name-f2">
        </div>
      </form>

    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">

      <div class="swatch-wrapper">
        <h4 class="heading-small">Focus</h4>
        <div class="swatch swatch-yellow"></div>
        <ul>
          <li><b>#FFBF47</b></li>
          <li>$yellow</li>
        </ul>
      </div>

    </div>
  </div>
</div>
