<div class="form-section">

  <h2 class="form-section-title">Work experience</h2>

  <div class="form-group">
    <label class="form-label" for="first-name">Employer</label>
    <input class="form-control" type="text" id="first-name">
  </div>

  <div class="form-group">
    <label class="form-label" for="last-name">Your role</label>
    <input class="form-control form-control-xlarge" type="text" id="last-name">
  </div>

  <div class="form-group inline-form-groups">
    <div class="h3 form-group-title">Dates worked</div>
    <div class="form-group">
      <label class="form-label" for="dob-month">From</label>
      <input class="form-control form-control-xsmall" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>
    <div class="form-group">
      <label class="form-label" for="dob-year">To</label>
      <input class="form-control form-control-xsmall" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
    </div>
  </div>

</div>