<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <div class="form-group">
        <label class="form-label" for="full-name-f2">Full name</label>
        <input class="form-control" type="text" id="full-name-f2">
      </div>
    </form>
  </div>
  <div class="column-third">
    <div class="swatch-wrapper">
      <h4 class="heading-small">Focus</h4>
      <div class="swatch swatch-yellow"></div>
      <ul>
        <li><b>#FFBF47</b></li>
        <li>$focus-colour</li>
      </ul>
    </div>
  </div>
</div>
