<div class="grid-wrapper">
  <div class="grid grid-3-4">
    <div class="inner-block">

      <form class="form" action="/" method="post">
        <div class="form-group">
          <label class="form-label" for="full-name-f2">Full name</label>
          <input class="form-control" type="text" id="full-name-f2">
        </div>
      </form>

    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">

      <div class="swatch-wrapper">
        <h4 class="heading-small">Focus</h4>
        <div class="swatch swatch-yellow"></div>
        <ul>
          <li><b>#FFBF47</b></li>
          <li>$yellow</li>
        </ul>
      </div>

    </div>
  </div>
</div>
