<div class="form-section">

  <h2 class="form-section-title">Card details</h2>

  <div class="form-group">
    <label class="form-label" for="first-name">Name on card</label>
    <input class="form-control" type="text" id="first-name">
  </div>

  <div class="form-group">
    <label class="form-label" for="first-name">Card number</label>
    <input class="form-control" type="text" id="first-name">
  </div>

  <div class="form-group">
    <label class="form-label" for="last-name">Security code</label>
    <input class="form-control form-control-xsmall" type="text" id="last-name">
  </div>

  <div class="form-group inline-form-groups">
    <p class="form-group-title">
      Expiry date
    </p>

    <div class="form-group">
      <label class="form-label" for="dob-month">Month</label>
      <input class="form-control form-control-xsmall" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>

    <div class="form-group">
      <label class="form-label" for="dob-year">Year</label>
      <input class="form-control form-control-xsmall" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
    </div>
  </div>

</div>