<fieldset class="form-section">

  <h2 class="form-section-title">Date of birth</h2>

  <div class="form-group inline-form-groups">

    <div class="form-group">
      <label class="form-label" or="dob-day">Day</label>
      <input class="form-control form-control-xsmall" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
    </div>

    <div class="form-group">
      <label class="form-label" for="dob-month">Month</label>
      <input class="form-control form-control-xsmall" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>

    <div class="form-group">
      <label class="form-label" for="dob-year">Year</label>
      <input class="form-control form-control-small" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2015">
    </div>
  </div>
</fieldset>