<div class="form-section">
<fieldset>
  <legend class="form-section-title">Which types of waste do you transport regularly?</legend>
  <p>Select all that apply:</p>
  <label class="block-label" for="checkbox-1">
    <input id="checkbox-1" type="checkbox" value="waste-animal">
    Waste from animal carcasses
  </label>
  <label class="block-label" for="checkbox-2">
    <input id="checkbox-2" type="checkbox" value="waste-mines">
    Waste from mines or quarries
  </label>
  <label class="block-label" for="checkbox-3">
    <input id="checkbox-3" type="checkbox" value="farm-agricultural">
    Farm or agricultural waste
  </label>
</fieldset>
</div>