<h1 class="heading-medium">What is your date of birth?</h1>

<form class="form">
  <fieldset>
    <legend class="visuallyhidden">
        Date of birth
    </legend>
    <div class="inline-form-groups">

      <p>For example, 31 3 1980</p>

      <div class="form-group">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control form-control-2-chars" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
      </div>

      <div class="form-group">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control form-control-4-chars" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
      </div>

      <div class="form-group">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control form-control-4-chars" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
      </div>
    </div>

  </fieldset>
</form>
