<div class="form-group error">
  <label class="form-label-bold" for="error-example-ni-no">
    <span class="error-message" aria-hidden="true">Error message goes here</span>
    What is your National Insurance number?
    <span class="form-hint">
      It's on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, 'VO 12 34 56 D'.
    </span>
    <input type="text" class="form-control" id="error-example-ni-no" name="niNumber" value="{{niNumber}}">
    <span class="error-message visuallyhidden">Error message goes here</span>
  </label>
</div>
<input class="button" type="submit" value="Continue">
