<fieldset>
  <legend>
    <span class="form-label-bold">
      What is your nationality?
    </span>
  </legend>
  <p>
    Select all options that are relevant to you.
  </p>
  <div class="form-group form-group-compound">
    <label class="block-label" for="nationality-british">
      <input id="nationality-british" type="checkbox" value="British">
      British (including English, Scottish, Welsh and Northern Irish)
    </label>
    <label class="block-label" for="nationality-irish">
      <input id="nationality-irish" type="checkbox" value="Irish">
      Irish
    </label>
    <label class="block-label" for="nationality-other" data-target="example-different-country">
      <input id="nationality-other" type="checkbox" value="Citizen of a different country">
      Citizen of a different country
    </label>
  </div>
  <div class="panel-indent js-hidden" id="example-different-country">
    <label class="form-label" for="nationality-other-country">Country name</label>
    <input class="form-control" type="text" id="nationality-other-country">
  </div>
</fieldset>
