{{#error}}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading-3" tabindex="-1">
  <h3 class="heading-medium error-summary-heading" id="error-summary-heading-3">
    Message to alert the user to a problem goes here
  </h3>
  <p>
    Description of the errors and how to correct them
  </p>
  <ul class="error-summary-list">
    {{^niNo}}<li><a href='#ni-number'>Error message goes here</a></li>{{/niNo}}
  </ul>
</div>
{{/error}}

<div class="form-group {{#error}}error{{/error}}">

  <label class="form-label-bold" for="ni-number">

    What is your National Insurance number?
    <span class="form-hint">
      It's on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, 'VO 12 34 56 D'.
    </span>

    {{#error}}<span class="error-message" aria-hidden="true">Error message goes here</span>{{/error}}

    <input type="text" class="form-control" id="ni-number" name="niNumber" value="{{niNumber}}">

  </label>

</div>

<input class="button" type="submit" value="Continue">
