<div class="form-section">
  <h2 class="form-section-title">Create a password</h2>

  <div class="form-group form-group-compound">
    <label for="create-password">
      <span class="form-hint">Your password must have:</span>
      <ul class="list-bullet">
        <li>at least 4 characters</li>
        <li>at least one number</li>
        <li>at least one capital letter</li>
      </ul>
    </label>
    <input class="form-control" type="text">
  </div>

  <div class="form-group">
    <label class="form-checkbox" for="">
      <input id="" type="checkbox" value="">
      Show typing
    </label>
  </div>
</div>