<form class="form">
  <fieldset>
    <legend class="form-label-bold">Which types of waste do you transport regularly?</legend>
    <p>Select all that apply</p>
    <label for="checkbox-1" class="block-label">
      <input id="checkbox-1" type="checkbox" value="1">
      Waste from animal carcasses
    </label>
    <label for="checkbox-2" class="block-label">
      <input id="checkbox-2" type="checkbox" value="2">
      Waste from mines or quarries
    </label>
    <label for="checkbox-3" class="block-label">
      <input id="checkbox-3" type="checkbox" value="2">
      Farm or agricultural waste
    </label>
  </fieldset>
</form>
