<form class="form">
  <fieldset class="inline">

    <legend class="form-label">Do you know their National Insurance number?</legend>

    <div class="form-group">
      <label for="radio-indent-1" class="block-label" data-target="example-ni-number">
        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
        Yes
      </label>
      <label for="radio-indent-2" class="block-label">
        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
        No
      </label>
    </div>

    <div class="panel-indent js-hidden" id="example-ni-number">
      <label for="national-insurance" class="form-label">National Insurance number</label>
      <input type="text" class="form-control" id="national-insurance">
    </div>

  </fieldset>
</form>
