<p>Here is a bulleted list:</p>
<ul class="list list-bullet">
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ul>

<p>Here is a numbered list.</p>
<ol class="list list-number">
  <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
  <li>Vestibulum id ligula porta felis euismod semper.</li>
  <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
</ol>

<ul class="list">
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
  <li><a href="#" class="bold-xsmall">More</a></li>
</ul>
