{{<layout_example}}

{{$pageTitle}}Example: Form elements — Form elements — GOV.UK elements{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  {{>breadcrumb}}

  <form action="/" method="post" class="form">

    <h1 class="heading-large">
      <span class="heading-secondary">Form elements</span>
      Example: Form elements
    </h1>

    <!-- Input type="text" -->
    <div class="form-group">
      <label class="form-label" for="input-text">Single line text fields</label>
      <input class="form-control" id="input-text" type="text">
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="form-label" for="textarea">Multi-line text fields</label>
      <textarea class="form-control" id="textarea" cols="30" rows="10"></textarea>
    </div>

    <!-- Select box -->
    <div class="form-group">
      <label class="form-label" for="select-box">Drop down content</label>
      <select class="form-control" id="select-box">
        <option>Banana</option>
        <option>Cherry</option>
        <option>Lemon</option>
      </select>
    </div>

    <!-- Check box -->
    <div class="form-group">
      <label class="form-checkbox" for="checkbox-telephone-number" >
        <input id="checkbox-telephone-number" type="checkbox" value="checkbox-telephone-number">
        Native check box
      </label>
    </div>

    <!-- Chunky check box -->

    <div class="form-group">
      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" value="waste-animal">
        Checkbox
      </label>
      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" value="waste-mines">
        Checkbox
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="farm-agricultural">
        Checkbox
      </label>
    </div>

    <!-- Radio button -->

    <div class="form-group">
      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        Radio
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        Radio
      </label>
      <label class="block-label" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        Radio
      </label>
    </div>

  </form>

</main><!-- / #content -->
{{/content}}

{{/layout_example}}
