{{<layout_example}}

{{$pageTitle}}Example: Margins and spacing — Typography — GOV.UK elements{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>breadcrumb}}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Typography</span>
        Margins and spacing
      </h1>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">A 27px section heading</span>
        A 48px heading
      </h1>

      <p class="lede">
        This is an intro paragraph at 24px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.
      </p>

      <h1 class="heading-large">
        <span class="heading-secondary">A 27px section heading</span>
        A 36px heading for longer titles
      </h1>

      <p class="lede">
        This is an intro paragraph at 24px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.
      </p>

      <h2 class="heading-large">A 36px heading</h2>

      <p>
        This is a body copy paragraph at 19px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
      </p>

      <h3 class="heading-medium">A 24px heading</h3>

      <p>
        Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
      </p>

      <h4 class="heading-small">A 19px heading</h4>

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>

      {{>typography_paragraphs}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>

      {{>typography_lists}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>

      <h4 class="heading-small">An ordered list</h4>

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      <ol class="list list-number">
        <li>Alendronic acid</li>
        <li>Ibandronic acid</li>
        <li>Pamidronate disodium</li>
        <li>Risedronate sodium</li>
        <li>Sodium clodronate</li>
        <li>Zoledronic acid</li>
      </ol>

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      <h4 class="heading-small">An unordered list</h4>

      <ul class="list list-bullet">
        <li>Alendronic acid</li>
        <li>Ibandronic acid</li>
        <li>Pamidronate disodium</li>
        <li>Risedronate sodium</li>
        <li>Sodium clodronate</li>
        <li>Zoledronic acid</li>
      </ul>

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      <h4 class="heading-small">An unordered list with nested ordered list</h4>

      <ul class="list list-bullet">
        <li>The possibility of osteonecrosis of the external auditory canal should be considered in patients receiving bisphosphonates who present with ear symptoms, including chronic ear infections, or in patients with suspected cholesteatoma</li>
        <li>Possible risk factors include steroid use and chemotherapy, with or without local risk factors such as infection or trauma
          <ol class="list list-number">
            <li>
              Sub list item one
            </li>
            <li>
              Sub list item two
            </li>
            <li>
              Sub list item three
            </li>
          </ol>
        </li>
        <li>Patients should be advised to report any ear pain, discharge from the ear, or an ear infection during bisphosphonate treatment</li>
        <li>Report any cases of osteonecrosis of the external auditory canal suspected to be associated with bisphosphonates or any other medicines, including denosumab, on a <a rel="external" href="http://www.mhra.gov.uk/yellowcard">Yellow Card</a>
        </li>
      </ul>

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      {{>typography_legal_text}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      {{>typography_inset_text}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      {{>data_table}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

      {{>data_table_numeric}}

      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
      </p>

    </div>
  </div>
</main>
{{/content}}

{{/layout_example}}
