{{<layout_example}}

{{$content}}
<main id="content" role="main">

  {{>breadcrumb}}
  <h1 class="heading-xlarge">Details test page</h1>
  <p>
    Support for HTML5's &lt;details&gt; and &lt;summary&gt;
  </p>

  <div class="form-group">
    <label class="form-label-bold" for="driving-licence">
      Driving licence number
      <span class="form-hint">For example, NORGA657054SM91J</span>
    </label>
    <input class="form-control" id="driving-licence" type="text">
  </div>

  <details>
    <summary>
      <span class="summary">Where to find your driving licence number</span>
    </summary>
    <div class="panel-indent">
      <p>
        Your driving licence number can be found in section 5<br>
        of your driving licence photocard.
      </p>
    </div>
  </details>

  <details open>
    <summary>
      <span class="summary">Where to find your driving licence number</span>
    </summary>
    <div class="panel-indent">
      <p>
        Your driving licence number can be found in section 5<br>
        of your driving licence photocard.
      </p>
    </div>
  </details>

  <details open="open">
    <summary>
      <span class="summary">Where to find your driving licence number</span>
    </summary>
    <div class="panel-indent">
      <p>
        Your driving licence number can be found in section 5<br>
        of your driving licence photocard.
      </p>
    </div>
  </details>

</main><!-- /#content -->
{{/content}}

{{/layout_example}}
