{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Example: Your details
    </h1>

    <!-- Full name -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Full name</label>
      <p class="form-hint">As shown on your birth certificate or passport</p>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- National Insurance number -->
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        National Insurance number
        <span class="form-hint">
          It's on your National Insurance card, benefit letter, payslip or P60.
          <br>
          For example, 'VO 12 34 56 D'.
        </span>
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

    <!-- Date of birth -->
    {{> form_date }}

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
      <ul>
        <li><a href="#">Skip this section for now</a></li>
        <li><a href="/">Back</a></li>
      </ul>
    </div>

  </form>

</main><!-- / #content -->
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
