{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>

  <h1 class="heading-xlarge">
    Example: Grid layout
  </h1>

  <p>
    <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the size of each of the grid columns.
  </p>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-medium">Two thirds</h2>
      <div class="text">
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
  <script>

    // Toggle grid background colours

    $(document).ready(function () {

      var $html = $('html');
      var $toggle = $('.js-highlight-grid')

      $toggle.on( "click", function(e) {

        e.preventDefault();

        $html.toggleClass('example-highlight-grid');

        if ($('.column-highlight').length>0) {
          // Don't add more than once
        } else {
          $('.grid-row div').wrapInner('<div class="column-highlight"></div>');
        }

      });

    });

    </script>
{{/bodyEnd}}

{{/govuk_template}}
