{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="wrapper" role="main">
  <div id="content">

    <div class="grid-wrapper">
      <div class="grid">
        <div class="inner-block">

          <a href="/" class="example-back-link">Back to GOV.UK elements</a>

          <h1 class="heading-xlarge">
            Grid layout
          </h1>

          <h2 class="heading-small">Full width</h2>
          <p>
            <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the size of each of the grid cells.
          </p>

        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block">

          <h2 class="bold-small">Two thirds</h2>
          <div class="text">
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="bold-small">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          <h2 class="bold-small">One half</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="inner-block">
          <h2 class="bold-small">One half</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="bold-small">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="bold-small">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="bold-small">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="bold-small">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="bold-small">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="bold-small">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="bold-small">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="grid-divider"></div>

    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block">

          <h2 class="bold-small">Dividing the grid</h2>
          <div class="text">
            <p>
              To set dividers between grid sections, use <code>.grid-divider</code>.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="grid-divider"></div>

    <div class="inner-block">
      <h2 class="heading-medium">
        You won't always need a grid&hellip;
      </h2>
      <p>
        For full-width layout, a grid isn't required.
      </p>
      <p>
        Use <code>.outer-block</code> to set a max-width of 1020px and within it <code>.inner-block</code> to set left and right padding.<br> Find these mixins in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_grid_layout.scss">grid_layout.scss</a> file.
      </p>
      <p>
        <a href="/" class="example-back-link">Back to GOV.UK elements</a>
      </p>
    </div><!-- /.inner-block -->

    <!-- Hi there, the code below is not recommended -->
    <!-- It's here for testing but feel free to ignore it -->

    <!--
    <div class="inner-block">
      <div class="grid-wrapper">
        <div class="grid">
          <div class="inner-block">

            <a href="/" class="example-back-link">Back to GOV.UK elements</a>

            <h1 class="heading-xlarge">
              Grid layout
            </h1>

            <h2 class="heading-small">Full width</h2>
            <p>
              <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the size of each of the grid cells.
            </p>

          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">

            <h2 class="bold-small">Two thirds</h2>
            <div class="text">
              <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <h2 class="bold-small">One third</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus.</p>
          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="inner-block">
            <h2 class="bold-small">One half</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
        <div class="grid grid-1-2">
          <div class="inner-block">
            <h2 class="bold-small">One half</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-1-3">
          <div class="inner-block">
            <h2 class="bold-small">One third</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <h2 class="bold-small">One third</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <h2 class="bold-small">One third</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-1-4">
          <div class="inner-block">
            <h2 class="bold-small">One quarter</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            <h2 class="bold-small">One quarter</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            <h2 class="bold-small">One quarter</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block">
            <h2 class="bold-small">One quarter</h2>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="grid-divider">
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">

            <h2 class="bold-small">Dividing the grid</h2>
            <div class="text">
              <p>
                To set dividers between grid sections, use <code>.grid-divider</code>.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    -->

  </div><!-- /#content (.outer-block) -->
</main>

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
