{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>

  <h1 class="heading-xlarge">
    Grid layout
  </h1>

  <h2 class="heading-small">Full width</h2>
  <p>
    Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p>
    <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the size of each of the grid cells.
  </p>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-small">Two thirds</h2>
      <div class="text">
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="column-third">
      <h2 class="bold-small">One third</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-small">One half</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
    <div class="column-half">
      <h2 class="bold-small">One half</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-small">One third</h2>
    </div>
    <div class="column-third">
      <h2 class="bold-small">One third</h2>
    </div>
    <div class="column-third">
      <h2 class="bold-small">One third</h2>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="bold-small">One quarter</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-small">One quarter</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-small">One quarter</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-small">One quarter</h2>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
