{{<govuk_template}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$afterHeader}}
<div class="alpha-banner">
  <div class="outer-block">
    <div class="inner-block">
      <p><strong>Alpha:</strong> This is a prototype - your <a href="/feedback">feedback</a> will help us to improve it</p>
    </div>
  </div>
</div>
{{/afterHeader}}

{{$content}}
<main id="wrapper" role="main">
  <div id="content">

    <div class="grid-wrapper">
      <div class="grid">
        <div class="inner-block">

          <a href="/" class="example-back-link">Back to GOV.UK elements</a>

          <h1 class="heading-48">
            Layout template
          </h1>

          <p class="text">
            This template shows how content aligns with the header and footer. <br>
            It also shows how to implement the Alpha phase banner.
          </p>

          <h2 class="heading-36">Full width</h2>

          <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the padding on grid cells.

          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>

        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block">

          <h2 class="heading-36">Two thirds</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>

        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="heading-36">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-2">
        <div class="inner-block">
          <h2 class="heading-36">One half</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="inner-block">
          <h2 class="heading-36">One half</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="heading-36">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="heading-36">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <h2 class="heading-36">One third</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="heading-36">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="heading-36">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="heading-36">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <h2 class="heading-36">One quarter</h2>
          <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
    </div>

    <div class="inner-block">

      <h1 class="heading-36">
        If you don't need a grid&hellip;
      </h1>

      <p>
        You can still have full width content, using only .inner-block to set left and right padding.
      </p>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>

      <a href="/" class="example-back-link">Back to GOV.UK elements</a>

    </div>

  </div>
</main>
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
  <script>

    // Turn on grid highlight styles as default

    // $(document).ready(function () {

    //   var html = $('html');
    //   html.addClass('example-highlight-grid');

    //   if ($('.is-inner-block-highlight').length>0) {
    //     // Don't add more than once
    //   } else {
    //     $('.grid .inner-block').wrapInner('<div class="is-inner-block-highlight"></div>');
    //   }

    // });

    </script>
{{/bodyEnd}}

{{/govuk_template}}
