
{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>

  <h1 class="heading-xlarge">Date test page</h1>

  <!-- Date of birth -->
  {{> form_date }}

</main><!-- /#content -->
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
