
{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>
  <h1 class="heading-xlarge">Details test page</h1>
  <p>
    Support for HTML5's &lt;details&gt; and &lt;summary&gt;
  </p>

  <div class="form-group">
    <label class="form-label-bold" for="driving-licence">
      Driving licence number
      <span class="form-hint">For example, NORGA657054SM91J</span>
    </label>
    <input class="form-control" id="driving-licence" type="text">
  </div>

  <details>
    <summary>
      <span class="summary">Where to find your driving licence number</span>
    </summary>
    <div class="panel-indent">
      <p>
        Your driving licence number can be found in section 5<br>
        of your driving licence photocard.
      </p>
    </div>
  </details>

</main><!-- /#content -->
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
