
{{<govuk_template}}

{{$cookieMessage}}
  {{>cookie_message}}
{{/cookieMessage}}

{{$head}}
  {{>head}}
{{/head}}

{{$propositionHeader}}
  {{>propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

  <a href="/" class="example-back-link">Back to GOV.UK elements</a>

  <h1 class="heading-xlarge">Form date test page</h1>

  <!-- Date of birth -->
  <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">Date of birth</legend>

      <div class="form-date">
        <p class="form-hint">For example, 08 04 2014</p>

        <div class="form-group form-group-day">
          <label for="dob-day">Day</label>
          <input type="text" class="form-control" id="dob-day">
        </div>
        <div class="form-group form-group-month">
          <label for="dob-month">Month</label>
          <input type="text" class="form-control" id="dob-month">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year">Year</label>
          <input type="text" class="form-control" id="dob-year">
        </div>
      </div>

      <div class="form-date native-date-picker">
        <p class="form-hint">For example, 08 April 2014</p>
        <input type="date" class="form-control">
      </div>

    </fieldset>
  </div>

</main><!-- /#page-container -->
{{/content}}

{{$bodyEnd}}
  {{>scripts}}
{{/bodyEnd}}

{{/govuk_template}}
