{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <h1 class="page-header__title">
                        Adresy
                    </h1>
                    <p class="page-header__context">Tento návod opisuje postup, ako požiadať používateľov o ich adresu.</p>
                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h3 class="page-contents__title">Stránka obsahuje:</h3>
                    <ol class="page-contents__list">
                        <li><a href="#zaciatok">Predtým, než začnete</a></li>
                        <li><a href="#pouzivanie1">Používanie voľného textového poľa</a></li>
                        <li><a href="#pouzivanie2">Používanie viacerých polí v adrese</a></li>
                        <li><a href="#pouzivanie3">Používanie vyhľadávania adresy</a></li>
                    </ol>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="zaciatok">Predtým než začnete</h2>
                        <p>
                            Spôsob, akým by ste mali požiadať používateľov o adresu, závisí od druhu adresy a od účelu, na ktorý ju chcete využiť.
                            Nižšie sú uvedené 3 spôsoby, ako požiadať o adresy, spolu s príkladmi ich použitia.
                        </p>

                        <h2 id="pouzivanie1">Predtým než začnete</h2>
                        <p>
                            Voľné textové pole použite, ak očakávate širokú škálu formátov adries a nepotrebujete pri spracovaní použiť konkrétne časti adries (napríklad ulicu alebo PSČ).
                            Pri potrebe dekompozície na jednotlivé prvky adresy sa toto pole spravidla nepoužíva. Používa sa najmä ak je potreba jednoduchej tlače adresy.
                        </p>
                        <p>Toto je príklad voľného textového poľa:</p>

                        <img src="/public/images/patterns/address1.png" alt="address">
                        <h3>Výhody voľného textového poľa</h3>
                        <p>Voľné textové pole:</p>

                        <ul class="list-bullet">
                            <li>dokáže spracovať ľubovoľný formát adresy,</li>
                            <li>umožňuje používateľom skopírovať a prilepiť adresy priamo do poľa,</li>
                            <li>má jednoduchý formát a používatelia tak nemusia premýšľať, ktorá časť adresy patrí do ktorého poľa</li>
                        </ul>


                        <h3>Nevýhody voľného textového poľa</h3>
                        <p>Voľné textové pole:</p>
                        <ul class="list-bullet">
                            <li>zásadne komplikuje proces rozdeľovania adresy do konkrétnych podčastí (napríklad ulica alebo PSČ) a je nemožné tento proces navrhnúť so 100% presnosťou,</li>
                            <li>nemusí byť kompatibilný so systémami, ktoré používajú adresy rozdelené do viacerých polí,</li>
                            <li>neumožňujú používateľom pri zadávaní vyhľadať adresu,</li>
                            <li>neumožňujú kontrolu zadanej adresy voči existujúcim.</li>
                        </ul>

                        <h2 id="pouzivanie2">Používanie viacerých polí v adrese</h2>
                        <p>
                            Viaceré polia v adrese je vhodné používať vtedy, ak je potrebné spracúvať jednotlivé časti adresy a ak ste si istí, že používatelia budú zadávať iba adresy z rovnakého územia a v rovnakom formáte - napr. z územia Slovenskej republiky.
                        </p>

                        <h3>Príklad viacerých polí v adrese</h3>
                        <p>Toto je príklad vzoru viacnásobného adresového poľa, ktorý funguje pre jednoduché adresy zo Slovenskej republiky:</p>
                        <img src="/public/images/patterns/address2.png" alt="address">

                        <h3>Výhody viacerých polí v adrese</h3>
                        <p>Pri použití viacerých polí v adrese:</p>
                        <ul class="list-bullet">
                            <li>je možné ľahko extrahovať a používať jednotlivé časti adresy (napríklad názvy ulíc alebo PSČ),</li>
                            <li>je možné poskytnúť pomoc pre jednotlivé polia,</li>
                            <li>je možné overiť správnosť každej časti adresy samostatne,</li>
                            <li>používatelia majú možnosť vyplniť formulár pomocou funkcie automatického dokončovania v prehliadači.</li>
                        </ul>

                        <h3>Nevýhody viacerých polí v adrese</h3>
                        <p>Nevýhodami viacerých polí v adrese sú :</p>

                        <ul class="list-bullet">
                            <li>zvýšená náročnosť nájsť jediný formát, ktorý funguje pre všetky typy adries (vrátane adries mimo SR),</li>
                            <li>neexistuje žiadna záruka, že používatelia budú používať polia podľa vášho predpokladu,</li>
                            <li>používatelia nemôžu jednoducho kopírovať a prilepiť adresy.</li>
                        </ul>

                        <h3>Ak používate viaceré polia v adrese</h3>

                        <p>Pri použití viacerých polí v adrese dbajte na to, aby:</p>

                        <ul class="list-bullet">
                            <li>boli povinné len tie polia, ktoré sa používajú aj pri zahraničných adresách (v prípade ak majú niektorí z vašich používateľov zahraničné adresy),</li>
                            <li>boli používatelia upozornení, v prípade, že nevyplnia žiadne pole v adrese,</li>
                            <li>dĺžka polí bola adekvátna k obsahu - pomôžete tak používateľom lepšie pochopiť formulár (napríklad, aby polia PSČ boli kratšie ako polia ulíc),</li>
                            <li>ste nepoužívali polia, ktoré rozlišujú veľké a malé písmená (nechajte používateľov rozhodnúť sa či využijú malé alebo malé písmená),</li>
                            <li>ste neobmedzovali používateľov v zadávaní PSČ s medzerami alebo bez nich.</li>
                        </ul>

                        <h2 id="pouzivanie3">Používanie vyhľadávania adresy</h2>

                        <p>Vyhľadávanie adresy umožňuje používateľom určiť adresu v Slovenskej republike zadaním PSČ a následne výberom ich adresy zo zoznamu.</p>
                        <img src="/public/images/patterns/address3.gif" alt="address">

                        <h3>Výhody vyhľadávania adresy</h3>
                        <p>Použitie vyhľadávania adresy má nasledovné výhody:</p>

                        <ul class="list-bullet">
                            <li>používatelia, ktorí zadávajú adresy v rámci Slovenskej republiky nemusia manuálne zadávať všetky informácie,</li>
                            <li>znižuje sa riziko, že sa používatelia pomýlia v zadávaní adresy, vďaka čomu bude adresa automatizovane spracovateľná.</li>
                        </ul>

                        <h3>Ak používate vyhľadávanie adresy</h3>
                        <p>Pri použití vyhľadávania adresy dbajte na to, aby:</p>

                        <ul class="list-bullet">
                            <li>bolo používateľom jasné, že je možné vyhľadávať iba adresy v rámci Slovenskej republiky,</li>
                            <li>ste poskytli aj možnosť manuálneho zadania adresy pre používateľov, ktorých adresa je mimo Slovenskej republiky alebo v databáze chýba, prípadne je nesprávne uvedená.</li>
                        </ul>



                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<!--<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">-->
<!--</script>-->

<!--<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>-->


{% include "includes/scripts.html" %}
{% endblock %}

