{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">

                    <h1 class="page-header__title">
                        Overenie pred začiatkom procesu
                    </h1>
                    <p class="page-header__context">Tento návod vysvetľuje, ako pomocou série otázok informovať používateľov, či je pre nich vaša služba vhodná.</p>
                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h3 class="page-contents__title">Stránka obsahuje:</h3>
                    <ol class="page-contents__list">
                        <li><a href="#ukazka">Ukážka</a></li>
                        <li><a href="#preco-pouzit">Prečo použiť tento vzor</a></li>
                        <li><a href="#ako-pouzit">Ako použiť tento vzor</a></li>
                        <li><a href="#pytajte-sa">Pýtajte sa jednoduché otázky</a></li>
                        <li><a href="#prezentovanie">Prezentovanie výsledkov</a></li>
                    </ol>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="ukazka">Ukážka</h2>
                        <img src="/public/images/patterns/check1.png" alt="check">


                        <h2 id="preco-pouzit">Prečo použiť tento vzor</h2>
                        <p>Použitím tohto vzoru môžete pomôcť používateľom spoznať, či je vaša služba pre nich vhodná, potrebná alebo či majú potrebné oprávnenia na jej použitie. Vďaka tomu používatelia nebudú strácať čas tým, že sa budú snažiť použiť vašu službu pokiaľ na ňu nemajú oprávnenie alebo ju nepotrebujú.
                        </p>
                        <p>
                            Použitie takéhoto overenia môže znížiť vaše prevádzkové náklady tým, že zredukuje čas a úsilie vášho tímu zákazníckej podpory pri objasňovaní základných otázok použitia služby.
                        </p>

                        <p>Často kladenými otázkami používateľov sú napríklad
                        </p>

                        <ul class="list-bullet">
                            <li>Som vhodným žiadateľom?</li>
                            <li>Koľko zaplatím za použitie služby?</li>
                            <li>Koľko peňazí dostanem?</li>
                            <li>Ako dlho bude trvať, kým niečo dostanem?</li>
                        </ul>

                        <p>
                            Som vhodným žiadateľom?
                            Koľko zaplatím za použitie služby?
                            Koľko peňazí dostanem?
                            Ako dlho bude trvať, kým niečo dostanem?
                        </p>

                        <h2 id="ako-pouzit">Ako použiť tento vzor</h2>
                        <p>Pri použití tohto vzoru potrebujete: </p>
                        <ul class="list-number">
                            <li>Zistiť, čo používateľ potrebuje vedieť.</li>
                            <li>Opýtať sa sériu otázok.</li>
                            <li>Prezentovať používateľovi stránku s výsledkom.</li>
                        </ul>
                        <p>Ak existujú všeobecné pravidlá o tom, či služba môže alebo nemôže byť použitá (napríklad má vekový limit alebo je presne stanovený hraničný termín), uveďte túto informáciu na úvodnej stránke.</p>


                        <h2 id="pytajte-sa">Pýtajte sa jednoduché otázky</h2>

                        <p>
                            Ak máte problém s formulovaním jednoduchých otázok, pretože pravidlá sú príliš komplikované, poraďte sa s obsahovým alebo komunikačným tímom vo vašej organizácii. Pomôžu vám otázky zjednodušiť.
                        </p>
                        <p>
                            Jednoduché otázky budete schopní vytvoriť iba ak je jasný samotný proces.
                        </p>

                        <h2 id="prezentovanie">Prezentovanie výsledkov</h2>
                        <p>Vaša stránka s výsledkami musí používateľov informovať:</p>
                        <ul class="list-bullet">
                            <li>či musia použiť vašu službu,</li>
                            <li>či sú pre službu vhodnými žiadateľmi,</li>
                            <li>koľko zaplatia za použitie služby,</li>
                            <li>koľko peňazí dostanú za použitie služby,</li>
                            <li>ako dlho bude celý proces trvať.</li>
                        </ul>

                        <p>Ak používateľ nie je vhodným žiadateľom, vysvetlite mu prečo. </p>
                        <p>Tu je príklad stránky s výsledkom:</p>

                        <img src="/public/images/patterns/check2.png" alt="check">

                        <!--
                        <h2 id="suvisiace">Súvisiace návody</h2>
                        <p>Tieto návody môžu byť pre vás užitočné:</p>
                        <ul class="list-bullet">
                            <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
                        </ul>
                        -->

                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

