{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <h1 class="page-header__title">
                        Označenie verzie služby
                    </h1>
                    <p class="page-header__context">Tento návod opisuje postup, ako označiť testovaciu verziu služby a novo spustenú službu.</p>
                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h3 class="page-contents__title">Stránka obsahuje:</h3>
                    <ol class="page-contents__list">
                        <li><a href="#pouzitie">Kedy použiť označenie služby</a></li>
                        <li><a href="#priklad">Príklad</a></li>
                        <li><a href="#ziskanie">Získajte kód</a></li>
                        <li><a href="#pridanie">Pridanie kontaktu na spätnú väzbu</a></li>
                    </ol>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="pouzitie">Kedy použiť označenie služby</h2>
                        <p>
                            Pred tým, ako vytvoríte novú službu, odporúčame, aby ste si overili, či už taká služba neexistuje, resp. či ju používatelia reálne potrebujú. Ideálnym nástrojom je používateľský prieskum. Ak na základe prieskumu dospejete k záveru, že vaša služba je potrebná, spustite jej testovaciu verziu. Aj tu bude potrebné získať pripomienky používateľov k danej verzii. Až po ich zapracovaní odporúčame spustiť ostrú verziu vašej služby.
                        </p>


                        <h3>Testovacia verzia</h3>

                        <p>
                            Všetky služby by mali byť najskôr spúšťané v testovacej verzii. Pre označenie tejto verzie služby použite štítok “Testovacia verzia”.
                            Odporúčame použiť toto označenie pre službu, ktorú ste spustili do prevádzky len so zámerom testovania. Môže ísť napríklad o klikateľný prototyp, ktorý nie je plne funkčný, čiže dáta vpísané do formulárových polí nie sú nikde zaznamenávané. Cieľom tejto verzie služby by malo byť získanie spätnej väzby od používateľov.
                        </p>

                        <h3>Nová verzia</h3>
                        <p>Pre novú verziu služby použite štítok “Nová verzia”. Ako “Nová verzia” by mala byť označená každá nová služba, ktorá bola spustená do ostrej prevádzky, je teda plne funkčná. Odporúčame použiť toto označenie maximálne po dobu 6 mesiacov. Po uplynutí tejto doby označenie odstráňte.</p>

                        <h2 id="priklad">Príklad označenia verzie služby so štítkom</h2>
                        <p>Označenie so štítkom musí byť priamo pod hlavičkou ID-SK a lištou s trikolórou.  </p>
                        <img src="/public/images/patterns/banner1.png" alt="banner">

                        <h2 id="ziskanie">Získajte kód</h2>
                        <p>Kód na označenie testovacej a novej verzie získate na <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/docs/mixins.md#-phase-banner">ID-SK frontend toolkit.</a></p>

                        <h2 id="pridanie">
                            Pridanie odkazu na spätnú väzbu
                        </h2>

                        <p>Použitie odkazu na spätnú väzbu na stránke vám pomôže zozbierať spätnú väzbu od používateľov. Tento odkaz môže otvoriť email alebo presunúť používateľa na príslušnú stránku, či formulár. Akýkoľvek spôsob použijete, uistite sa, že sa používatelia v službe nestratia a môžu sa jednoducho vrátiť na stránku, na ktorej sa nachádzali.  </p>


                        <!--
                        <h2 id="navody">
                            Súvisiace návody
                        </h2>

                        <p>Tieto návody môžu byť pre vás užitočné:</p>
                        <ul class="list-bullet">
                            <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
                        </ul>
                        -->


                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

