{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">

                    <h1 class="page-header__title">
                        Prihlásenie a používateľské účty
                    </h1>
                    <p class="page-header__context">Tento návod opisuje správne použitie a štruktúrovanie používateľských účtov.
                    </p>
                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h2 class="page-contents__title">Stránka obsahuje:</h2>
                    <ul class="page-contents__list">
                        <li><a href="#kedy-pouzivat-prihlasenie-a-pouzivatelske-ucty">Kedy používať prihlásenie a používateľské účty</a></li>
                        <li><a href="#umiestnenie-tlacidla-prihlasit-sa">Umiestnenie tlačidla “Prihlásiť sa”</a></li>
                        <li><a href="#alternativy-k-prihlaseniu-a-pouzivatelskym-uctom">Alternatívy k prihláseniu a používateľským účtom</a></li>
                        <li><a href="#pouzivajte-zrozumitelny-a-konzistentny-jazyk">Používajte zrozumiteľný a konzistentný jazyk</a></li>
                        <li><a href="#prihlasovanie">Prihlasovanie</a></li>
                        <li><a href="#ak-prihlasovanie-trva-dlhsie">Ak prihlasovanie trvá dlhšie</a></li>
                        <li><a href="#chyba-pri-prihlasovani">Chyba pri prihlasovaní</a></li>
                    </ul>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">
                        
                        <h2 id="kedy-pouzivat-prihlasenie-a-pouzivatelske-ucty">Kedy používať prihlásenie a používateľské účty</h2>
                        <p>Keďže prostredie slovenského e-Governmentu poskytuje jednotný autentifikačný modul, neodporúčame vytvárať iné druhy používateľských účtov. Ak už na vašom webovom sídle používateľské účty využívate, riaďte sa pravidlami uvedenými nižšie.</p>
                        <p>Umožnite používateľom čo najviac využiť vašu službu pred tým, ako si budú musieť vytvoriť používateľský účet. Napríklad väčšinu nákupných webových stránok si môžete prezerať a v niektorých prípadoch aj vykonať objednávku bez nutnosti vytvorenia účtu.</p>
                        <p>Nenúťte používateľov vytvárať používateľské účty alebo prihlasovať sa cez eID elektronickú identifikáciu, ak to nie je nevyhnutné. Pre mnohých používateľov je to bariéra, ktorá vám znižuje mieru využívania elektronických služieb.</p>
                        <p>Používateľské účty a prihlásenie sa používajú iba v prípade, ak je pravdepodobné, že vaši používatelia budú musieť svoje údaje využívať v budúcnosti, prípadne aktualizovať vo viacerých častiach vašej služby.</p>
                        
                        <h2 id="umiestnenie-tlacidla-prihlasit-sa">Umiestnenie tlačidla “Prihlásiť sa”</h2>
                        <h3>Ak využívate hlavičku navrhnutú v ID-SK</h3>
                        <p>Tlačidlo “Prihlásiť sa” umiestnite vždy v pravej časti hlavičky, tak ako je to popísané v sekcii hlavička a päta.</p>
                        <h3>Ak nevyužívate hlavičku navrhnutú v ID-SK</h3>
                        <p>Ak vo vašej službe nevyužívate hlavičku navrhnutú v ID-SK, odporúčame vám umiestniť  tlačidlo pre prihlásenie používateľa vždy v pravej hornej časti obrazovky. Uistite sa, že tlačidlo je dostatočne viditeľné a vizuálne nesplýva so zvyšným obsahom na danej stránke. Odporúča sa ponechať minimálne 30 pixelov voľného priestoru z každej strany okolo tlačidla. Pre zachovanie konzistentnosti pomenujte tlačidlo “Prihlásiť sa”.</p>
                        <h3>Ukážka neprihláseného používateľa</h3>
                        <img src="\public\images\patterns\prihlasenie1.png" alt="prihlasenie">
                        <h3>Ukážka prihláseného používateľa</h3>
                        <img src="\public\images\patterns\prihlasenie2.png" alt="prihlasenie">

                        <h2 id="alternativy-k-prihlaseniu-a-pouzivatelskym-uctom">Alternatívy k prihláseniu a používateľským účtom</h2>
                        <p>Ak plánujete umožniť používateľom, aby si vo vašej službe mohli skontrolovať stav vybavenia žiadosti, odporúča sa im poskytnúť unikátne referenčné číslo. Následne pre zobrazenie stavu stačí, ak používatelia zadajú toto referenčné číslo spolu s menom alebo e-mailovou adresou. Tento systém využívajú napríklad mnohé kuriérske spoločnosti.</p>
                        <h3>Ukážka</h3>
                        <img src="\public\images\patterns\prihlasenie3.png" alt="prihlasenie">

                        <h2 id="pouzivajte-zrozumitelny-a-konzistentny-jazyk">Používajte zrozumiteľný a konzistentný jazyk</h2>
                        <p>Pre konzistentnosť s ostatnými službami slovensko.sk použite frázy ako napríklad 'Vytvoriť účet' namiesto 'Registrovať', “Prihlásiť sa” namiesto “Prihlásiť” alebo “Odhlásiť sa” namiesto “Odhlásiť” a pod.</p>
                        
                        <h2 id="prihlasovanie">Prihlasovanie</h2>
                        <p>Počas procesu prihlasovania, musí byť používateľ upovedomený, že prebieha prihlasovanie. Odporúča sa používať aj animácia prebiehajúceho prihlasovania (viď ukážka prihlasovania).</p>
                        <h3>Ukážka prihlasovania</h3>
                        <img src="\public\images\patterns\prihlasenie4.png" alt="prihlasenie">


                        <h2 id="ak-prihlasovanie-trva-dlhsie">Ak prihlasovanie trvá dlhšie</h2>
                        <p>Ak proces prihlasovania trvá dlhšie ako býva zvykom, je potrebné o tom používateľa informovať priamo v obrazovke prihlasovania spolu s možnosťou “Zrušiť prihlasovanie”, v prípade, že používateľ nie je ochotný čakať.</p>
                        <h3>Ukážka, ak prihlasovanie trvá dlhšie</h3>
                        <img src="\public\images\patterns\prihlasenie5.png" alt="prihlasenie">


                        <h2 id="chyba-pri-prihlasovani">Chyba pri prihlasovaní</h2>
                        <p>Ak počas prihlasovania nastane chyba, je nutné používateľa o tom informovať a ponúknuť mu možnosti ako má pokračovať. Popis chyby by mal byť krátky a natoľko zrozumiteľný, aby mu porozumel aj menej skúsený používateľ.</p>
                        <p>Okrem popisu chyby je dôležité zobraziť aj kroky, ktoré má používateľ podniknúť, aby mu služba fungovala správne (viď ukážku nižšie “Skontrolujte prosím nasledovné údaje”).</p>
                        <p>V prípade, že ide o častú chybu, napríklad u používateľov, ktorí sa prihlasujú po prvýkrát, je vhodné na to poukázať aj v chybovej hláške (viď ukážka nižšie “Prihlasujete sa prvýkrát?”)</p>
                        <h3>Ukážka</h3>
                        <img src="\public\images\patterns\prihlasenie6.png" alt="prihlasenie">


                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

