{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <h1 class="page-header__title">
                        Ukážka podania žiadosti
                    </h1>
                    <p class="page-header__context">Toto je názorná ukážka, ako by mala vyzerať elektronická služba, ktorá dodržiava pravidlá ID-SK.
                    </p>

                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h2 class="page-contents__title">Stránka obsahuje:</h2>
                    <ul class="page-contents__list">
                        <li><a href="#informacne-udaje">Informačné údaje</a></li>
                        <li><a href="#uvodna-obrazovka">Úvodná obrazovka</a></li>
                        <li><a href="#osobne-informacie">Osobné informácie</a></li>
                        <li><a href="#kontaktne-udaje">Kontaktné údaje</a></li>
                        <li><a href="#informacie-tykajuce-sa-ziadosti">Informácie týkajúce sa žiadosti</a></li>
                        <li><a href="#zhrnutie">Zhrnutie</a></li>
                        <li><a href="#platobna-stranka">Platobná stránka</a></li>
                        <li><a href="#potvrdenie-o-podani-ziadosti">Potvrdenie o podaní žiadosti</a></li>
                    </ul>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="informacne-udaje">Informačné údaje</h2>
                        <p>V rámci celého procesu podávania žiadosti je dôležité zachovať hlavičku a pätu ID-SK. Ak má proces podávania žiadosti viac ako štyri obrazovky, musí byť v hlavičke stránok vždy umiestnený názov služby, aby mal používateľ prehľad o tom, o akú žiadosť sa jedná.</p>
                        
                        <h2 id="uvodna-obrazovka">Úvodná obrazovka</h2>
                        <p>Úvodná stránka pomáha používateľom pochopiť, o akú službu sa jedná, či ju potrebuje, resp. či je pre neho vhodná spolu so základnými informáciami, ktoré by mal o danej službe vedieť.<br>
                        Mala by určite obsahovať informácie, prípadne dokumenty, ktoré by si mali používatelia prichystať predtým, než prejdú k samotnému procesu podania žiadosti, prípadne aj časový odhad vyplnenia podania.<br>
                        Aby mal používateľ možnosť načítať uložené údaje z XML súboru, poskytujeme mu takúto možnosť v alternatívnych odkazoch.
                        </p>
                            <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie1.png" alt="podanie">
                                                
                        <h2 id="osobne-informacie">Osobné informácie</h2>
                        <p>Proces podávania žiadosti rozdeľte na viacero stránok tak, aby sa každá stránka obsahovo týkala iba jednej veci, napríklad:</p>
                        <ul class="list-bullet">
                            <li>jedna informácia, ktorú komunikujete používateľovi,</li>
                            <li>jedno rozhodnutie, ktoré musí používateľ urobiť,</li>
                            <li>jedna otázka, ktorú musí používateľ zodpovedať.</li>
                        </ul>
                        <p>V titulke stránky uveďte buď názov sekcie, ktorej sa stránka venuje (napríklad “Osobné údaje”) alebo otázku, v prípade, ak sa pýtate iba na jednu konkrétnu informáciu (napríklad “Aký ste mali hrubý mesačný príjem za predchádzajúci rok?”).</p>
                            <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie2.png" alt="podanie">


                            <h2 id="kontaktne-udaje">Kontaktné údaje</h2>
                        <p>Ak je nutné používateľa informovať o vybavení žiadosti, dajte mu na výber z viacerých možností jeho kontaktovania. Využite prepínače (ang. radio buttons), ak si používateľ musí vybrať jednu z možností kontaktu alebo začiarkávacie políčka (ang. checkboxes), ak je výber dobrovoľný.</p>
                            <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie3.png" alt="podanie">


                            <h2 id="informacie-tykajuce-sa-ziadosti">Informácie týkajúce sa žiadosti</h2>
                        <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie4.png" alt="podanie">


                            <h2 id="zhrnutie">Zhrnutie</h2>
                        <p>Zhrnutie sa používa vždy na konci procesu, kedy používateľ musí potvrdiť správnosť svojich údajov.</p>
                        <p>Zhrnutie má obsahovať:</p>
                        <ul class="list-bullet">
                            <li>jasnú informáciu, že na stránke je potrebné vykonať úlohu a že proces nebude dokončený pokiaľ používatelia nepotvrdia svoje údaje,</li>
                            <li>zoznam všetkých predošlých odpovedí, ktoré používateľ v procese vyplnil,</li>
                            <li>informáciu o poplatku, ktorý bude používateľ musieť zaplatiť, a rovnako aj vysvetlenie, na základe čoho bola stanovená výška poplatku za službu,</li>
                            <li>potvrdzovacie tlačidlo, ktoré upovedomí používateľa na to, čo sa bude diať v ďalšom kroku.</li>
                        </ul>
                        <p>Stránka zhrnutia by mala používateľovi poskytnúť možnosť vytlačiť vyplnené údaje vo formáte PDF, exportovať ich prostredníctvom alternatívnych odkazov a uložiť svoju žiadosť do konceptov v elektronickej schránke.</p>
                            <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie5.png" alt="podanie">


                            <h2 id="platobna-stranka">Platba</h2>
                        <p>Po autorizácií prechádza používateľ k platbe za službu. Aby nestrácal pri platbe za službu prehľad, musí platobná stránka obsahovať nasledovné informácie:</p>
                        <ul class="list-bullet">
                            <li>informácie o službe, ktorú ide používateľ zaplatiť,</li>
                            <li>poplatok za službu,</li>
                            <li>spôsob platby,</li>
                            <li>tlačidlá “Zaplatiť” a “Zaplatiť neskôr”,</li>
                            <li>možnosť zrušenia platby.</li>
                        </ul>
                        
                        <h2 id="potvrdenie-o-podani-ziadosti">Potvrdenie o podaní žiadosti</h2>
                        <p>Ak podanie prebehlo úspešne, zobrazte používateľovi stránku s potvrdením o podaní žiadosti spolu s ďalšími údajmi ako:</p>
                        <ul class="list-bullet">
                            <li>referenčné číslo podania (ak existuje),</li>
                            <li>detaily toho, ako bude proces pokračovať,</li>
                            <li>kontaktné údaje pre danú službu,</li>
                            <li>odkazy na informácie alebo služby, ktoré budú používatelia pravdepodobne potrebovať v nasledovnom procese,</li>
                            <li>odkaz na vašu stránku so spätnou väzbou, kde vám používatelia môžu povedať svoj názor o vašej službe,</li>
                            <li>spôsob, akým si používatelia môžu uložiť záznam o transakcii (napríklad ako PDF).</li>
                        </ul>
                            <h3>Ukážka</h3>
                            <img src="\public\images\patterns\podanie6.png" alt="podanie">


                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

