{% extends "layout.html" %}

{% block page_title %}
GOV.SK Elementy
{% endblock %}

{% block main_content %}


<div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">

        <!-- Page title and contact -->
        <div class="grid-row">

            <div class="column-two-thirds">
                <div class="page-header">
                    <h1 class="page-header__title">
                        Zhrnutie
                    </h1>
                    <p class="page-header__context">
                        Tento návod opisuje postup, ako umožniť používateľom skontrolovať svoje odpovede pred odoslaním žiadosti.
                    </p>

                </div>
            </div>

            <div class="column-third">

                <!--<div class="community-contact">
                    <p>
                        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
                    </p>
                </div>-->
            </div>
        </div>

        <!-- Metadata-->
        <div class="grid-row">
            <div class="column-two-thirds">

                <!--<div class="metadata">
                    <dl>
                        <dt>Published by:</dt>
                        <dd>
                            <a href="/service-manual/communities/design-community">Design community</a>
                        </dd>
                        <dt>Last updated:</dt>
                        <dd>
                            7 months ago
                        </dd>
                    </dl>
                </div>-->

            </div>
        </div>

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">

                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
                    <h3 class="page-contents__title">Stránka obsahuje:</h3>
                    <ol class="page-contents__list">
                        <li><a href="#ukazka">Ukážka</a></li>
                        <li><a href="#vyhody-zhrnutia">Výhody zhrnutia</a></li>
                        <li><a href="#co-ma-obsahovat">Čo má zhrnutie obsahovať</a></li>
                        <li><a href="#vytvorenie-stranky">Vytvorte stránku jednoduchú na porozumenie</a></li>
                        <li><a href="#umoznite">Umožnite používateľom vrátiť sa a upraviť svoje odpovede</a></li>
                        <li><a href="#pristupnu">Vytvorte prístupnú stránku</a></li>
                    </ol>
                </div>

            </div>
            <div class="column-two-thirds">

                <div class="govspeak-wrapper">

                    <div class="govuk-govspeak ">

                        <h2 id="ukazka">Ukážka</h2>
                        <img src="/public/images/patterns/example1.png" alt="example">


                        <h2 id="vyhody-zhrnutia">Výhody zhrnutia</h2>
                        <p>Hlavné výhody stránky so zhrnutím sú:</p>
                        <ul class="list-bullet">
                            <li>zvýšené miery dokončenia - používatelia sú si istí, že boli zaznamenané správne dáta, a tak sú menej náchylní k zrušeniu procesu pred jeho dokončením,</li>
                            <li>zníženie chybovosti - používateľom poskytnete druhú príležitosť všimnúť si a opraviť chybu pred tým, ako odošlú údaje.</li>

                        </ul>


                        <h2 id="co-ma-obsahovat">Čo má zhrnutie obsahovať</h2>
                        <p>Zhrnutie sa používa vždy na konci procesu, kedy používateľ musí potvrdiť správnosť svojich údajov.</p>
                        <p>
                            Zhrnutie má obsahovať:
                        </p>
                        <ul class="list-bullet">
                            <li>jasnú informáciu, že na stránke je potrebné tlačidlom potvrdiť správnosť zadaných údajov a že proces nebude dokončený, kým používatelia svoje údaje nepotvrdia,</li>
                            <li>zoznam všetkých predošlých odpovedí, ktoré používateľ v procese vyplnil,</li>
                            <li>informáciu o poplatku, ktorý bude používateľ platiť, spolu s vysvetlením,  ako bola stanovená výška poplatku za službu,</li>
                            <li>potvrdzovacie tlačidlo, ktoré upozorní používateľa, čo sa bude diať v ďalšom kroku.</li>
                        </ul>

                        <p>Stránka zhrnutia by mala používateľovi poskytnúť možnosť vytlačiť vyplnené údaje vo formáte .pdf, možnosť exportu údajov prostredníctvom alternatívnych odkazov a možnosť uložiť svoju žiadosť do konceptov v elektronickej schránke.</p>

                        <h2 id="vytvorenie-stranky">Stránka zhrnutia by mala používateľovi poskytnúť možnosť vytlačiť vyplnené údaje vo formáte .pdf, možnosť exportu údajov prostredníctvom alternatívnych odkazov a možnosť uložiť svoju žiadosť do konceptov v elektronickej schránke.</h2>
                        <p>Informácie v zhrnutí štrukturujte prehľadne:
                        </p>
                        <ul class="list-bullet">
                            <li>Ak je to možné, rozdeľte obsah do viacerých častí.</li>
                            <li>Zobrazte iba časti, ktoré sú relevantné pre používateľa - napríklad, ak už raz používateľ uviedol, že je zo Slovenska, uvádzajte iba časti týkajúce sa jeho odpovede a nie tie, ktoré s jeho odpoveďou nesúvisia.</li>
                            <li>Formulujte vaše otázky tak, aby odpovede používateľa  vhodne dotvárali stránku “Zhrnutie” - napríklad, nepotrebujete označovať jednotlivé položky adresy, a rovnako môžete prepísať dlhé otázky na kratšie tvrdenia.</li>
                        </ul>
                        <h2 id="umoznite">Umožnite používateľom vrátiť sa a zmeniť svoje odpovede</h2>
                        <p>
                            Pri každej časti na stránke “Zhrnutie” poskytnite odkaz “Zmeniť”, aby sa používateľ mohol vrátiť a doplniť alebo zmeniť informácie, ktoré žiadate.
                        </p>
                        <p>
                            Stránky s odpoveďami majú vyzerať rovnako, ako keď ich používateľ použil naposledy, t.j. aj so všetkými odpoveďami, ktoré predbežne vyplnil.
                        </p>
                        <p>
                            Keď používateľ dokončí úpravu, tlačidlo “Pokračovať” ho vráti na stránku “Zhrnutie”. Používateľ by nemal znovu prechádzať celým procesom vypĺňania údajov.
                        </p>
                        <p>
                            Ak používateľ počas úpravy zmení svoje odpovede a k novým odpovediam sa budú viazať ďalšie doplňujúce otázky, položte ich používateľovi ešte pred tým, než sa opäť vráti na stránku “Zhrnutie”.
                        </p>
                        <h2 id="pristupnu">Vytvorte prístupnú stránku</h2>
                        <p>K odkazu “Zmeniť” pridajte skrytý text, aby tlačidlo malo zmysel aj keď ho čítače obrazoviek čítajú mimo kontext.</p>
                        <p>Napríklad:</p>

                        <xmp>
                            <a href="/renew/name/edit">Zmeniť<span class="visually-hidden"> meno</span></a>
                        </xmp>
                        
                        <!--
                        <h2 id="suvisiace">Súvisiace návody</h2>
                        <p>Tieto návody môžu byť pre vás užitočné:</p>
                        <ul class="list-bullet">
                            <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
                            <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
                        </ul>
                        -->
                    </div>

                </div>

                <!--<div class="change-history" data-module="toggle">
                    <div class="change-history__latest-change">
                        <dl>
                            <dt>Published by:</dt>
                            <dd>
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </dd>
                            <dt>Last update:</dt>
                            <dd>
                                <time datetime="2017-10-03T10:35:26+00:00" class="timestamp"> 3 October 2017</time>
                                <p class="change-history__summary">
                                    Added information on operating services in line with departmental Welsh language scheme requirements
                                    (previously in the guide 'Making your service accessible: an introduction').
                                </p>

                            </dd>
                        </dl>
                    </div>
                    <p><a href="#full-history" data-controls="full-history" data-expanded="false" role="button" aria-controls="full-history" aria-expanded="false">+ Show all page updates (2)</a></p>
                    <ol id="full-history" class="change-history__past js-hidden" aria-live="polite" role="region">
                        <li>
                            <time datetime="2016-11-07T12:18:52+00:00" class="timestamp"> 7 November 2016</time>
                            <p class="change-history__summary">
                                Guidance first published
                            </p>

                        </li>
                    </ol>
                </div>-->

            </div>
        </div>

    </main>

    <!--<div class="full-page-width-wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
                <a class="improve-this-page__page-is-useful-button js-page-is-useful" data-track-category="manualFeedbackForm" data-track-action="ffYesClick" href="/contact/govuk">
                    Yes <span class="visually-hidden"> this page is useful</span>
                </a>      <a class="js-page-is-not-useful" data-track-category="manualFeedbackForm" data-track-action="ffNoClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                No <span class="visually-hidden"> this page is not useful</span>
            </a>      <a class="js-something-is-wrong improve-this-page__anything-wrong" data-track-category="manualFeedbackForm" data-track-action="ffWrongClick" aria-controls="improveThisPageForm" aria-expanded="false" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>    </div>
            <div id="improveThisPageForm" class="improve-this-page__form js-feedback-form js-hidden" data-track-category="manualFeedbackForm" data-track-action="ffFormSubmit" aria-hidden="true">
                <a href="#" class="improve-this-page__close js-close-feedback-form" aria-controls="improveThisPageForm" aria-expanded="false">Close</a>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div class="js-errors"></div>
                        <form>
                            <input type="hidden" name="url" value="https://www.gov.uk/service-manual/design/introduction-designing-government-services">
                            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
                            <div class="form-group">
                                <label class="form-label-bold" for="description-field">
                                    How should we improve this page?
                                </label>
                                <textarea id="description-field" class="form-control" name="description" rows="5" aria-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name-field">
                                    Name (optional)
                                    <span class="form-hint">Include your name and email address if you'd like us to get back to you.</span>
                                </label>
                                <input id="name-field" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email-field">Email (optional)</label>
                                <input id="email-field" class="form-control" type="text" name="email">
                            </div>
                            <div>
                                <input class="button" type="submit" value="Send message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js"></script>

<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js">

</script>

<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-e47aec62c201636b5b94203bb32057a69146baab883a806db90521d0445d35ea.js">
</script>

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-d03b5fd21e9197119d11b83e3325c35f8695a4040cf96e50b824f1198be8c4af.js"></script>


{% include "includes/scripts.html" %}
{% endblock %}

