<h2 class="heading-medium implementation-advice">Rady pri implementácií</h2>

<p class="lead-in">Ak sa vyskytne chyba:</p>
<ul class="list list-bullet text">
  <li>
    použite v prvku <code>&lt;title&gt;</code> prefix "Chyba: "
  </li>
  <li>
    zobrazte prehľad o chybách v hornej časti stránky,
  </li>
  <li>
    presuňte klávesový kurzor na začiatok tohto prehľadu o chybách,
    <span class="panel panel-border-narrow">
      na presunutie kurzora nastavte <code>tabindex="-1"</code> v danom div a použite <code>obj.focus()</code>
    </span>
  </li>
  <li>
    uistite sa, že na tento prehľad bude upozornených čo najviac čítačiek obrazoviek,
    <span class="panel panel-border-narrow">
      použite <code>role="alert"</code> v danom <code>div</code>
    </span>
  </li>
  <li>
    do vrchnej časti prehľadu umiestnite nadpis,
  </li>
  <li>
    priraďte nadpis k prehľadu o chybách,
    <span class="panel panel-border-narrow">
      Použite ARIA atribút <code>aria-labelledby</code> v danom <code>div</code>, tak aby čítačky automaticky oznámili nadpis
      hneď ako je kurzor presunutý na div
    </span>
  </li>
  <li>
    prepojte odkazy v prehľade o chybách s poliami, kde sa chyby vyskytli
  </li>
  <li>
    do poľa s chybou pridajte červený ľavý okraj široký 5 pixelov,
  </li>
  <li>
    medzi každou otázkou a poľom, kde sa chyba vyskytla, zobrazte chybovú správu - použite červenú farbu a písmo typu “bold”,
  </li>
  <li>
    priraďte každú chybovú správu k príslušnému poľu tak, že ju pridáte do prvku label (alebo legendy).
  </li>
</ul>

<p class="text">
  Odporúča sa tiež použitie atribútu <code>aria-invalid</code>, aby automaticky naznačil, že pole má chybu. Hodnota
  <a href="http://www.w3.org/TR/wai-aria/states_and_properties#aria-invalid">aria-invalid attribute</a> atribútu sa bude líšiť v závislosti od typu chyby.
</p>
