{% extends "layout_example.html" %}

{% block page_title %}Example: Icons — Icons and images — GOV.UK elements{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <style>
  .example-icon-list p { display: inline-block; font-size: 16px; padding-left: 1em; vertical-align: middle; margin-bottom: 0;}
  .example-icon-list li { margin-bottom: 15px;}
  .example-icon-list-background { background-color: #d3d3d3; padding: 15px; }
  </style>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Icons and images</span>
        Example: Icons
      </h1>

      <p class="text">
        This test page shows the icons which are included in the govuk frontend toolkit.
      </p>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-third">
      <h2 class="heading-medium">Step icons</h2>
      <ol class="list example-icon-list">
        <li><i class="icon icon-step-1"></i> <p>icon-step-1.png</p></li>
        <li><i class="icon icon-step-2"></i> <p>icon-step-2.png</p></li>
        <li><i class="icon icon-step-3"></i> <p>icon-step-3.png</p></li>
        <li><i class="icon icon-step-4"></i> <p>icon-step-4.png</p></li>
        <li><i class="icon icon-step-5"></i> <p>icon-step-5.png</p></li>
        <li><i class="icon icon-step-6"></i> <p>icon-step-6.png</p></li>
        <li><i class="icon icon-step-7"></i> <p>icon-step-7.png</p></li>
        <li><i class="icon icon-step-8"></i> <p>icon-step-8.png</p></li>
        <li><i class="icon icon-step-9"></i> <p>icon-step-9.png</p></li>
        <li><i class="icon icon-step-10"></i> <p>icon-step-10.png</p></li>
        <li><i class="icon icon-step-11"></i> <p>icon-step-11.png</p></li>
        <li><i class="icon icon-step-12"></i> <p>icon-step-12.png</p></li>
        <li><i class="icon icon-step-13"></i> <p>icon-step-13.png</p></li>
        <li><i class="icon icon-step-14"></i> <p>icon-step-14.png</p></li>
      </ol>
    </div>

    <div class="column-third">
      <h2 class="heading-medium">Step circles</h2>
      <ol class="list example-icon-list">
        <li> <span class="circle circle-step">1</span>  <span class="circle circle-step-large">1</span>  </li>
        <li> <span class="circle circle-step">2</span>  <span class="circle circle-step-large">2</span>  </li>
        <li> <span class="circle circle-step">3</span>  <span class="circle circle-step-large">3</span>  </li>
        <li> <span class="circle circle-step">4</span>  <span class="circle circle-step-large">4</span>  </li>
        <li> <span class="circle circle-step">5</span>  <span class="circle circle-step-large">5</span>  </li>
        <li> <span class="circle circle-step">6</span>  <span class="circle circle-step-large">6</span>  </li>
        <li> <span class="circle circle-step">7</span>  <span class="circle circle-step-large">7</span>  </li>
        <li> <span class="circle circle-step">8</span>  <span class="circle circle-step-large">8</span>  </li>
        <li> <span class="circle circle-step">9</span>  <span class="circle circle-step-large">9</span>  </li>
        <li> <span class="circle circle-step">10</span> <span class="circle circle-step-large">10</span> </li>
        <li> <span class="circle circle-step">11</span> <span class="circle circle-step-large">11</span> </li>
        <li> <span class="circle circle-step">12</span> <span class="circle circle-step-large">12</span> </li>
        <li> <span class="circle circle-step">13</span> <span class="circle circle-step-large">13</span> </li>
        <li> <span class="circle circle-step">14</span> <span class="circle circle-step-large">14</span> </li>
      </ol>
    </div>

    <div class="column-third">
      <h2 class="heading-medium">Icons</h2>
      <ul class="list example-icon-list">
        <li>
          <i class="icon icon-calendar"></i>
          <p>icon-calendar.png</p>
        </li>
        <li>
          <i class="icon icon-file-download"></i>
          <p>icon-file-download.png</p>
        </li>
        <li>
          <i class="icon icon-important"></i>
          <p>icon-important.png</p>
        </li>
        <li>
          <i class="icon icon-information"></i>
          <p>icon-information.png</p>
        </li>
        <li>
          <i class="icon icon-locator"></i>
          <p>icon-locator.png</p>
        </li>
      </ul>

    </div>

    <div class="column-third">
      <h2 class="heading-medium">White or semi-transparent icons</h2>
      <ul class="list example-icon-list example-icon-list-background">
        <li>
          <i class="icon icon-pointer"></i>
          <p>icon-pointer.png</p>
        </li>
        <li>
          <i class="icon icon-pointer-black"></i>
          <p>icon-pointer-black.png</p>
        </li>
        <li>
          <i class="icon icon-search"></i>
          <p>icon-search.png</p>
        </li>
      </ul>
    </div>

  </div>

</main><!-- /#content-->
{% endblock %}
