{% extends "layout_example.html" %}

{% block page_title %}Example: Form validation — Errors — GOV.UK elements{% endblock %}

{% block content %}
<main class="js-error-example" id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="/errors/example-form-validation-multiple-questions">
        {% include "snippets/form_error_multiple.html" %}
      </form>

      <h2 class="heading-medium implementation-advice">Implementation advice</h2>
      <p class="lead-in">When an error occurs:</p>
      <ul class="list list-bullet text">
        <li>
          add a 5px red left border to the field with the error
        </li>
        <li>
          show an error summary at the top of the page
        </li>
        <li>
          move keyboard focus to the start of the summary
          <span class="panel panel-border-narrow">
            to move keyboard focus, put <code>tabindex="-1"</code> on the containing div and use <code>obj.focus()</code>
          </span>
        </li>
        <li>
          indicate to screenreaders that the summary represents a collection of information
          <span class="panel panel-border-narrow">
            add the ARIA <code>role="group"</code> to the containing <code>div</code>
          </span>
        </li>
        <li>
          use a heading at the top of the summary
        </li>
        <li>
          associate the heading with the summary box
          <span class="panel panel-border-narrow">
            use the ARIA attribute <code>aria-labelledby</code> on the containing <code>div</code>, so that screen readers will automatically announce the heading as soon as focus is moved to the div
          </span>
        </li>
        <li>
          link from the error list in the summary to the fields with errors
        </li>
        <li>
          show an error message before each field with an error
        </li>
        <li>
          associate each error message with the corresponding field
          <span class="panel panel-border-narrow">
             add an ID to each error message and associate this with the field using <code>aria-describedby</code>
          </span>
        </li>
      </ul>

      <p class="text">
        Also consider using the <code>aria-invalid</code> attribute to programmatically indicate that a field has an error. The value of the <a href="http://www.w3.org/TR/wai-aria/states_and_properties#aria-invalid">aria-invalid attribute</a> will vary depending on the type of error.
      </p>

    </div>
  </div>
</main>
{% endblock %}
