{% extends "layout_example.html" %}

{% block page_title %}Príklad: Dátumy — Formulárové prvky — Webové komponenty{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Formulárové prvky</span>
        Príklad: Dátumy
      </h1>
      <!-- Date of birth -->
      {% include "snippets/form_date.html" %}

      {% include "snippets/form_date_show_errors.html" %}

      <!-- Date of birth -->
      <div class="form-group form-group-error">
        <fieldset>
          <legend>
            <span class="form-label-bold">Dátum narodenia</span>
            <span class="form-hint">Napríklad, 31 3 1980</span>
            <span class="error-message">Text chybovej hlášky</span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="example-dob-day-1">Deň</label>
              <input class="form-control form-control-error" id="example-dob-day-1" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="example-dob-month-1">Mesiac</label>
              <input class="form-control" id="example-dob-month-1" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="example-dob-year-1">Rok</label>
              <input class="form-control" id="example-dob-year-1" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Date of birth -->
      <div class="form-group form-group-error">
        <fieldset>
          <legend>
            <span class="form-label-bold">Dátum narodenia</span>
            <span class="form-hint">Napríklad, 31 3 1980</span>
            <span class="error-message">Text chybovej hlášky</span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="example-dob-day-2">Deň</label>
              <input class="form-control" id="example-dob-day-2" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="example-dob-month-2">Mesiac</label>
              <input class="form-control form-control-error" id="example-dob-month-2" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="example-dob-year-2">Rok</label>
              <input class="form-control" id="example-dob-year-2" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Date of birth -->
      <div class="form-group form-group-error">
        <fieldset>
          <legend>
            <span class="form-label-bold">Dátum narodenia</span>
            <span class="form-hint">Napríklad, 31 3 1980</span>
            <span class="error-message">Text chybovej hlášky</span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="example-dob-day-3">Deň</label>
              <input class="form-control" id="example-dob-day-3" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="example-dob-month-3">Mesiac</label>
              <input class="form-control" id="example-dob-month-3" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="example-dob-year-3">Rok</label>
              <input class="form-control form-control-error" id="example-dob-year-3" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>

    </div>
  </div>

</main><!-- /#content -->
{% endblock %}
