{% extends "layout_example.html" %}

{% block page_title %}Example: Date — Form elements — GOV.UK elements{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Form elements</span>
        Example: Date
      </h1>
      <!-- Date of birth -->
      {% include "snippets/form_date.html" %}

    </div>
  </div>

</main><!-- /#content -->
{% endblock %}
