{% extends "layout_example.html" %}

{% block page_title %}Príklad: Formulárové elementy — Webové komponenty{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Formulárové prvky</span>
        Príklad: Formulárové prvky
      </h1>

      <form action="/" method="post" class="form">

        <h2 class="heading-medium">
          Príklady nižšie podrobne popisujú odsadenie jednotlivých nadpisov a elementov vo formulároch ako aj použitie chybových hlášok a pomocného textu.
        </h2>

        <div class="form-section">
          <p>
            Pod menovkou, legendou a textovým poľom použite 10px medzeru.
          </p>
          <!-- Text inside a label -->
          <div class="form-group">
            <label class="form-label-bold" for="example-form-label">
              Toto je text menovky v bold formáte
            </label>
            <input class="form-control" id="example-form-label" type="text">
          </div>
          <!-- Text inside a legend -->
          <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold">
                  Toto je text menovky v bold formáte
                </span>
              </legend>
              <div class="multiple-choice">
                <input id="example-radio-yes-no-yes" type="radio" name="example-yes-no-group" value="Áno">
                <label for="example-radio-yes-no-yes">Áno</label>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="form-section">
          <p>
            Medzeru 10px  použite tiež pod menovkou alebo legendou ak zobrazujete pomocný text.
          </p>

          <!-- Hint text inside a label -->
          <div class="form-group">
            <label class="form-label-bold" for="example-form-label-bold">
              Toto je text menovky v bold formáte
              <span class="form-hint">
                Text nápovedy
              </span>
            </label>
            <input class="form-control" id="example-form-label-bold" type="text">
          </div>

          <!-- Hint text outside a label (preference is inside, to be read by AT) -->
          <div class="form-group">
            <label class="form-label-bold" for="example-form-label-bold">
              Toto je text menovky v bold formáte
            </label>
            <span class="form-hint">
              Text nápovedy
            </span>
            <input class="form-control" id="example-form-label-bold" type="text">
          </div>

          <!-- Text inside a legend -->
          <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold">
                  Toto je text menovky v bold formáte
                </span>
                <span class="form-hint">
                  Text nápovedy
                </span>
              </legend>
              <div class="multiple-choice">
                <input id="radio-yes-no-yes-b" type="radio" name="yes-no-group-b" value="Áno">
                <label for="radio-yes-no-yes-b">Áno</label>
              </div>
            </fieldset>
          </div>

          <!-- Date of birth -->
          <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold">Toto je text menovky v bold formáte</span>
                <span class="form-hint">Toto je nápoveda</span>
              </legend>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="dob-day">Deň</label>
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                </div>
                <div class="form-group form-group-month">
                  <label class="form-label" for="dob-month">Mesiac</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="dob-year">Rok</label>
                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="form-section">
          <p>
            Pri zobrazení chybovej hlášky použite štandardne medzeru 10px pod menovkou, legendou a textovým poľom. Navyše použite medzeru 15px nad samotnou chybovou hláškou.
          </p>

          <!-- Text inside a label - error -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="example-form-control">
              Toto je text menovky
              <span class="form-hint">
                Text nápovedy
              </span>
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <input class="form-control form-control-error" id="example-form-control" type="text">
          </div>

          <!-- Hint text outside a label (preference is inside, to be read by AT) - error -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="example-form-control">
              Toto je text menovky
            </label>
            <span class="form-hint">
              Text nápovedy
            </span>
            <span class="error-message">
              Text chybovej hlášky
            </span>
            <input class="form-control form-control-error" id="example-form-control" type="text">
          </div>

          <!-- Text inside a legend - error -->
          <div class="form-group form-group-error">
            <fieldset>

              <legend>
                <span class="form-label-bold">
                  Máte Európsky preukaz zdravotného poistenia?
                </span>
                <span class="form-hint">
                  Text nápovedy
                </span>
                <span class="error-message">
                  Text chybovej hlášky
                </span>
              </legend>
              <div class="multiple-choice">
                <input id="radio-yes-no-yes-c" type="radio" name="yes-no-group-c" value="Yes">
                <label for="radio-yes-no-yes-c">Yes</label>
              </div>
            </fieldset>
          </div>

          <!-- Date of birth -->
          <div class="form-group form-group-error">
            <fieldset>
              <legend>
                <span class="form-label-bold">Dátum narodenia</span>
                <span class="form-hint">Napríklad, 31 3 1980</span>
                <span class="error-message">Priestor pre chybovú hlášku</span>
              </legend>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="example-dob-day-1">Deň</label>
                  <input class="form-control form-control-error" id="example-dob-day-1" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                </div>
                <div class="form-group form-group-month">
                  <label class="form-label" for="example-dob-month-1">Mesiac</label>
                  <input class="form-control" id="example-dob-month-1" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="example-dob-year-1">Rok</label>
                  <input class="form-control" id="example-dob-year-1" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                </div>
              </div>
            </fieldset>
          </div>

        <div class="form-section">
          <h3 class="heading-medium">
            Príklady nižšie zobrazujú text legendy v rovnakom štýle, aký sa používa na menovky.
          </h3>

          <!-- Yes or No question (without revealed content ) -->
          <fieldset class="inline">
            <legend>
              <span class="form-label-bold">
                Máte už vytvorený osobný účet?
              </span>
            </legend>
            <div class="multiple-choice">
              <input id="radio-inline-1a" type="radio" name="radio-inline-group" value="Áno">
              <label for="radio-inline-1a">Áno</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2a" type="radio" name="radio-inline-group" value="Nie">
              <label for="radio-inline-2a">Nie</label>
            </div>
          </fieldset>
        </div>

        <div class="form-section">
          <!-- Yes or No question (select one option to reveal content) -->
          <fieldset class="inline">
            <legend>
              <span class="form-label-bold">
                Toto je text menovky
              </span>
              <span class="form-hint">
                Toto je miesto pre nápovedu
              </span>
            </legend>
            <div class="form-group">
              <div class="multiple-choice">
                <input id="radio-yes-no-yes-a" type="radio" name="yes-no-group-a" value="Áno">
                <label data-target="yes-and-do-next" for="radio-yes-no-yes-a">Áno</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-yes-no-no-a" type="radio" name="yes-no-group-a" value="Nie">
                <label data-target="no-and-do-next" for="radio-yes-no-no-a">Nie</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="yes-and-do-next-a">
                <label class="form-label" for="yes-next-a">Yes, this next</label>
                <input class="form-control" name="yes-next" type="text" id="yes-next-a">
              </div>
              <div class="panel panel-border-narrow js-hidden" id="no-and-do-next-a">
                <label class="form-label" for="no-next-a">No, this next</label>
                <input class="form-control" name="no-next" type="text" id="no-next-a">
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-section">

          <h2 class="heading-medium">
            Príklad chybových hlášok
          </h2>

          <!-- Input type="text" -->
          <div class="form-group">
            <label class="form-label" for="input-text-a">
              Toto je text menovky
            </label>
            <input class="form-control" id="input-text-a" type="text">
          </div>

          <!-- Input type="text" - error -->
          <div class="form-group form-group-error">
            <label class="form-label" for="input-text-b">
              Toto je nápoveda
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <input class="form-control form-control-error" id="input-text-b" type="text">
          </div>

          <!-- Input type="text" (bold label) -->
          <div class="form-group">
            <label class="form-label-bold" for="input-text-c">
              Toto je text menovky v bold formáte
            </label>
            <input class="form-control" id="input-text-c" type="text">
          </div>

          <!-- Input type="text" - error (bold label with hint text) -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="input-text-h">
              Toto je text menovky v bold formáte
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <input class="form-control form-control-error" id="input-text-h" type="text">
          </div>
        </div>

          <div class="form-group">
            <label class="form-label-bold" for="input-text-g">
              Toto je text menovky
            </label>
            <span class="form-hint">
              Toto je nápoveda
            </span>
            <input class="form-control" id="input-text-g" type="text">
          </div>

          <!-- Input type="text" - error (bold label with hint text) -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="input-text-h">
              Toto je text menovky
              <span class="form-hint">
                Toto je nápoveda
              </span>
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <input class="form-control form-control-error" id="input-text-h" type="text">
          </div>
        </div>

        <!-- Input type="text" - size modifiers -->
        {% include "snippets/form_input_sizes.html" %}


        <div class="form-section">
          <h2 class="heading-medium">
            Príklad: Textové polia a chybové hlášky
          </h2>

          <!-- Textarea -->
          <div class="form-group">
            <label class="form-label" for="textarea-a">
              Toto je text menovky
            </label>
            <textarea class="form-control" id="textarea-a" cols="30" rows="10"></textarea>
          </div>

          <!-- Textarea - error -->
          <div class="form-group form-group-error">
            <label class="form-label" for="textarea-b">
              Toto je text menovky
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <textarea class="form-control form-control-error" id="textarea-b" cols="30" rows="10"></textarea>
          </div>

          <!-- Textarea (bold label) -->
          <div class="form-group">
            <label class="form-label-bold" for="textarea-c">
              Toto je text menovky
              <span class="form-hint">
                Toto je text nápovedy
              </span>
            </label>
            <textarea class="form-control" id="textarea-c" cols="30" rows="10"></textarea>
          </div>

          <!-- Textarea - error (bold label) -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="textarea-d">
              Toto je text menovky
              <span class="form-hint">
                Toto je text nápovedy
              </span>
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <textarea class="form-control form-control-error" id="textarea-d" cols="30" rows="10"></textarea>
          </div>



        <div class="form-section">
          <h2 class="heading-medium">
            Príklad: Rozbaľovacie zoznamy a chybové hlášky
          </h2>

          <!-- Select box -->
          <div class="form-group">
            <label class="form-label" for="select-box-a">Toto je nápoveda</label>
            <select class="form-control" id="select-box-a">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>

          <!-- Select box - error -->
          <div class="form-group form-group-error">
            <label class="form-label" for="select-box-b">
              Toto je nápoveda
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <select class="form-control form-control-error" id="select-box-b">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>
        </div>

        <div class="form-section">
          <!-- Select box (with bold text) -->
          <div class="form-group">
            <label class="form-label-bold" for="select-box-c">
              Toto je nápoveda
            </label>
            <select class="form-control" id="select-box-c">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>

          <!-- Select box - error (with bold text) -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="select-box-d">
              Toto je nápoveda
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <select class="form-control form-control-error" id="select-box-d">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>
        </div>

        <div class="form-section">
          <!-- Select box (with bold text and hint text) -->
          <div class="form-group">
            <label class="form-label-bold" for="select-box-g">
              Toto je text menovky
              <span class="form-hint">
                Toto je text nápovedy
              </span>
            </label>
            <select class="form-control" id="select-box-g">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>

          <!-- Select box - error (with bold text and hint text) -->
          <div class="form-group form-group-error">
            <label class="form-label-bold" for="select-box-h">
              Toto je text menovky
              <span class="form-hint">
                Toto je text nápovedy
              </span>
              <span class="error-message">
                Text chybovej hlášky
              </span>
            </label>
            <select class="form-control form-control-error" id="select-box-h">
              <option>Element - prvá možnosť</option>
              <option>Element - druhá možnosť</option>
              <option>Element - tretia možnosť</option>
            </select>
          </div>
        </div>

        <div class="form-section">
          <!--File upload -->
          {% include "snippets/form_file_upload.html" %}

          <!--File upload with error -->
          {% include "snippets/form_file_upload_error.html" %}
        </div>

      </form>

      <div class="form-section">
        <h3 class="heading-medium">
          Nasledovné príklady sú príkladmi zobrazenia jednej otázky na stránku. Nemalo by sa ich na stránke nachádzať viac.
          Otázka je v kóde umiestnená v časti “heading” v rámci legendy daného poľa (fieldsetu).
        </h3>
        <!-- "Chunky" Radio buttons, stacked -->
        {% include "snippets/form_radio_buttons.html" %}
      </div>

      <div class="form-section">
        <!-- "Chunky" Checkboxes, stacked -->
        {% include "snippets/form_checkboxes.html" %}
      </div>

      <div class="form-section">
        <!-- Yes or No question (without revealed content ) -->
        {% include "snippets/form_radio_buttons_inline.html" %}
      </div>

      <div class="form-section">
        <!-- Radio buttons (select one option to reveal content) -->
        {% include "snippets/form_inset_radios.html" %}
      </div>

      <div class="form-section">
        <!-- Radio buttons (select one option to reveal content) with error -->
        {% include "snippets/form_inset_radios_show_errors.html" %}
      </div>

      <div class="form-section">
        <!-- Checkboxes (select more than option to reveal content) -->
        {% include "snippets/form_inset_checkboxes.html" %}
      </div>

    </div>
  </div>
</main><!-- / #content -->
{% endblock %}
