{% extends "layout_example.html" %}

{% block page_title %}Example: Grid layout — Layout — GOV.UK elements{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">GOV.UK elements</span>
        Example: Grid layout
      </h1>

      <p>
        <a href="#" class="js-highlight-grid">Toggle background colours</a> to see the size of each of the grid columns.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-medium">Two thirds</h2>
      <div class="text">
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-one-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <script>

    // Toggle grid background colours

    $(document).ready(function () {

      var $html = $('html');
      var $toggle = $('.js-highlight-grid')

      $toggle.on( "click", function(e) {

        e.preventDefault();

        $html.toggleClass('example-highlight-grid');

        if ($('.column-highlight').length>0) {
          // Don't add more than once
        } else {
          $('.grid-row div').wrapInner('<div class="column-highlight"></div>');
        }

      });

    });

    </script>
{% endblock %}
