{% extends "layout_example.html" %}

{% block page_title %}Príklad: Prepínače a začiarkavacie políčka — Formulárové prvky — Webové komponenty{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Formulárové prvky</span>
        Príklad: Prepínače a <br> začiarkavacie políčka
      </h1>

      <div class="text">
        <p>
          Príklady nižšie zobrazujú použitie <code class="code">.multiple-choice</code> prepínačov (ang. radio buttons) a začiarkavacích políčiek (ang. checkboxes).
        </p>

        <p>
          Takisto zobrazuje nastavenie ARIA pri zobrazovaní a schovávaní dodatočného obsahu - použitím
          <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/javascripts/govuk/show-hide-content.js">show-hide-content.js</a>.
        </p>
      </div>

      <form action="/" method="post" class="form">

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">
                Aká je vaša národnosť?
              </h1>
              <span class="body-text">Označte všetky možnosti, ktoré sú pre vás relevantné.</span>
            </legend>

            <div class="multiple-choice">
              <input id="nationalities-british" name="nationalities" type="checkbox" value="Slovak">
              <label for="nationalities-british">slovenská</label>
            </div>
            <div class="multiple-choice">
              <input id="nationalities-irish" name="nationalities" type="checkbox" value="Czech">
              <label for="nationalities-irish">česká</label>
            </div>
            <div class="multiple-choice" data-target="example-different-country">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
              <label for="nationalities-other">občan inej národnosti</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="example-different-country">
              <label class="form-label" for="nationalities-other-country">Názov krajiny</label>
              <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
            </div>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">
                Kde vám máme poslať váš nový pas?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              <label for="radio-home-address">Domov</label>
            </div>

            <div class="multiple-choice" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              <label for="radio-other-address">Na inú adresu</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="example-other-address">

              <fieldset>

                <legend>
                  <h2 class="heading-medium">
                    Iná adresa
                  </h2>
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="address-line-1">Adresa</label>
                  <input type="text" class="form-control" id="address-line-1">
                </div>

                <div class="form-group">
                  <label class="form-label visually-hidden" for="address-line-2">Ulica</label>
                  <input type="text" class="form-control" id="address-line-2">
                </div>

                <div class="form-group">
                  <label class="form-label" for="address-town">Mesto</label>
                  <input type="text" class="form-control form-control-1-4" id="address-town">
                </div>

                <div class="form-group">
                  <label class="form-label" for="address-postcode">PSČ</label>
                  <input type="text" class="form-control form-control-1-8" id="address-postcode">
                </div>

              </fieldset>

            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">
                Ako vás máme kontaktovať?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Email</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Emailová adresa</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">Mobil</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
              <label class="form-label" for="contact-phone">Telefónne číslo</label>
              <input class="form-control" name="contact-phone" type="text" id="contact-phone">
            </div>

            <div class="multiple-choice" data-target="contact-by-text">
              <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-text">SMS</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Telefónne číslo</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </div>

          </fieldset>
        </div>

      </form>

    </div>
  </div>

</main><!-- /#content-->
{% endblock %}
