{{<layout_example}}

{% block page_title %}Example: Date — Form elements — GOV.UK elements{% endblock %}

{{$content}}
<main id="content" role="main" tabindex="-1">

  {{>breadcrumb}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Form elements</span>
        Example: Date
      </h1>
      <!-- Date of birth -->
      {{> form_date }}

    </div>
  </div>

</main><!-- /#content -->
{{/content}}

{{/layout_example}}
