{% extends "layout_example.html" %}

{% block page_title %}Príklad: Typografia — Typografia — Webové komponenty{% endblock %}

{% block content %}
<main id="content" role="main">

    {% include "includes/breadcrumb.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Typografia</span>
                Príklad: Typografia
            </h1>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">26 px nadpis sekcie</span>
                52 px hlavný tučný nadpis (H1)
            </h1>

            <p class="lede">
                Toto je 26 px úvodný odstavec. Mal by obsahovať podstatné informácie. Text by mal byť krátky a zrozumiteľný.
            </p>

            <h2 class="heading-large">38 px nadpis (H2)</h2>

            <p>
                Toto je 20 px hlavný text. Odstavec s hlavným textom, v ktorom si používateľ nájde všetky potrebné informácie v zrozumiteľnej podobe.
            </p>

            <h3 class="heading-medium">26 px nadpis (H3)</h3>

            <p>
                Elektronické služby štátu by mali byť pripravované metodikou user-centered dizajnu (UCD), aby sa zabezpečila zmysluplnosť a použiteľnosť služieb zo strany koncového používateľa – občana.
            </p>

            <h4 class="heading-small">20 px nadpis (H4)</h4>

            <p>
                Realizované používateľské rozhranie musí byť tvorené v aktívnej kooperácii s koncovými používateľmi, aby projekt zabezpečil jeho úplnú použiteľnosť. Používatelia musia byť zapojení do tvorby informačnej architektúry a štruktúry navigácie. Tá by mala byť testovaná kvantitatívne so zapojením všetkých účastných cieľových skupín. Informačná architektúra musí zohľadňovať slovník, ktorý je definovaný v Jednotnom dizajn manuáli elektronických služieb.
            </p>

            {% include "snippets/typography_lists.html" %}

            <p>
                Prototyp elektronickej služby musí byť testovaný aspoň 3x počas jeho prípravy so zástupcami všetkých relevantných cieľových skupín metódou formatívneho testovania použiteľnosti, ideálne však na týždennej báze. Zistenia z testovania musia byť následne zapracované do prototypu. Grafický dizajn a frontend programový kód elektronickej služby musí zohľadňovať Jednotný dizajn manuál elektronických služieb.
            </p>

            <hr>

            <p>
                Pred uvedením systému do plnej prevádzky musí byť systém otestovaný sumatívnym testovaním použiteľnosti s účasťou všetkých relevantných skupín. Počas testovania budú zdokumentované metriky použiteľnosti (čas úlohy, chybovosť úlohy, efektivita úlohy, SUS skóre) pre kľúčové prípady použitia. Zároveň bude vykonané testovanie prístupnosti systému zohľadňujúce štandardy pre prístupnosť webu WCAG 2.0 AA- Web Content Accessibility Guidelines 2.0).
            </p>

        </div>
    </div>
</main><!-- / #content -->
{% endblock %}