{% extends "layout_example.html" %}

{% block page_title %}Example: Form validation — Errors — GOV.UK elements{% endblock %}

{% block content %}
<main class="js-error-example" id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" action="/errors/example-form-validation-multiple-questions">
        {% include "snippets/form_error_multiple.html" %}
      </form>

      {% include "examples/_form_validation_implementation_advice.html" %}

    </div>
  </div>
</main>
{% endblock %}
