&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;col&quot;&gt;Date&lt;/th&gt;
      &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;Paper form&lt;/th&gt;
      &lt;th class=&quot;numeric&quot; scope=&quot;col&quot;&gt;Digital&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;25 November to 1 December 2013&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;2,763&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;1,792&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;2 to 8 December 2013&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;2,850&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;1,740&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
     &lt;td&gt;9 to 15 December 2013&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;2,388&lt;/td&gt;
      &lt;td class=&quot;numeric&quot;&gt;1,683&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
