&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th colspan=&quot;2&quot;&gt;Dates and amounts&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;First 6 weeks&lt;/td&gt;
      &lt;td&gt;&pound;109.80 per week&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Next 33 weeks&lt;/td&gt;
      &lt;td&gt;&pound;109.80 per week&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
     &lt;td&gt;Total estimated pay&lt;/td&gt;
      &lt;td&gt;&pound;4,282.20&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Tell the mother&rsquo;s employer&lt;/td&gt;
      &lt;td&gt;28 days before they want to start maternity pay&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
