&lt;label class=&quot;form-label&quot; for=&quot;telephone-number&quot;&gt;Enter your telephone number&lt;/label&gt;
&lt;input class=&quot;form-control&quot; id=&quot;telephone-number&quot; name=&quot;telephone-number&quot; type=&quot;text&quot;&gt;
&lt;label class=&quot;form-checkbox&quot; for=&quot;checkbox-telephone-number&quot;&gt;
  &lt;input id=&quot;checkbox-telephone-number&quot; name=&quot;contact-by-text-phone&quot; type=&quot;checkbox&quot; value=&quot;true&quot;&gt;
  I need to be contacted using a text phone
&lt;/label&gt;
