&lt;div class=&quot;grid-row&quot;&gt;
  &lt;div class=&quot;column-two-thirds&quot;&gt;
    &lt;form&gt;
      &lt;div class=&quot;form-group&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;full-name-f2&quot;&gt;Full name&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;full-name-f2&quot;&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column-third&quot;&gt;
    &lt;div class=&quot;swatch-wrapper&quot;&gt;
      &lt;h4 class=&quot;heading-small&quot;&gt;Focus&lt;/h4&gt;
      &lt;div class=&quot;swatch swatch-yellow&quot;&gt;&lt;/div&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;b&gt;#FFBF47&lt;/b&gt;&lt;/li&gt;
        &lt;li&gt;$focus-colour&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
