&lt;!-- Use .form-group to create spacing when wrapping label and input pairs --&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label class=&quot;form-label&quot; for=&quot;first-name-2&quot;&gt;First name&lt;/label&gt;
  &lt;input class=&quot;form-control&quot; id=&quot;first-name-2&quot; name=&quot;first-name-2&quot; type=&quot;text&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label class=&quot;form-label&quot; for=&quot;last-name-2&quot;&gt;Last name&lt;/label&gt;
  &lt;input class=&quot;form-control&quot; id=&quot;last-name-2&quot; name=&quot;last-name-2&quot; type=&quot;text&quot;&gt;
&lt;/div&gt;
