&lt;h1 class=&quot;heading-medium&quot;&gt;
  What is your nationality?
&lt;/h1&gt;
&lt;p&gt;
  Select all options that are relevant to you.
&lt;/p&gt;

&lt;form&gt;
  &lt;fieldset&gt;

    &lt;legend class=&quot;visuallyhidden&quot;&gt;What is your nationality?&lt;/legend&gt;

    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;block-label&quot; for=&quot;nationalities-british&quot;&gt;
        &lt;input id=&quot;nationalities-british&quot; name=&quot;nationalities&quot; type=&quot;checkbox&quot; value=&quot;British&quot;&gt;
        British (including English, Scottish, Welsh and Northern Irish)
      &lt;/label&gt;
      &lt;label class=&quot;block-label&quot; for=&quot;nationalities-irish&quot;&gt;
        &lt;input id=&quot;nationalities-irish&quot; name=&quot;nationalities&quot; type=&quot;checkbox&quot; value=&quot;Irish&quot;&gt;
        Irish
      &lt;/label&gt;
      &lt;label class=&quot;block-label&quot; for=&quot;nationalities-other&quot; data-target=&quot;example-different-country&quot;&gt;
        &lt;input id=&quot;nationalities-other&quot; name=&quot;nationalities&quot; type=&quot;checkbox&quot; value=&quot;Citizen of a different country&quot;&gt;
        Citizen of a different country
      &lt;/label&gt;
      &lt;div class=&quot;panel panel-border-narrow js-hidden&quot; id=&quot;example-different-country&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;nationalities-other-country&quot;&gt;Country name&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;nationalities-other-country&quot; name=&quot;nationalities-other-country&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
