&lt;form&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;fieldset&gt;
      &lt;legend&gt;
        &lt;span class=&quot;form-label-bold&quot;&gt;
          What is your date of birth?
        &lt;/span&gt;
        &lt;span class=&quot;form-hint&quot; id=&quot;dob-hint&quot;&gt;For example, 31 3 1980&lt;/span&gt;
      &lt;/legend&gt;
      &lt;div class=&quot;form-date&quot;&gt;
        &lt;div class=&quot;form-group form-group-day&quot;&gt;
          &lt;label class=&quot;form-label&quot; for=&quot;dob-day&quot;&gt;Day&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-day&quot; name=&quot;dob-day&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;31&quot; aria-describedby=&quot;dob-hint&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group form-group-month&quot;&gt;
          &lt;label class=&quot;form-label&quot; for=&quot;dob-month&quot;&gt;Month&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-month&quot; name=&quot;dob-month&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;12&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group form-group-year&quot;&gt;
          &lt;label class=&quot;form-label&quot; for=&quot;dob-year&quot;&gt;Year&lt;/label&gt;
          &lt;input class=&quot;form-control&quot; id=&quot;dob-year&quot; name=&quot;dob-year&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot; min=&quot;0&quot; max=&quot;2016&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
  &lt;/div&gt;
&lt;/form&gt;
