&lt;div class=&quot;error-summary&quot; role=&quot;group&quot; aria-labelledby=&quot;error-summary-heading-example-1&quot; tabindex=&quot;-1&quot;&gt;

  &lt;h1 class=&quot;heading-medium error-summary-heading&quot; id=&quot;error-summary-heading-example-1&quot;&gt;
    Message to alert the user to a problem goes here
  &lt;/h1&gt;

  &lt;p&gt;
    Optional description of the errors and how to correct them
  &lt;/p&gt;

  &lt;ul class=&quot;error-summary-list&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#example-personal-details&quot;&gt;Descriptive link to the question with an error&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;

&lt;/div&gt;

&lt;h1 class=&quot;heading-large&quot;&gt;
  Check your personal details
&lt;/h1&gt;

&lt;p&gt;
  Look at your name, signature and other details.
&lt;/p&gt;

&lt;form&gt;
  &lt;div class=&quot;form-group error&quot;&gt;
    &lt;fieldset&gt;

      &lt;legend id=&quot;example-personal-details&quot;&gt;

        &lt;span class=&quot;form-label-bold&quot;&gt;
          Are your personal details correct and up-to-date?
        &lt;/span&gt;
        &lt;span class=&quot;error-message&quot;&gt;
          Error message about personal details goes here
        &lt;/span&gt;

      &lt;/legend&gt;

      &lt;label class=&quot;block-label&quot; for=&quot;personal_details_yes&quot;&gt;
        &lt;input id=&quot;personal_details_yes&quot; type=&quot;radio&quot; name=&quot;personal_details&quot; value=&quot;Yes&quot;&gt;
        &lt;span&gt;&lt;/span&gt; Yes, my personal details are correct
      &lt;/label&gt;

      &lt;label class=&quot;block-label&quot; for=&quot;personal_details_no&quot;&gt;
        &lt;input id=&quot;personal_details_no&quot; type=&quot;radio&quot; name=&quot;personal_details&quot; value=&quot;No&quot;&gt;
        &lt;span&gt;&lt;/span&gt; No, some details are wrong or have changed
      &lt;/label&gt;

    &lt;/fieldset&gt;
  &lt;/div&gt;

  &lt;input class=&quot;button&quot; type=&quot;submit&quot; value=&quot;Continue&quot;&gt;

&lt;/form&gt;
