&lt;h1 class=&quot;heading-medium&quot;&gt;Where do you live?&lt;/h1&gt;

&lt;form&gt;
  &lt;fieldset&gt;

    &lt;legend class=&quot;visuallyhidden&quot;&gt;Where do you live?&lt;/legend&gt;

    &lt;label class=&quot;block-label&quot; for=&quot;radio-1&quot;&gt;
      &lt;input id=&quot;radio-1&quot; type=&quot;radio&quot; name=&quot;radio-group&quot; value=&quot;Northern Ireland&quot;&gt;
      Northern Ireland
    &lt;/label&gt;
    &lt;label class=&quot;block-label&quot; for=&quot;radio-2&quot;&gt;
      &lt;input id=&quot;radio-2&quot; type=&quot;radio&quot; name=&quot;radio-group&quot; value=&quot;Isle of Man or the Channel Islands&quot;&gt;
      Isle of Man or the Channel Islands
    &lt;/label&gt;
    &lt;p class=&quot;form-block&quot;&gt;or&lt;/p&gt;
    &lt;label class=&quot;block-label&quot; for=&quot;radio-3&quot;&gt;
      &lt;input id=&quot;radio-3&quot; type=&quot;radio&quot; name=&quot;radio-group&quot; value=&quot;I am a British citizen living abroad&quot;&gt;
      I am a British citizen living abroad
    &lt;/label&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
