&lt;h1 class=&quot;heading-medium&quot;&gt;
  How do you want to be contacted?
&lt;/h1&gt;

&lt;form&gt;
  &lt;fieldset&gt;

    &lt;legend class=&quot;visuallyhidden&quot;&gt;How do you want to be contacted?&lt;/legend&gt;

    &lt;div class=&quot;form-group&quot;&gt;

      &lt;label class=&quot;block-label&quot; data-target=&quot;contact-by-email&quot; for=&quot;example-contact-by-email&quot;&gt;
        &lt;input id=&quot;example-contact-by-email&quot; type=&quot;radio&quot; name=&quot;radio-contact-group&quot; value=&quot;Yes&quot;&gt;
        Email
      &lt;/label&gt;
      &lt;div class=&quot;panel panel-border-narrow js-hidden&quot; id=&quot;contact-by-email&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;contact-email&quot;&gt;Email address&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; name=&quot;contact-email&quot; type=&quot;text&quot; id=&quot;contact-email&quot;&gt;
      &lt;/div&gt;

      &lt;label class=&quot;block-label&quot; data-target=&quot;contact-by-phone&quot; for=&quot;example-contact-by-phone&quot;&gt;
        &lt;input id=&quot;example-contact-by-phone&quot; type=&quot;radio&quot; name=&quot;radio-contact-group&quot; value=&quot;No&quot;&gt;
        Phone
      &lt;/label&gt;
      &lt;div class=&quot;panel panel-border-narrow js-hidden&quot; id=&quot;contact-by-phone&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;contact-phone&quot;&gt;Phone number&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; name=&quot;contact-phone&quot; type=&quot;text&quot; id=&quot;contact-phone&quot;&gt;
      &lt;/div&gt;

      &lt;label class=&quot;block-label&quot; data-target=&quot;contact-by-text&quot; for=&quot;example-contact-by-text&quot;&gt;
        &lt;input id=&quot;example-contact-by-text&quot; type=&quot;radio&quot; name=&quot;radio-contact-group&quot; value=&quot;No&quot;&gt;
        Text message
      &lt;/label&gt;
      &lt;div class=&quot;panel panel-border-narrow js-hidden&quot; id=&quot;contact-by-text&quot;&gt;
        &lt;label class=&quot;form-label&quot; for=&quot;contact-text-message&quot;&gt;Mobile phone number&lt;/label&gt;
        &lt;input class=&quot;form-control&quot; name=&quot;contact-text-message&quot; type=&quot;text&quot; id=&quot;contact-text-message&quot;&gt;
      &lt;/div&gt;

    &lt;/div&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
