&lt;h1 class=&quot;heading-medium&quot;&gt;
  Do you already have a personal user account?
&lt;/h1&gt;

&lt;form&gt;
  &lt;fieldset class=&quot;inline&quot;&gt;

    &lt;legend class=&quot;visuallyhidden&quot;&gt;Do you already have a personal user account?&lt;/legend&gt;

    &lt;label class=&quot;block-label&quot; for=&quot;radio-inline-1&quot;&gt;
      &lt;input id=&quot;radio-inline-1&quot; type=&quot;radio&quot; name=&quot;radio-inline-group&quot; value=&quot;Yes&quot;&gt;
      Yes
    &lt;/label&gt;
    &lt;label class=&quot;block-label&quot; for=&quot;radio-inline-2&quot;&gt;
      &lt;input id=&quot;radio-inline-2&quot; type=&quot;radio&quot; name=&quot;radio-inline-group&quot; value=&quot;No&quot;&gt;
      No
    &lt;/label&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
