&lt;h3 class=&quot;heading-medium&quot;&gt;Which types of waste do you transport regularly?&lt;/h3&gt;
&lt;p&gt;Select all that apply&lt;/p&gt;

&lt;form&gt;
  &lt;fieldset&gt;

    &lt;legend class=&quot;visuallyhidden&quot;&gt;Which types of waste do you transport regularly?&lt;/legend&gt;

    &lt;label class=&quot;block-label&quot; for=&quot;waste-type-1&quot;&gt;
      &lt;input id=&quot;waste-type-1&quot; name=&quot;waste-types&quot; type=&quot;checkbox&quot; value=&quot;waste-animal&quot;&gt;
      Waste from animal carcasses
    &lt;/label&gt;
    &lt;label class=&quot;block-label&quot; for=&quot;waste-type-2&quot;&gt;
      &lt;input id=&quot;waste-type-2&quot; name=&quot;waste-types&quot; type=&quot;checkbox&quot; value=&quot;waste-mines&quot;&gt;
      Waste from mines or quarries
    &lt;/label&gt;
    &lt;label class=&quot;block-label&quot; for=&quot;waste-type-3&quot;&gt;
      &lt;input id=&quot;waste-type-3&quot; name=&quot;waste-types&quot; type=&quot;checkbox&quot; value=&quot;waste-farm-agricultural&quot;&gt;
      Farm or agricultural waste
    &lt;/label&gt;

  &lt;/fieldset&gt;
&lt;/form&gt;
