&lt;p&gt;
  &lt;a href=&quot;#&quot;&gt;A 19px link without surrounding text&lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;a href=&quot;#&quot;&gt;A 19px body copy link&lt;/a&gt;. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
&lt;/p&gt;

&lt;p&gt;
  &lt;a href=&quot;#&quot; rel=&quot;external&quot;&gt;A 19px body copy external link.&lt;/a&gt; Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
&lt;/p&gt;


&lt;a href=&quot;#&quot; class=&quot;link-back&quot;&gt;Back&lt;/a&gt;