&lt;ul class=&quot;list list-bullet&quot;&gt;
  &lt;li&gt;here is a bulleted list&lt;/li&gt;
  &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor&lt;/li&gt;
  &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
  &lt;li&gt;integer posuere erat a ante venenatis dapibus posuere velit aliquet&lt;/li&gt;
&lt;/ul&gt;

&lt;ol class=&quot;list list-number&quot;&gt;
  &lt;li&gt;here is a numbered list&lt;/li&gt;
  &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor&lt;/li&gt;
  &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
  &lt;li&gt;integer posuere erat a ante venenatis dapibus posuere velit aliquet&lt;/li&gt;
&lt;/ol&gt;

&lt;ul class=&quot;list&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;bold-xsmall&quot;&gt;More&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
