&lt;details&gt;

  &lt;summary&gt;&lt;span class=&quot;summary&quot;&gt;Help with nationality&lt;/span&gt;&lt;/summary&gt;

  &lt;div class=&quot;panel panel-border-narrow&quot;&gt;

    &lt;p&gt;
      If you&rsquo;re not sure about your nationality, try to find out from an official document like a passport or national ID card.
    &lt;/p&gt;

    &lt;p&gt;
      We need to know your nationality so we can work out which elections you&rsquo;re entitled to vote in. If you can&rsquo;t provide your nationality, you&rsquo;ll have to send copies of identity documents through the post.
    &lt;/p&gt;

  &lt;/div&gt;

&lt;/details&gt;
