// Details summary
// ==========================================================================

.details {
  display: block;
}

.details-summary {
  display: inline-block;
  color: $govuk-blue;
  cursor: pointer;
  position: relative;
  margin-bottom: em(5);

  &:hover {
    color: $link-hover-colour;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

// Underline only summary text (not the arrow)
.details-summary-text {
  text-decoration: underline;
}

// Match fallback arrow spacing with -webkit default
.details-summary-arrow {
  margin-right: .35em;
  font-style: normal;
}
