// Forms
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "helpers";
@import "colours";

// Fieldset is used to group more than one .form-group
fieldset {
  @extend %contain-floats;
  width: 100%;
}

// Fix left hand gap in IE7 and below
@include ie-lte(7) {
  legend {
    margin-left: -7px;
  }
}

// Form group is used to wrap label and input pairs
.form-group {
  @extend %contain-floats;
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

.form-group-related {
  margin-bottom: 10px;

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

// Form group compound is used to reduce the space between label and input pairs
.form-group-compound {
  margin-bottom: 10px;
}


// Form title
.form-title {
  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: ($gutter*1.5);
  }
}


// Labels

// Form labels, or for legends styled to look like labels
.form-label,
.form-label-bold {
  display: block;
  color: $text-colour;
}

.form-label {
  @include core-19;
}

.form-label-bold {
  @include bold-19;
}

// Add spacing under spans within labels
legend {
  .form-label,
  .form-label-bold {
    padding-bottom: 7px;
  }
}

// Remove spacing when error messages are shown
.error legend {
  .form-label,
  .form-label-bold {
    padding-bottom: 0;
  }
}

// Used for paragraphs in-between form elements
.form-block {
  @extend %contain-floats;
  float: left;
  width: 100%;

  margin-bottom: 5px;

  @include media(tablet) {
    margin-top: 10px;
  }
}


// Hints

// Form hints & examples are light grey and sit above a form control
.form-hint {
  @include core-19;
  display: block;
  color: $secondary-text-colour;
  font-weight: normal;
  margin-bottom: 5px;
}

// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
  @include box-sizing(border-box);
  @include core-19;
  width: 100%;

  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;

  // Disable webkit appearance and remove rounded corners
  -webkit-appearance: none;
  border-radius: 0;

  @include media(tablet) {
    width: 50%;
  }
}


// Form control widths
.form-control-3-4 {
  width: 100%;

  @include media(tablet) {
    width: 75%;
  }
}

.form-control-1-2 {
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-4 {
  width: 25%;
}

.form-control-1-8 {
  width: 12.5%;
}


// Radio buttons
.form-radio {
  display: block;
  margin: 10px 0;

  input {
    vertical-align: middle;
    margin: -4px 5px 0 0;
  }
}


// Checkboxes
.form-checkbox {
  display: block;
  margin: $gutter-half 0;

  input {
    vertical-align: middle;
    margin: -2px 5px 0 0;
  }
}


// Buttons
.form .button {
  @include media(mobile) {
    width: 100%;
  }
}


// Form validation
@import "forms/form-validation";


// Form patterns
@import "forms/form-date";
@import "forms/form-block-labels";
