// Lists
// ==========================================================================

ul,
ol {
  list-style-type: none;
}

.list {
  padding: 0;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter-two-thirds;
    margin-bottom: $gutter-two-thirds;
  }

  ul,
  ol {
    margin-top: 5px;
    margin-bottom: 0;
  }

}

.list li {
  margin-bottom: 5px;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}
