// Lists
// ==========================================================================

.list {
  list-style-type: none;
  padding: 0;

  margin-top: em(5);
  margin-bottom: em(20);
  @include media(tablet) {
    margin-top: em(5, 19);
    margin-bottom: em(20, 19);
  }
}

.list li {
  margin-bottom: 5px;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;
  @include ie-lte(7) {
    padding-left: 28px;
  }
}
