// Panels
// ==========================================================================

// Indented panels with a grey left hand border
.panel-indent {
  float: left;
  width: 100%;
  @include box-sizing(border-box);

  @include contain-floats;
  border-left: 5px solid $panel-colour;

  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: $gutter-half;
  @include media(tablet){
    padding-left: 30px;
  }
  margin: (20px $gutter-half $gutter*1.5 0);
}

.panel-indent legend {
  margin-top: 0;
}

.panel-indent p:only-child {
  margin-bottom: 0;
  padding-bottom: 10px;
}

// Remove bottom padding & margin on panels used within forms
form .panel-indent {
  margin-bottom: 0;
  padding-bottom: 0;
}

form .panel-indent .form-group:last-child {
  margin-bottom: 0;
}
