// Tables
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "typography";
@import "colours";


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  @include core-16;
  padding: em(12, 16) em(20, 16) em(9, 16) 0;

  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid $border-colour;
}

table th {
  font-weight: 700;
}

// Use tabular numbers for numerical table cells
.numerical {
  @include core-16($tabular-numbers: true);
}
