// Typography
// ==========================================================================

// Increase default font size to 19px
#content {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

// Core font sizes
.font-xlarge {
  @include core-48;
}
.font-large {
  @include core-36;
}
.font-medium {
  @include core-24;
}
.font-small {
  @include core-19;
}

// Bold font sizes
.bold-xxlarge {
  @include bold-80();
}
.bold-xlarge {
  @include bold-48();
}
.bold-large {
  @include bold-36();
}
.bold-medium {
  @include bold-24();
}
.bold-small {
  @include bold-19();
}
.bold-xsmall {
  @include bold-16();
}

// Headings
.heading-48,
.heading-xlarge {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
  .heading-27 {
    display: block;
    @include core-27();
    color: $secondary-text-colour;
  }
}

.heading-36,
.heading-large {
  @include bold-36();
  margin-top: 25px;
  margin-bottom: 10px;
  @include media(tablet) {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.heading-24,
.heading-medium {
  @include bold-24();
  margin-top: 25px;
  margin-bottom: 10px;
  @include media(tablet) {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.heading-19,
.heading-small {
  @include bold-19();
  margin-top: 10px;
  margin-bottom: 5px;
  @include media(tablet) {
    margin-top: 20px;
  }
}

// Text
p,
pre {
  margin-top: 5px;
  margin-bottom: 20px;
}

.lede,
.lead {
  @include core-24;
}

.copy-16 {
  @include core-16;
}

// Set a max-width for text blocks
// Less than 75 characters per line of text
.text {
  max-width: 30em;
}



