{% extends "layout.html" %}

{% block page_title %}Chyby a validácia — Webové komponenty{% endblock %}

{% block main_content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Webové komponenty</span>
    Chyby a validácia
  </h1>

  <p class="lede text">
    Minimalizujte počet chýb na stránke.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#one-question-per-page">Pýtajte sa jednu otázku na jednu stránku</a></li>
        <li><a href="#summarise-errors">Prehľad chýb</a></li>
        <li><a href="#highlight-errors">Zvýraznenie chýb vo formulároch</a></li>
        <li><a href="#examples">Príklady</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="one-question-per-page">Pýtajte sa jednu otázku na jednu stránku</h3>
  <div class="text">
  <p>
    Pre používateľov môže byť ťažké zorientovať sa na stránke po zobrazení chyby, najmä ak sa na nej vyskytlo viacero chýb súčasne.
    <p>
    Zjednodušte formuláre tak, že ich prepíšete, prípadne ak je to možné, rozdeľujte dlhé formuláre na niekoľko stránok -
    pričom na každej z nich sa pýtajte jednu otázku.
  </p>

  <p>
    Pri štruktúrovaní formulára zvážte aj kontext. Ak spolu žiadané informácie súvisia, je možné ich umiestniť na
    stránke viac. Napríklad meno, priezvisko a číslo občianskeho preukazu.
  </p>
  </div>

  <h3 class="heading-medium" id="summarise-errors">
    Prehľad o chybách v hornej časti stránky
  </h3>

  <p class="text lead-in">
    Je dôležité:
  </p>

  <ul class="text list list-bullet">
    <li>zobraziť prehľad o chybách v hornej časti stránky,</li>
    <li>pridať nadpis, ktorý upozorní používateľa na chybu,</li>
    <li>zobraziť odkaz na každú problematickú otázku.</li>
  </ul>

  <p class="text">Okrem toho je potrebné aj v nadpise stránky v prvku <code>&lt;title&gt;</code> zobraziť, že došlo k chybe, a to umiestnením slova "Chyba: "
    pred existujúci nadpis (ang. title). To zabezpečí upozornenie používateľov na chybu hneď ako to bude možné.</p>

  <h4 class="heading-small">Chybová správa so zhrnutím chýb</h4>
<div class="example example-error">
  {% include "snippets/form_error_radio_show_errors.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_error_radio_show_errors.html" %}
  {% endfilter %}
</code>
</pre>

  <div class="panel panel-border-narrow">
    <h3 class="heading-small">
      Prehľad o chybách sa musí nachádzať v hornej časti stránky tak, aby bol viditeľný, keď sa stránka aktualizuje a ihneď ju vedela prečítať pomocná technológia.
    </h3>
  </div>

  <h3 class="heading-medium" id="highlight-errors">Zvýraznenie chýb vo formulároch</h3>

  <p class="lead-in">
    Pre každú chybu:
  </p>

  <ul class="list list-bullet text">
    <li>napíšte správu, ktorá pomôže používateľovi pochopiť, prečo sa chyba vyskytla a ako ju má odstrániť, </li>
    <li>správu vložte do prvku <code class="code">&lt;label&gt;</code> alebo <code class="code">&lt;legend&gt;</code>
      k danej otázke a umiestnite ju pod textom otázky, pričom použite červenú farbu písma</li>
    <li>použite červený okraj na vizuálne prepojenie chybovej správy a otázky, ku ktorej sa chyba vzťahuje,</li>
    <li>ak sa chyba vzťahuje na konkrétne textové polia v rámci otázky, zvýraznite ich aj červeným orámovaním.</li>
  </ul>

  <p class="text">
    V prípade červenej farby použite Sass premennú <code class="code">$error-colour</code> - ktorú nájdete v súbore GOV.SK
    frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss" rel="external">colours.scss</a>.
  </p>

<div class="example example-error">
  {% include "snippets/form_error_multiple_show_errors.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_error_multiple_show_errors.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="examples">Príklady</h3>
  <ul class="list list-bullet">
    <li>
      <a href="/errors/example-form-validation-single-question-radio">
        Validácia formulára - jedna otázka
      </a>
    </li>
    <li>
      <a href="/errors/example-form-validation-multiple-questions">
        Validácia formulára - viacero otázok
      </a>
    </li>
  </ul>

</main><!-- / #content -->
{% endblock %}
