{% extends "layout.html" %}

{% block page_title %}Colour — GOV.UK elements{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "includes/phase_banner.html" %}
  {% include "includes/breadcrumb.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Colour
  </h1>

  <p class="lede text">
    Always use the GOV.UK colour palette.
  </p>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#colour-contrast">Colour contrast</a></li>
        <li><a href="#colour-sass-variables">Sass variables</a></li>
        <li><a href="#colour-status-colours">Status colours</a></li>
        <li><a href="#colour-greyscale-palette">Greyscale palette</a></li>
        <li><a href="#colour-extended-palette">Extended palette</a></li>
        <li><a href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="colour-contrast">Colour contrast</h3>
  <p class="text">
    The colour contrast ratio for text and interactive elements should be at least 4.5:1 <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html" rel="external">as recommended by the W3C</a>. Test your service to meet this standard.
  </p>

  <h3 class="heading-medium"  id="colour-sass-variables">Sass variables</h3>
  <p class="text">
    Use Sass variables in case colour values need to be updated &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss" rel="external">colours.scss</a> file.
  </p>

  <div class="example">

    <div class="swatch-wrapper">
      <h4 class="heading-small">Text</h4>

      <div class="swatch swatch-text-colour"></div>
      <ul>
        <li><b>#0B0C0C</b></li>
        <li>$text-colour</li>
      </ul>

      <div class="swatch swatch-text-secondary"></div>
      <ul>
        <li><b>#6F777B</b></li>
        <li>$secondary-text-colour</li>
      </ul>

      <div class="swatch swatch-page-colour"></div>

      <ul>
        <li><b>#FFFFFF</b></li>
        <li>$page-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Links</h4>

      <div class="swatch swatch-link-colour"></div>
      <ul>
        <li><b>#005ea5</b></li>
        <li>$link-colour</li>
      </ul>

      <div class="swatch swatch-link-colour-hover"></div>
      <ul>
        <li><b>#2b8cc4</b></li>
        <li>$link-hover-colour</li>
      </ul>

      <div class="swatch swatch-link-colour-visited"></div>
      <ul>
        <li><b>#4c2c92</b></li>
        <li>$link-visited-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Backgrounds</h4>

      <div class="swatch swatch-border-colour"></div>
      <ul>
        <li><b>#BFC1C3</b></li>
        <li>$border-colour</li>
      </ul>

      <div class="swatch swatch-panel-colour"></div>
      <ul>
        <li><b>#DEE0E2</b></li>
        <li>$panel-colour</li>
      </ul>

      <div class="swatch swatch-highlight-colour"></div>
      <ul>
        <li><b>#F8F8F8</b></li>
        <li>$highlight-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Buttons</h4>

      <div class="swatch swatch-button-colour"></div>
      <ul>
        <li><b>#00823B</b></li>
        <li>$button-colour</li>
      </ul>

      <div class="swatch swatch-green"></div>
      <ul>
        <li><b>#006435</b></li>
        <li>$green (hover colour)</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Focus</h4>
      <div class="swatch swatch-yellow"></div>
      <ul>
        <li><b>#FFBF47</b></li>
        <li>$focus-colour</li>
      </ul>
    </div>

  </div>

  <h3 class="heading-medium" id="colour-status-colours">Status colours</h3>
  <div class="example">

    <div class="swatch-wrapper">
      <div class="swatch swatch-alpha"></div>
      <ul>
        <li><b>#d53880</b></li>
        <li>$alpha-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-beta"></div>
      <ul>
        <li><b>#f47738</b></li>
        <li>$beta-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-discovery"></div>
      <ul>
        <li><b>#912b88</b></li>
        <li>$discovery-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-live"></div>
      <ul>
        <li><b>#85994b</b></li>
        <li>$live-colour</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-error"></div>
      <ul>
        <li><b>#B10E1E</b></li>
        <li>$error-colour</li>
      </ul>
    </div>

  </div>

  <h3 class="heading-medium" id="colour-greyscale-palette">Greyscale palette</h3>
  <div class="example">

    <div class="swatch-wrapper">
      <div class="swatch swatch-black"></div>
      <ul>
        <li><b>#0B0C0C</b></li>
        <li>$black</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-grey-1"></div>
      <ul>
        <li><b>#6F777B</b></li>
        <li>$grey-1</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-grey-2"></div>
      <ul>
        <li><b>#BFC1C3</b></li>
        <li>$grey-2</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-grey-3"></div>
      <ul>
        <li><b>#DEE0E2</b></li>
        <li>$grey-3</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <div class="swatch swatch-grey-4"></div>
      <ul>
        <li><b>#F8F8F8</b></li>
        <li>$grey-4</li>
      </ul>
    </div>

  </div>

  <h3 class="heading-medium" id="colour-extended-palette">Extended palette</h3>
  <ul class="list list-bullet text">
    <li>used for graphs and supporting material</li>
    <li>for tints of the extended palette use 50% or 25%</li>
    <li>for departmental colours
     &ndash; find these in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_organisation.scss" rel="external">organisation.scss file</a></li>
  </ul>

  <div class="example">

    <div class="swatch-wrapper">
      <h4 class="heading-small">Purple</h4>

      <div class="swatch swatch-purple"></div>
      <ul>
        <li><b>#2e358b</b></li>
        <li>$purple</li>
      </ul>

      <h4 class="heading-small">Mauve</h4>

      <div class="swatch swatch-mauve"></div>
      <ul>
        <li><b>#6f72af</b></li>
        <li>$mauve</li>
      </ul>

      <h4 class="heading-small">Fuschia</h4>

      <div class="swatch swatch-fuschia"></div>
      <ul>
        <li><b>#912b88</b></li>
        <li>$fuschia</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Pink</h4>

      <div class="swatch swatch-pink"></div>
      <ul>
        <li><b>#d53880</b></li>
        <li>$pink</li>
      </ul>

      <h4 class="heading-small">Baby pink</h4>

      <div class="swatch swatch-baby-pink"></div>
      <ul>
        <li><b>#f499be</b></li>
        <li>$baby-pink</li>
      </ul>

      <h4 class="heading-small">Red</h4>

      <div class="swatch swatch-red"></div>
      <ul>
        <li><b>#b10e1e</b></li>
        <li>$red</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Mellow red</h4>

      <div class="swatch swatch-mellow-red"></div>
      <ul>
        <li><b>#df3034</b></li>
        <li>$mellow-red</li>
      </ul>

      <h4 class="heading-small">Orange</h4>

      <div class="swatch swatch-orange"></div>
      <ul>
        <li><b>#f47738</b></li>
        <li>$orange</li>
      </ul>

      <h4 class="heading-small">Brown</h4>

      <div class="swatch swatch-brown"></div>
      <ul>
        <li><b>#b58840</b></li>
        <li>$brown</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Yellow</h4>

      <div class="swatch swatch-yellow"></div>
      <ul>
        <li><b>#ffbf47</b></li>
        <li>$yellow</li>
      </ul>

      <h4 class="heading-small">Green</h4>

      <div class="swatch swatch-green"></div>
      <ul>
        <li><b>#006435</b></li>
        <li>$green</li>
      </ul>

      <h4 class="heading-small">Grass green</h4>

      <div class="swatch swatch-grass-green"></div>
      <ul>
        <li><b>#85994b</b></li>
        <li>$grass-green</li>
      </ul>
    </div>

    <div class="swatch-wrapper">
      <h4 class="heading-small">Turquoise</h4>

      <div class="swatch swatch-turquoise"></div>
      <ul>
        <li><b>#28a197</b></li>
        <li>$turquoise</li>
      </ul>

      <h4 class="heading-small">Light blue</h4>

      <div class="swatch swatch-light-blue"></div>
      <ul>
        <li><b>#2b8cc4</b></li>
        <li>$light-blue</li>
      </ul>

      <h4 class="heading-small">GOV.UK blue</h4>

      <div class="swatch swatch-govuk-blue"></div>
      <ul>
        <li><b>#005ea5</b></li>
        <li>$govuk-blue</li>
      </ul>

    </div>

  </div>

  <p>
    <a href="https://designpatterns.hackpad.com/Colour-PDuGV42pJqx" rel="external">
      Discuss colour on the design patterns Hackpad
    </a>
  </p>

  <h3 class="heading-medium" id="examples">Examples</h3>
  <h4 class="heading-small">Transaction end page</h4>

  <div class="example">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Example service name
        </h1>

        <div class="govuk-box-highlight">
          <h2 class="bold-large">
            Application complete
          </h2>
          <p>
            Your reference number is </br>
            <strong class="heading-medium">HDJ2123F</strong>
          </p>
        </div>

        <p>
          We have sent you a confirmation email.
        </p>

        <h2 class="heading-medium">
          What happens next?
        </h2>
        <p>
          We've sent your application to Hackney Electoral Register Office.
        </p>
        <p>
          They will contact you either to confirm your registration, or to ask for more information.
        </p>

      </div>
    </div>

  </div>

</main><!-- / #content -->
{% endblock %}
