{% extends "layout.html" %}

{% block page_title %}Rozmiestnenie — Webové komponenty{% endblock %}

{% block main_content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Webové komponenty</span>
    Rozloženie stránky
  </h1>

  <div class="text">
    <p class="lede">
      Obsah stránky umiestnite do stĺpcového dizajnu (ang. Grid). Návrh začnite vytvárať od najmenších veľkostí obrazovky a až potom ho prispôsobte väčším rozmerom.
    </p>
  </div>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#page-width">Šírka strany</a></li>
        <li><a href="#screen-size">Veľkosť obrazovky</a></li>
        <li><a href="#layout-spacing">Medzery a vonkajšie okraje</a></li>
        <li><a href="#layout-block">Šírka textových blokov</a></li>
        <li><a href="#layout-grid-unit-proportions">Stĺpcový dizajn</a></li>
        <li><a href="#examples">Príklady</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="page-width">Šírka strany</h3>
  <div class="text">
    <p>
      Predvolená maximálna šírka stránky je 1020 px (pixelov). Ak si to obsah nevyhnutne vyžaduje, je prijateľná aj
      širšia stránka. Myslite však na to, že používatelia s bežnými či menšími obrazovkami budú musieť obsah horizontálne posúvať.
    </p>
  </div>

  <h3 class="heading-medium" id="screen-size">Veľkosť obrazovky</h3>
  <div class="text">
    <p>
      Pri navrhovaní rozloženia obsahu stránky začnite s návrhom pre malé obrazovky (rozmiestnenie obsahu do jedného stĺpca). Následne optimalizujte stránku pre rôzne veľkosti obrazoviek.
      Obsah stránky umiestnite do predvoleného stĺpcového dizajnu. Aby ste vytvorili vizuálnu hierarchiu obsahu stránky, využite prázdny priestor medzi elementami.

    </p>
  </div>

  <h3 class="heading-medium" id="layout-spacing">Medzery a vonkajšie okraje</h3>
  <ul class="list list-bullet text">
    <li>medzery medzi jednotlivými prvkami sú zvyčajne 5 px, 10 px, 15 px alebo násobky 15 px</li>
    <li>vonkajšie okraje sú 15px pre menšie obrazovky a 30 px pre väčšie obrazovky</li>
  </ul>

  <div class="example example-images">
    {% include "snippets/layout_spacing.html" %}
  </div>

  <h3 class="heading-medium" id="layout-block">Šírka textových blokov</h3>
  <p>
    Pri vytváraní stránky pamätajte na to, že dlhé riadky textu znižujú jeho čitateľnosť, čiže všetky riadky s textom
    by nemali mať viac ako 70 až 80 znakov. Pre zamedzenie dlhých riadkov textu by mal obsah v stĺpci dosahovať maximálne dve tretiny šírky strany
  </p>


  <h3 class="heading-medium" id="layout-block">Stĺpcový dizajn</h3>
  <p>
    Pre rozloženie obsahu na stránke použite preddefinovaný stĺpcový dizajn (ang. Grid).
  </p>
  <p>
    Základné pomery stĺpcov sú:
  </p>
  <ul class="list list-bullet text">
    <li>1 stĺpec - na celú šírku stránky</li>
    <li>2 stĺpce - polovice</li>
    <li>3 stĺpce - tretiny</li>
    <li>4 stĺpce - štvrtiny</li>
    <li>Na určenie hraničných bodov pre rôzne veľkosti obrazoviek (ang. Breakpoints) používajte media výrazy (ang. Media query) - nájdete ich na JDMES v tomto súbore
      <a href="https://github.com/id-sk/idsk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss">frontend toolkit</a></li>
  </ul>

<h4 class="heading-medium">Celá šírka (1 stĺpcový dizajn)</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_full.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_full.html" %}
  {% endfilter %}
</code>
</pre>

<h4 class="heading-medium">Polovice (2 stĺpcový dizajn)</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_halves.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_halves.html" %}
  {% endfilter %}
</code>
</pre>

<h4 class="heading-medium">Tretiny (3 stĺpcový dizajn)</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_thirds.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_thirds.html" %}
  {% endfilter %}
</code>
</pre>

<h4 class="heading-medium">Dve tretiny / Jedna tretina</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_thirds_two_thirds_one_third.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_thirds_two_thirds_one_third.html" %}
  {% endfilter %}
</code>
</pre>

<h4 class="heading-medium">Jedna tretina / Dve tretiny</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_thirds_one_third_two_thirds.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_thirds_one_third_two_thirds.html" %}
  {% endfilter %}
</code>
</pre>

<h4 class="heading-medium">Štvrtiny (4 stĺpcový dizajn)</h4>
<div class="example example-grid">
  {% include "snippets/layout_grid_quarters.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/layout_grid_quarters.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="examples">Príklady</h3>
  <ul class="list list-bullet">
    <li>
      <a href="/layout/example-grid-layout/">
        Stránka s príkladmi preddefinovaného stĺpcového dizajnu
      </a>
    </li>
  </ul>

</main><!-- / #content -->
{% endblock %}
