{% extends "layout.html" %}

{% block page_title %}Typography — GOV.UK elements{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "includes/phase_banner.html" %}
  {% include "includes/breadcrumb.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Typography
  </h1>

  <div class="text">
    <p class="lede">
      For GOV.UK domains, always use the GDS Transport Website font in Light and Bold.
    </p>
  </div>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#typography-font">Font</a></li>
        <li><a href="#typography-headings">Headings</a></li>
        <li><a href="#typography-lead-paragraph">Lead paragraph</a></li>
        <li><a href="#typography-body-copy">Body copy</a></li>
        <li><a href="#typography-links">Links</a></li>
        <li><a href="#typography-lists">Lists</a></li>
        <li><a href="#typography-inset-text">Inset text</a></li>
        <li><a href="#typography-legal-text">Legal text</a></li>
        <li><a href="#typography-hidden-text">Hidden text</a></li>
        <li><a href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="typography-font">Font</h3>
  <div class="text">
    <p>
      Use the GDS Transport Website font in Light and Bold. It's licensed for use on the GOV.UK domains only.
    </p>
    <p>
      For services publicly available on different domains, use an alternative typeface like Arial.
    </p>
  </div>

  <h3 class="heading-medium" id="typography-headings">
    Headings
  </h3>

  <ul class="list list-bullet text">
    <li>use GDS Transport Website Bold</li>
    <li>use sentence case for headings</li>
    <li>use headings consistently to create a clear hierarchy</li>
  </ul>

<div class="example">
  {% include "snippets/typography_headings_example.html" %}
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_headings.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-lead-paragraph">
    Lead paragraph
  </h3>

  <ul class="list list-bullet">
    <li>use 24px for a lead paragraph</li>
    <li>there should only be one lead paragraph per page</li>
  </ul>

<div class="example">
  <div class="text">
    {% include "snippets/typography_lead_paragraph_example.html" %}
  </div>
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_lead_paragraph.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-body-copy">
    Body copy
  </h3>

  <ul class="list list-bullet text">
    <li>use GDS Transport Website Light</li>
    <li>avoid using bold and italics</li>
    <li>use 19px for body copy &ndash; 16px for smaller screens</li>
    <li>use smaller sizes only if there's a user need (eg 16px, 14px, 12px)</li>
    <li>make sure lines of text don't exceed 75 characters, as they become harder to read beyond that point</li>
  </ul>

<div class="example">
  <div class="text">
    {% include "snippets/typography_paragraphs_example.html" %}
  </div>
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_paragraphs.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-links">Links</h3>
  <ul class="list list-bullet text">
    <li>links within body copy should be blue and underlined</li>
    <li>links without surrounding text should not have a full stop at the end</li>
    <li>link colours can be found in the <a href="/colour">colour palette</a></li>
  </ul>

<div class="example">
  <div class="text">
    {% include "snippets/typography_links.html" %}
  </div>
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_links.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-lists">Lists</h3>
  <p class="text">
    List items start with a lowercase letter and have no full stop at the end.
  </p>

<div class="example">
  {% include "snippets/typography_lists.html" %}
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_lists.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-inset-text">Inset text</h3>
  <p class="text">
    Use bordered inset text to draw attention to important content on the page.
  </p>

<div class="example">
  <div class="text">
    {% include "snippets/typography_inset_text.html" %}
  </div>
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_inset_text.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-legal-text">Legal text</h3>
  <p class="text">
    Use bold text with an exclamation icon if there are legal consequences - for example, a fine or prison sentence.
  </p>

<div class="example">
  <div class="text">
    {% include "snippets/typography_legal_text.html" %}
  </div>
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_legal_text.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="typography-hidden-text">Hidden text (progressive disclosure)</h3>
  <p class="text">
    Use this to make your page easier to scan,
    only showing contextual information when required.
  </p>
  <p class="text">
    Click on "Help with nationality" to see how this works.
  </p>

<div class="example">
  {% include "snippets/typography_progressive_disclosure.html" %}
</div>

<pre>
<code class="language-markup">
  {% include "snippets/typography_progressive_disclosure.html" %}
</code>
</pre>


  <h3 class="heading-medium" id="examples">Examples</h3>
  <ul class="list list-bullet">
    <li>
      <a href="{{ site.baseurl}}/typography/example-typography/">
        an example typography page
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl}}/typography/example-details-summary/">
        the HTML details and summary elements (an example of progressive disclosure)
      </a>
    </li>
  </ul>

</main><!-- / #content -->
{% endblock %}
