{% extends "layout.html" %}

{% block page_title %}Dáta — Webové komponenty{% endblock %}

{% block main_content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Webové komponenty</span>
    Údaje
  </h1>

  <p class="lede text">
    Zvážte umiestnenie obsahu do tabuľky tak, aby sa dal jednoduchšie prezerať.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#data-table-numeric">Číselné tabuľkové údaje</a></li>
        <li><a href="#data-in-a-table">Údaje v tabuľke</a></li>
        <li><a href="#data-visualisation">Vizualizácia údajov v infografike</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="data-table-numeric">Číselné tabuľkové údaje</h3>
  <ul class="text list list-bullet">
    <li>Ak porovnávate riadky alebo stĺpce čísel, zarovnajte čísla v bunkách tabuľky vpravo.</li>
    </ul>

  <div class="example">
    {% include "snippets/data_table_numeric.html" %}
  </div>

  <pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/data_table_numeric.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="data-in-a-table">Údaje v tabuľke</h3>

  <ul class="text list list-bullet">
    <li>
      Textové informácie v tabuľkách zarovnajte vľavo alebo na stred.
    </li>
    <li>
      Na popis tabuľky použite titulok rovnako, ako by ste použili nadpis. Pomôže to používateľom nájsť tabuľku, zorientovať sa v nej a porozumieť jej.
    </li>
    <li>
      V dátových tabuľkách identifikujte hlavičky riadkov a stĺpcov. Obsah buniek má obsahovať zmysluplné hodnoty, ktoré súvisia s danými hlavičkami.
    </li>
    <li>
      Pre dátové tabuľky, ktoré majú dve alebo viac logických úrovní hlavičiek riadkov alebo stĺpcov, sa používa zvýraznenie vzťahov medzi dátovými bunkami a bunkami hlavičky.
    </li>
    <li>Tabuľky musia dávať zmysel pri čítaní zľava doprava.</li>
    <li>Bunky v tabuľkách nezlučujte. Ak obsah bunky tabuľky významovo patrí do viacerých buniek, nachádza sa vo viacerých bunkách.</li>
    <li>Každá tabuľka musí dávať zmysel v horizontálnej podobe, tabuľky sa totiž čítajú po riadkoch. Ak tabuľka nedáva zmysel po riadkoch, nepoužíva sa. </li>
  </ul>



  <p>
  </p>
  <div class="example">
    {% include "snippets/data_table.html" %}
  </div>

  <pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/data_table.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="data-visualisation">Vizualizácia dát v infografike</h3>
  <ul class="list list-bullet text">
    <li>
      Údaje sú odporúčané ako alternatíva k používaniu obrázkov. V prípade poskytovania údajov vo forme
      obrázkov sa vždy musí poskytovať textový ekvivalent.
    </li>
    <li>V prípade použitia čítačky obrazoviek sa musí dátová hodnota zobraziť ako prvá, aby bol údaj pri čítaní
      nahlas zmysluplný. Pri lineárnom usporiadaní vizualizácie je teda dátová hodnota poskytovaná ako prvá.</li>
  </ul>

  <div class="example">
    <div class="grid-row">
      <div class="column-one-half">
        {% include "snippets/data_80px_16px_example.html" %}
      </div>
      <div class="column-one-half">
        {% include "snippets/data_80px_16px.html" %}
      </div>
    </div>
  </div>

  <pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/data_80px_16px_example.html" %}
  {% endfilter %}
</code>
</pre>

  <div class="example">
    <div class="grid-row">
      <div class="column-one-half">
        {% include "snippets/data_48px_16px_example.html" %}
      </div>
      <div class="column-one-half">
        {% include "snippets/data_48px_16px.html" %}
      </div>
    </div>
  </div>

  <pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/data_48px_16px_example.html" %}
  {% endfilter %}
</code>
</pre>

</main><!-- / #content -->
{% endblock %}
