{% extends "layout.html" %}

{% block page_title %}Data — GOV.UK elements{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "includes/phase_banner.html" %}
  {% include "includes/breadcrumb.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Data
  </h1>

  <p class="lede text">
    Consider putting content into tables to make it easier to scan.
  </p>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#data-table-numeric">Numeric tabular data</a></li>
        <li><a href="#data-in-a-table">Data in a table</a></li>
        <li><a href="#data-visualisation">Data visualisation</a></li>
        <li><a href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="data-table-numeric">Numeric tabular data</h3>
  <ul class="text list list-bullet">
    <li>when comparing rows of numbers, align numbers to the right in table cells</li>
    <li>use the GOV.UK frontend toolkit's <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/docs/mixins.md#tabular-numbers" rel="external">tabular numbers</a> to allow numbers of the same width to be more easily compared</li>
  </ul>

<div class="example">
  {% include "snippets/data_table_numeric.html" %}
</div>

<pre>
<code class="language-markup">
  {% include "snippets/data_table_numeric.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="data-in-a-table">Data in a table</h3>
  <p>
    Not all content in tables should be right aligned.
  </p>

<div class="example">
  {% include "snippets/data_table.html" %}
</div>

<pre>
<code class="language-markup">
  {% include "snippets/data_table.html" %}
</code>
</pre>

<p>
  <a href="https://designpatterns.hackpad.com/Tables-AXM1FinduJR" rel="external">
    Discuss tables on the design patterns Hackpad
  </a>
</p>

  <h3 class="heading-medium" id="data-visualisation">Data visualisation</h3>
  <ul class="list list-bullet text">
    <li>data is recommended as an alternative to using images</li>
    <li>for screen readers, ensure the data value appears first so it makes sense when read aloud</li>
  </ul>

  <div class="example">
    <div class="grid-row">
      <div class="column-one-half">

        <div class="data">
          <h2 class="bold-xxlarge">24</h2>
          <p class="bold-xsmall">Ministerial departments</p>
        </div>

      </div>
      <div class="column-one-half">

        <div class="data">
          <h2 class="bold-xxlarge">80px</h2>
          <p class="bold-xsmall">16px</p>
        </div>

      </div>
    </div>
  </div>

  <div class="example">
    <div class="grid-row">
      <div class="column-one-half">

        <div class="data">
          <h2 class="bold-xlarge">56/154</h2>
          <p class="bold-xsmall">on GOV.UK</p>
        </div>

      </div>
      <div class="column-one-half">

        <div class="data">
          <h2 class="bold-xlarge">48px</h2>
          <p class="bold-xsmall">16px</p>
        </div>

      </div>
    </div>
  </div>

  <h3 class="heading-medium" id="examples">Examples</h3>
  <ul class="list list-bullet">
    <li>
      <a href="https://www.gov.uk/pay-leave-for-parents/y/yes/2013-1-2/employee/employee/yes/yes/122.00-week/yes/yes/yes/122.00-week/yes" rel="external">
        see an example of table usage on GOV.UK
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/performance/carers-allowance/volumetrics" rel="external">
        see an example of numeric table usage on GOV.UK
      </a>
    </li>
  </ul>

</main><!-- / #content -->
{% endblock %}
