{% extends "layout.html" %}

{% block page_title %}Form elements — GOV.UK elements{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "includes/phase_banner.html" %}
  {% include "includes/breadcrumb.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Form elements
  </h1>

  <p class="lede text">
    Keep forms as simple as possible &ndash; only ask what's needed to run your service.
  </p>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#form-optional-fields">Optional and mandatory fields</a></li>
        <li><a href="#form-labels">Labels</a></li>
        <li><a href="#form-fields">Form fields</a></li>
        <li><a href="#form-focus-states">Form focus states</a></li>
        <li><a href="#form-hint-text">Hint text</a></li>
        <li><a href="#form-spacing">Spacing</a></li>
        <li><a href="#form-fieldsets">Fieldsets</a></li>
        <li><a href="#form-select-boxes">Select boxes</a></li>
        <li><a href="#form-radio-buttons">Radio buttons</a></li>
        <li><a href="#form-checkboxes">Checkboxes</a></li>
        <li><a href="#form-toggle-content">Conditionally revealing content</a></li>
        <li><a href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>


  <h3 class="heading-medium" id="form-optional-fields">Optional and mandatory fields</h3>
  <ul class="text list list-bullet">
    <li>only ask for the information you absolutely need</li>
    <li>if you do ask for optional information, mark the labels of optional fields with '(optional)'</li>
    <li>don't mark mandatory fields with asterisks</li>
  </ul>

  <h3 class="heading-medium" id="form-labels">Labels</h3>
  <ul class="text list list-bullet">
    <li>all form fields should be given labels</li>
    <li>don't hide labels, unless the surrounding context makes them unnecessary</li>
    <li>labels should be aligned above their fields</li>
    <li>label text should be short, direct and in sentence case</li>
    <li>avoid colons at the end of labels</li>
    <li>labels should be associated with form fields using the <code class="code">for</code> attribute</li>
  </ul>
  <div class="example">
    {% include "form_labels.html" %}
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_labels.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="form-fields">Form fields</h3>
  <div class="text">
    <p>
      Make field widths proportional to the input they take.
    </p>
    <p>
      Ensure that users can enter the information they need at smaller screen sizes.
    </p>
    <p>
      Snap form fields to 100% width at smaller screen sizes.
    </p>
  </div>

  <p>
    <a href="https://designpatterns.hackpad.com/Text-boxes-imgij2JcsHO" rel="external">
      Discuss form fields on the design patterns Hackpad
    </a>
  </p>

  <h3 class="heading-medium" id="form-focus-states">Form focus states</h3>
  <div class="text">
    <p>
      All elements use the yellow focus style as a highlight, as either a fill or 3px outline.
    </p>
    <p>
      Click on the label "Full name" or inside the form field to show the focus state.
    </p>
  </div>

  <div class="example">
    {% include "form_focus.html" %}
  </div>

  <h3 class="heading-medium"  id="form-hint-text">Hint text</h3>
  <ul class="list list-bullet text">
    <li>don't use placeholder text in form fields, as this will disappear once content is entered into the form field</li>
    <li>use hint text for supporting contextual help, this will always be shown</li>
    <li>hint text should sit above a form field</li>
    <li>ensure hint text can be read correctly by screen readers</li>
  </ul>

  <div class="example">
    {% include "form_hint_text.html" %}
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_hint_text.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="form-spacing">Spacing between form elements</h3>
  <p class="text">
    Ensure there is sufficient spacing between form elements.
  </p>

  <div class="example">
    {% include "form_spacing.html" %}
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_spacing.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="form-fieldsets">Fieldsets and legends</h3>
  <p class="text">
    Use fieldsets to group related form controls. The first element inside a fieldset must be a <code class="code">legend</code> element which describes the group.
  </p>

  <h3 class="heading-medium" id="form-select-boxes">Select boxes</h3>
  <p class="text">
    Avoid using select boxes (drop-down lists) - use radio buttons or checkboxes instead.
  </p>

  <p>
    <a href="https://designpatterns.hackpad.com/Select-boxes-KzQ1IRd07HL" rel="external">
      Discuss select boxes on the design patterns Hackpad
    </a>
  </p>

  <h3 class="heading-medium" id="form-radio-buttons">Radio buttons</h3>
  <ul class="list list-bullet text">
    <li>use these to let users choose a single option from a list</li>
    <li>for more than two options, radio buttons should be stacked</li>
    <li>radio buttons with large hit areas are easier to select with a mouse or touch devices</li>
  </ul>

  <h4 class="heading-small">Inline radio buttons</h4>
  <div class="example">
    <form>
      {% include "form_radio_buttons_inline.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_radio_buttons_inline.html" %}
</code>
</pre>

  <h4 class="heading-small">Stacked radio buttons</h4>
  <div class="example">
    <form>
      {% include "form_radio_buttons.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_radio_buttons.html" %}
</code>
</pre>

  <h3 class="heading-medium" id="form-checkboxes">Checkboxes</h3>
  <ul class="list list-bullet text">
    <li>use these to select either on/off toggles or multiple selections</li>
    <li>make it clear with words when users can select one or multiple options</li>
  </ul>

  <h4 class="heading-small">Stacked checkboxes</h4>
  <div class="example">
    <form>
      {% include "form_checkboxes.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_checkboxes.html" %}
</code>
</pre>

  <h4 class="heading-small">Inline checkboxes</h4>
  <ul class="list list-bullet text">
    <li>large hit areas aren't always appropriate</li>
    <li>only pre-select options if there's a strong, user-centred reason to</li>
  </ul>

  <div class="example">
    <form>
      {% include "form_checkbox_native.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_checkbox_native.html" %}
</code>
</pre>

<p>
  <a href="https://designpatterns.hackpad.com/Radio-buttons-and-checkboxes-8eBuLm9eRaz" rel="external">
    Discuss radio buttons and checkboxes on the design patterns Hackpad
  </a>
</p>

  <h3 class="heading-medium" id="form-toggle-content">
    Conditionally revealing content
  </h3>
  <ul class="list list-bullet text">
    <li>reveal additional questions, depending on the context</li>
    <li>a left border is used to emphasise this supporting information</li>
  </ul>

  <h4 class="heading-small" id="form-toggle-content-radios">
    Radio buttons
  </h4>
  <div class="text">
    <p>Choose an option below to see how this works.</p>
  </div>

  <div class="example">
    <form>
      {% include "form_inset_radios.html" %}
    </form>
  </div>

  <div class="panel panel-border-wide text">
    <p>
      A grey left hand border is used to visually connect the revealed content with the question above.
    </p>
  </div>

<pre>
<code class="language-markup">
  <div class="panel panel-border-narrow"></div>
</code>
</pre>

  <div class="text">
    <p>
      The <a href="/typography/#typography-inset-text">inset text section</a> has more information on where and how to use panels (content with a grey left hand border).
    </p>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_inset_radios.html" %}
</code>
</pre>

  <p class="text">
     In the code snippet above, the <code class="language-markup">data-target=""</code> attribute is present on every label, as each option reveals an extra field.
  </p>

  <h4 class="heading-small" id="form-toggle-content-checkboxes">
    Checkboxes
  </h4>
  <p>
    Click on "Citizen of a different country" to see how this works.
  </p>
  <div class="example">
    <form>
      {% include "form_inset_checkboxes.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% include "snippets/form_inset_checkboxes.html" %}
</code>
</pre>

  <p>
    <a href="https://designpatterns.hackpad.com/Conditional-form-fields-powy4GQmLIx" rel="external">
      Discuss conditional form fields on the design patterns Hackpad
    </a>
  </p>

  <h3 class="heading-medium" id="examples">Examples</h3>
  <ul class="list list-bullet">
    <li><a href="/form-elements/example-form-elements/">form elements</a></li>
    <li><a href="/form-elements/example-date/">date pattern</a></li>
    <li><a href="/form-elements/example-radios-checkboxes/">radio buttons and checkboxes</a></li>
  </ul>

</main><!-- / #content -->
{% endblock %}
