{% extends "layout.html" %}

{% block page_title %}Formulárové prvky — Webové komponenty {% endblock %}

{% block main_content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Webové komponenty</span>
    Formulárové prvky
  </h1>

  <p class="lede text">
    Formuláre udržujte čo najjednoduchšie – vždy vyžadujte iba údaje nevyhnutné pre spustenie danej služby.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#form-optional-fields">Povinné a nepovinné polia</a></li>
        <li><a href="#form-labels">Názov dátového poľa</a></li>
        <li><a href="#form-fields">Formulárové polia</a></li>
        <li><a href="#form-textarea">Textové polia</a></li>
        <li><a href="#form-focus-states">Zvýraznenie aktívneho poľa</a></li>
        <li><a href="#form-hint-text">Pomocný text</a></li>
        <li><a href="#form-spacing">Odsadenie</a></li>
        <li><a href="#form-file-upload">Nahratie súboru</a></li>
        <li><a href="#form-fieldsets">Legendy</a></li>
        <li><a href="#form-select-boxes">Rozbaľovacie zoznamy</a></li>
        <li><a href="#form-radio-buttons">Prepínače</a></li>
        <li><a href="#form-checkboxes">Začiarkávacie políčka</a></li>
        <li><a href="#form-toggle-content">Podmienečne zobrazovaný obsah</a></li>
        <li><a href="#examples">Príklady</a></li>
      </ul>
    </div>
  </div>


  <h3 class="heading-medium" id="form-optional-fields">Povinné a nepovinné polia</h3>
  <ul class="text list list-bullet">
    <li>Vyžadujú sa iba tie údaje, ktoré sú bezprostredne potrebné k spusteniu služby.</li>
    <li>Pri nepovinných údajoch je potrebné tieto polia označiť ako nepovinné “(nepovinný údaj)”.</li>
    <li>Povinné polia sa neoznačujú hviezdičkou.</li>
  </ul>

  <h3 class="heading-medium" id="form-labels">Názov dátového poľa (ang. label)</h3>
  <ul class="text list list-bullet">
    <li>Každý formulárový prvok má priradený výstižný názov dátového poľa.</li>
    <li>Názvy dátových polí sa skrývajú iba v prípade, že sú vďaka okolitému kontextu nepotrebné.</li>
    <li>Názvy dátových polí musia byť zarovnané nad polia, ktoré označujú.</li>
    <li>Názvy dátových polí by mali byť krátke, zrozumiteľné a výstižné.</li>
    <li>Je potrebné sa vyhýbať dvojbodkám za menovkami.</li>
    <li>Názvy dátových polí sa uvádzajú v súlade s účelom použitia dátových prvkov.</li>
    <li>Názvy dátových polí musia byť priradené k poliam pomocou atribútu <code class="code">for</code></li>
  </ul>
  <div class="example">
    {% include "snippets/form_labels.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_labels.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-fields">Formulárové polia</h3>
  <div class="text">
    <p>
      Veľkosť polí musí zohľadňovať prípustný počet znakov daného dátového poľa (proporčne prispôsobená údajom, ktoré do nich budú vpisované).
    </p>
    <p>
      Je potrebné sa uistiť, že používatelia budú schopní zadať potrebné údaje aj na menších obrazovkách.
    </p>
    <p>
      Pri menších veľkostiach obrazoviek je vhodné roztiahnuť polia na celú šírku obrazovky.
    </p>
    <p>
      Formátovanie dátových polí je poskytované v súlade s formátom príslušných dátových prvkov.
    </p>
  </div>

  <h3 class="heading-medium" id="form-textarea">Textové polia</h3>
  <div class="text">
    <p>
      Výšku textového poľa nastavujeme úmerne k množstvu textu, ktorý sa doň bude vpisovať.
    </p>
  </div>

  <div class="example">
    {% include "snippets/form_textarea.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_textarea.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-focus-states">Zvýraznenie aktívneho poľa</h3>
  <div class="text">
    <p>
      Všetky elementy používajú žltú farbu na zvýraznenie aktívneho poľa. Žltou farbou sa vyplní celé vnútro poľa alebo sa použije žltý obrys veľkosti 3 pixelov.
    </p>
    <p>
      Ukážka: Pre zobrazenie aktívneho stavu kliknite v nasledujúcom príklade na “Meno a priezvisko” alebo do textového poľa.
    </p>
  </div>

  <div class="example">
    {% include "snippets/form_focus.html" %}
  </div>

  <h3 class="heading-medium"  id="form-hint-text">Pomocný text</h3>
  <ul class="list list-bullet text">
    <li>Nepoužívajte pomocný text vo vnútri textového poľa, keďže tento text sa stratí, akonáhle používateľ zadá akýkoľvek znak do textového poľa.</li>
    <li>Pomocný text alebo príklad, v akom formáte je potrebné zadať údaje, umiestnite nad konkrétnym elementom vo formulári tak, aby mohli byť zobrazené
      po celú dobu zadávania údajov.</li>
    <li>V pomocnom texte musí byť jednoznačne uvedené, čo má používateľ v danom prvku vyplniť alebo zvoliť a ako s ním má používateľ zaobchádzať.</li>
    <li>Overte si, že čítačky obrazoviek dokážu pomocný text správne prečítať.</li>
  </ul>

  <div class="example">
    {% include "snippets/form_hint_text.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_hint_text.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-spacing">Odsadenie elementov</h3>
  <p class="text">
    Uistite sa, že medzi jednotlivými elementami vo formulári je dostatok voľného miesta.
  </p>

  <div class="example">
    {% include "snippets/form_spacing.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_spacing.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-file-upload">Nahratie súboru</h3>
  <p>Pre nahratie súboru použite ovládací prvok, ktorý umožňuje používateľovi vybrať súbor.</p>

  <div class="example">
    {% include "snippets/form_file_upload.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_file_upload.html" %}
  {% endfilter %}
</code>
</pre>

  <div class="text">
    <p class="lead-in">
      Používajte natívny input element (načrtnutý v ukážke kódu vyššie) pomocou <code class="code">type="file"</code> a to z nasledovných dôvodov:
    </p>
    <ul class="list list-bullet">
      <li>na ovládací prvok sa dostaneme aj pri prechádzaní stránky len za pomoci tabulátora,</li>
      <li>funguje ovládanie pomocou klávesnice,</li>
      <li>funguje ovládanie pomocou asistenčných technológií,</li>
      <li>funguje aj pri vypnutom javascripte,</li>
      <li>môže byť rozšírený aj o pokročilú funkcionalitu cez javascript, pričom musí zostať zachovaná natívna funkcionalita a štandardy prístupnosti.</li>
    </ul>
    <p>
      Vlastné riešenia na nahratie súboru musia spĺňať vyššie uvedené kritériá.
    </p>
  </div>

  <h3 class="heading-medium" id="form-fieldsets">Legendy a skupiny polí (ang. fieldset)</h3>
  <p class="text">
    Skupiny polí (ang. fieldset) používame na zoskupenie súvisiacich prvkov. Prvým z elementov vo fieldsete musí byť legenda, ktorá popisuje celú skupinu prvkov.
  </p>
  <p class="text">
    Celý text, ktorý je dôležitý pri vypĺňaní formulára a nie je možné ho umiestniť ako pomocný text, by sa mal nachádzať v legende
    (viď <a href="#form-checkboxes">príklad</a> nižšie – začiarkavacie políčka). Legenda by taktiež nemala byť, kvôli asistenčným technológiam, príliš dlhá.
  </p>

  <h3 class="heading-medium" id="form-select-boxes">Rozbaľovacie zoznamy (ang. drop-down lists)</h3>
  <p class="text">
    Je potrebné sa vyhýbať používaniu rozbaľovacích zoznamov (drop-down lists). Namiesto nich je lepšie použiť prepínače
    (radio button) alebo začiarkavacie políčka (checkbox).
  </p>

  <div class="text">
    <p class="lead-in">
      Pri rozbaľovacích zoznamoch používajte natívne prvky pretože:
    </p>
    <ul class="list list-bullet">
      <li>na ovládací prvok sa dostaneme aj pri prechádzaní stránky len za pomoci tabulátora,</li>
      <li>funguje ovládanie pomocou klávesnice,</li>
      <li>funguje ovládanie pomocou asistenčných technológií,</li>
      <li>funguje aj pri vypnutom javascripte,</li>
      <li>môžu byť rozšírené aj o pokročilú funkcionalitu cez javascript, pričom musí zostať zachovaná natívna funkcionalita a štandardy prístupnosti.</li>
    </ul>
  </div>

  <div class="example">
    {% include "snippets/form_select_boxes.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_select_boxes.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-radio-buttons">Prepínače (ang. radio buttons)</h3>
  <ul class="list list-bullet text">
    <li>Využívajú sa v prípade, ak si má používateľ vybrať jednu z možností.</li>
    <li>Pre viac ako dve možnosti sa prepínače zarovnávajú pod seba.</li>
    <li>Prepínače by mali byť dostatočne veľké, aby sa dali ľahko použiť na PC (myš) ale aj dotykových zariadeniach (mobil, tablet).</li>
  </ul>

  <div class="text">
    <p class="lead-in">
      Pri prepínačoch používajte natívne prvky pretože:
    </p>
    <ul class="list list-bullet">
      <li>na ovládací prvok sa dostaneme aj pri prechádzaní stránky len za pomoci tabulátora,</li>
      <li>funguje ovládanie pomocou klávesnice,</li>
      <li>funguje ovládanie pomocou asistenčných technológií,</li>
      <li>funguje aj pri vypnutom javascripte,</li>
      <li>môžu byť rozšírené aj o pokročilú funkcionalitu cez javascript, pričom musí zostať zachovaná natívna funkcionalita a štandardy prístupnosti.</li>
    </ul>
  </div>

  <h4 class="heading-small">Prepínače umiestnené vedľa seba</h4>
  <div class="example">
    {% include "snippets/form_radio_buttons_inline.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_radio_buttons_inline.html" %}
  {% endfilter %}
</code>
</pre>

  <h4 class="heading-small">Prepínače umiestnené pod sebou</h4>
  <div class="example">
    {% include "snippets/form_radio_buttons.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_radio_buttons.html" %}
  {% endfilter %}
</code>
</pre>

  <h4 class="heading-small" id="form-radio-buttons-disabled">Neaktívny prepínač</h4>
  <div class="example">
    {% include "snippets/form_radio_buttons_disabled.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_radio_buttons_disabled.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-checkboxes">Začiarkavacie políčka (ang. checkboxes)</h3>
  <ul class="list list-bullet text">
    <li>Používa sa na výber viacerých možností zo zoznamu, alebo na zapnutie/vypnutie.</li>
    <li>Vždy je potrebné používateľovi zdôrazniť, či si môže vybrať jednu alebo viacero možností.</li>
    <li>Ak sa jedná o súhlas alebo potvrdenie, je dôležité nechať začiarkávacie v predvolenom stave prázdne.</li>
  </ul>

  <div class="text">
    <p class="lead-in">
      Pri začiarkávacích políčkach používajte natívne prvky pretože:
    </p>
    <ul class="list list-bullet">
      <li>na ovládací prvok sa dostaneme aj pri prechádzaní stránky len za pomoci tabulátora,</li>
      <li>funguje ovládanie pomocou klávesnice,</li>
      <li>funguje ovládanie pomocou asistenčných technológií,</li>
      <li>fungujú aj pri vypnutom javascripte,</li>
      <li>môžu byť rozšírené aj o pokročilú funkcionalitu cez javascript, pričom musí zostať zachovaná natívna funkcionalita a štandardy prístupnosti.</li>
    </ul>
  </div>

  <h4 class="heading-small">Začiarkavacie políčka umiestnené pod sebou</h4>
  <div class="example">
    {% include "snippets/form_checkboxes.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_checkboxes.html" %}
  {% endfilter %}
</code>
</pre>

  <h4 class="heading-small" id="form-checkboxes-disabled">Neaktívne začiarkavacie políčko</h4>
  <div class="example">
    {% include "snippets/form_checkboxes_disabled.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_checkboxes_disabled.html" %}
  {% endfilter %}
</code>
</pre>

  <p>
    Automaticky predvyplníme (začiarkneme) políčka iba vtedy, ak je to dôležité z hľadiska používateľa.
  </p>

  <div class="example">
    <form>
      {% include "snippets/form_checkbox.html" %}
    </form>
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_checkbox.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="form-toggle-content">
    Podmienečné odhaľovanie obsahu
  </h3>
  <ul class="list list-bullet text">
    <li>Dodatočné otázky, ktoré zobrazujeme na základe predchádzajúceho kontextu.</li>
    <li>Na zvýraznenie dodatočnej otázky používame vodiacu linku zarovnanú naľavo.</li>
  </ul>

  <h4 class="heading-small" id="form-toggle-content-radios">
    Prepínače
  </h4>
  <div class="text">
    <p>Vyberte jednu z možností uvedených v nasledujúcom príklade:</p>
  </div>

  <div class="example">
    {% include "snippets/form_inset_radios.html" %}
  </div>

  <pre>
  <code class="language-markup">
    {% filter escape %}
      {% include "snippets/form_inset_radios.html" %}
    {% endfilter %}
  </code>
  </pre>

  <p class="text">
    Tak ako je uvedené v časti kódu vyššie, pri každom názve dátového poľa sa nachádza atribút <code class="language-markup">data-target=""</code>
    (ang. label), keďže pri každej z možností sa zobrazí extra pole.
  </p>

  <div class="text">
    <p>
      Šedá vodiaca linka na ľavej strane vizuálne spája obsah s otázkou umiestnenou vyššie.
    </p>
  </div>

<div class="example">
  {% include "snippets/form_inset_panel.html" %}
</div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_inset_panel.html" %}
  {% endfilter %}
</code>
</pre>

  <h4 class="heading-small" id="form-toggle-content-checkboxes">
    Začiarkavacie políčka
  </h4>
  <p>
    Ukážka: Pre ukážku kliknite v nasledujúcom príklade na "Občan inej národnosti".
  </p>
  <div class="example">
    {% include "snippets/form_inset_checkboxes.html" %}
  </div>

<pre>
<code class="language-markup">
  {% filter escape %}
    {% include "snippets/form_inset_checkboxes.html" %}
  {% endfilter %}
</code>
</pre>

  <h3 class="heading-medium" id="examples">Príklady</h3>
  <ul class="list list-bullet">
    <li><a href="/form-elements/example-form-elements/">Formulárové prvky</a></li>
    <li><a href="/form-elements/example-date/">Dátumy</a></li>
    <li><a href="/form-elements/example-radios-checkboxes/">Prepínače a začiarkavacie políčka</a></li>
  </ul>

</main><!-- / #content -->
{% endblock %}
