{{<layout}}

{% block page_title %}GOV.UK elements{% endblock %}

{{$content}}

<main class="elements-index" id="content" role="main" tabindex="-1">

  {{>phase_banner}}
  {{>breadcrumb}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        GOV.UK elements
      </h1>

      <p class="lede">
        This guide shows how to make your service look consistent with the rest of GOV.UK.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/layout/">Layout</a></h2>
      <p>
        Grid unit proportions, gutters and spacing.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/typography/">Typography</a></h2>
      <p>
        Headings, body text, links, lists, inset text, hidden text.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/colour/">Colour</a></h2>
      <p>
        Colour contrast, Sass variables, colour palettes.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/icons-images/">Icons and images</a></h2>
      <p>
        Icons and image ratios.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/data/">Data</a></h2>
      <p>
        Data in a table, numeric tabular data, data visualisation.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/buttons/">Buttons</a></h2>
      <p>
        Button text, button alignment, creating buttons.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/form-elements/">Form elements</a></h2>
      <p>
        Form fields, labels, focus states, radio buttons, checkboxes.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/errors/">Errors and validation</a></h2>
      <p>
        Summary boxes, highlighting errors in forms.
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="{{site.baseurl}}/alpha-beta-banners/">Alpha and beta banners</a></h2>
      <p>
        How to create alpha and beta banners using the front-end toolkit.
      </p>

    </div>
  </div>

  <div class="grid-row divider">
    <div class="column-two-thirds">

      <h3 class="heading-small">Looking for the styles?</h3>
      <p>
         The Sass files for <a href="https://github.com/alphagov/govuk_elements/tree/master/public/sass" rel="external">all the examples can be found on GitHub</a>.
      </p>

      <h3 class="heading-small">Want to discuss these patterns?</h3>
      <p>
        <a href="https://designpatterns.hackpad.com/" rel="external">Discuss design patterns for GOV.UK services on our hackpad</a>.
      </p>

    </div>
  </div>

</main><!-- / #content -->
{{/content}}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {{>scripts}}
{% endblock %}

{{/layout}}
